<div class="creditsPanel_class">
	<div>
		<p>See NGDC's <a href="http://www.ngdc.noaa.gov/hazard/wildfire.shtml">Wildfire Page</a>.</p>
		<p>
		Data provided by the NOAA's <a href="http://www.ssd.noaa.gov" target="_blank">Satellite Services Division</a>.
		</p>
		<p>
		For more information on the Hazard Mapping System Fire and Smoke Product, see NOAA's 
		<a href="http://www.osdpd.noaa.gov/ml/land/hms.html" target="_top">
			Office of Satellite Data Processing and Distribution
		</a>
		</p>
		<p>
		For more information on the Wildfire Automated Biomass Burning Algorithm (WFABBA) see the 
		<a href="http://cimss.ssec.wisc.edu/goes/burn/wfabba.html" target="_top">
		UW-Madison CIMSS GOES Biomass Burning Monitoring Program
		</a>
		</p>
		<p>
		See also SSD's <a href="http://www.firedetect.noaa.gov/viewer.htm" target="_top">Fire and Smoke Analysis map</a>
		</p>
	</div>
	
	<!-- TODO how to attach to bottom of panel -->
	<div dojoAttachPoint="versionDiv" style="margin-top: 25px; font-size:small;">
		<b>Version:</b> ${version}, last updated ${lastUpdate}</p>
	</div>
</div>
