<div class="helpPanel_class">
<h3>Help with map navigation using mouse:</h3>
<ul>
	<li>Click and drag the map to pan</li>
    <li>SHIFT + Click to recenter</li>
    <li>SHIFT + Drag to zoom in to a box</li>
    <li>SHIFT + CTRL + Drag to zoom out</li>
    <li>Mouse Scroll Forward to zoom in</li>
    <li>Mouse Scroll Backward to zoom out</li>
    <li>Use Arrow keys to pan</li>
    <li>+ key to zoom in a level</li>
    <li>- key to zoom out a level</li>
    <li>SHIFT + Double Click to Center and Zoom in</li>
</ul>
<h3>Identifying features:</h3>
<ul>
	<li>Single-click on the map to identify features (operates on visible layers).</li>
	<li>A popup will appear with a list of the features near the click point.</li>
	<li>Mouse-over the list to highlight features on the map.</li>
	<li>Click the magnifying glass icon to zoom to the extent of a feature.</li>
	<li>Click on a row to view the attributes for that feature.</li>
	<li>Click "Show Summary" to view a summary of all identified features.</li>
	<li><img src="${basePath}/images/identify_rect.png" alt="Select with rectangle">: Identify features by drawing a rectangle on the map.</li>
	<li><img src="${basePath}/images/select_rect_xy.png" alt="Select with coordinates">: Identify features by entering coordinates in a bounding box.</li>
	<li><img src="${basePath}/images/query_1.gif" alt="Select Surveys">: Select surveys using a set of search criteria.</li>
	<li><img src="${basePath}/images/clearhighlight_1.gif" alt="Clear Selection">: Clear the selection.</li>
</ul>
<h3>Please send questions or comments to:</h3>
<a href="mailto:ngdc.maps@noaa.gov">ngdc.maps@noaa.gov</a>
</div>