<div class="dijitDialog" tabindex="-1" waiRole="dialog" waiState="labelledby-${id}_title">
	<div dojoAttachPoint="titleBar" class="dijitDialogTitleBar">
		<span dojoAttachPoint="titleNode" class="dijitDialogTitle" id="${id}_title"></span>
		<span dojoAttachPoint="closeButtonNode" class="dijitDialogCloseIcon" dojoAttachEvent="onclick: onCancel" title="${buttonCancel}">
			<span dojoAttachPoint="closeText" class="closeText" title="${buttonCancel}">x</span>
		</span>
	</div>
	<div dojoAttachPoint="containerNode" class="dijitDialogPaneContent">
<!--		<form dojoType="dijit.form.Form"> -->
		<div>
			<table id="coordinates">
    		<tr>
				<td class="center" colspan="2">    			
					<label>North:</label>
					<input name="maxy" dojoAttachPoint="maxyInput" class="coordInput" type="text" dojoType="dijit.form.NumberTextBox" constraints="{min:-85,max:85}" invalidMessage="latitude must be between -85 and 85" required="true" value=""/>
				</td>
			</tr>
    		<tr>
				<td class="left-align">
					<label>West:</label>
					<input name="minx" dojoAttachPoint="minxInput" class="coordInput" type="text"  dojoType="dijit.form.NumberTextBox" constraints="{min:-180,max:180}" invalidMessage="longitude must be between -180 and 180" required="true" value=""/>
				</td>
				<td class="right-align">
					<label>East:</label>
					<input name="maxx" dojoAttachPoint="maxxInput" class="coordInput" type="text"  dojoType="dijit.form.NumberTextBox" constraints="{min:-180,max:180}" invalidMessage="longitude must be between -180 and 180" required="true"value=""/>			
				</td>
			</tr>
			<tr>
				<td class="center" colspan="2">    			
					<label>South:</label>
					<input name="miny" dojoAttachPoint="minyInput" class="coordInput" type="text" dojoType="dijit.form.NumberTextBox" constraints="{min:-85,max:85}" invalidMessage="latitude must be between -85 and 85" required="true" value=""/>
				</td>
			</tr>
    		</table>
		</div>
		<span id="units">Latitude: -85 to 85; Longitude: -180 to 180<br/>(signed decimal degrees)</span>
		<hr style="width:75%;" />
		<div>
			<table id="buttons">
			<tr>
				<td class="center">
					<button dojoAttachPoint="okButton" dojoType="dijit.form.Button" type="submit">OK</button>
				</td>
				<td class="center">
					<button dojoAttachPoint="cancelButton" dojoType="dijit.form.Button" type="button">Cancel</button>
				</td>
				<td class="center">
					<button dojoAttachPoint="resetButton" dojoType="dijit.form.Button" type="button">Reset</button>
				</td>
			</tr>
			</table>
		</div>
	</div>
	
<!--	</form> -->
</div>

