<div class="dijitDialog" role="dialog" aria-labelledby="${id}_title">
    <div data-dojo-attach-point="titleBar" class="dijitDialogTitleBar">
        <span data-dojo-attach-point="titleNode" class="dijitDialogTitle" id="${id}_title"
              role="header" level="1"></span>
        <span style="display: none;" data-dojo-attach-point="closeButtonNode" class="dijitDialogCloseIcon"
              data-dojo-attach-event="ondijitclick: onCancel" title="${buttonCancel}" role="button" tabIndex="-1">
            <span data-dojo-attach-point="closeText" class="closeText" title="${buttonCancel}">x</span>
        </span>
    </div>
    <div data-dojo-attach-point="containerNode" class="dijitDialogPaneContent">
        <table cellpadding="6" cellspacing="3">
        <tr>
            <td colspan="2">
                Date of Data Collection:<br>
                <label for="startDateInput">Start:</label>
                <input type="text" data-dojo-attach-point='startDateInput' name="startDate" value="" data-dojo-type="dijit/form/DateTextBox" 
                    data-dojo-props="constraints: {datePattern: 'yyyy-MM-dd'}" style="width: 90px;"/>
                <label for="endDateInput">End:</label>
                <input type="text" data-dojo-attach-point='endDateInput' name="endDate" value="" data-dojo-type="dijit/form/DateTextBox"
                    data-dojo-props="constraints: {datePattern: 'yyyy-MM-dd'}" style="width: 90px;"/>
                <img id="dateHelp" class="tooltipButton" src="images/question-button.png">
                <div data-dojo-type="dijit/Tooltip" data-dojo-props="connectId:'dateHelp'">
                    <div class="tooltipText">Date format: YYYY-MM-DD</div>
                </div>   
            </td>     
        </tr>
        <tr>
            <td colspan="2">
                Date Added to Database:<br>
                <label for="startDateInput">Start:</label>
                <input type="text" data-dojo-attach-point='startDateAddedInput' name="startDateAdded" value="" data-dojo-type="dijit/form/DateTextBox" 
                    data-dojo-props="constraints: {datePattern: 'yyyy-MM-dd'}" style="width: 90px;"/>
                <label for="endDateAddedInput">End:</label>
                <input type="text" data-dojo-attach-point='endDateAddedInput' name="endDateAdded" value="" data-dojo-type="dijit/form/DateTextBox"
                    data-dojo-props="constraints: {datePattern: 'yyyy-MM-dd'}" style="width: 90px;"/>
                <img id="dateAddedHelp" class="tooltipButton" src="images/question-button.png">
                <div data-dojo-type="dijit/Tooltip" data-dojo-props="connectId:'dateAddedHelp'">
                    <div class="tooltipText">Date format: YYYY-MM-DD</div>
                </div>   
            </td>     
        </tr>
        <tr>
            <td align="left" colspan="2">               
                <label>Provider:</label><br/>
                <div data-dojo-attach-point="providerSelectDiv"></div>
            </td>
        </tr>
        <tr>
            <td align="left" colspan="2">               
                <label>Platform Name:</label><br/>
                <div data-dojo-attach-point="platformNameSelectDiv"></div>
            </td>
        </tr>
        <tr>
            <td align="left" colspan="2">               
                <label>Platform ID:</label><br/>
                <div data-dojo-attach-point="platformIdSelectDiv"></div>
            </td>
        </tr>
        <tr>
            <td>
                <input disabled data-dojo-attach-point="chkZoomToResults" data-dojo-type="dijit/form/CheckBox" checked="false" value="false" type="checkbox" name="chkZoomToResults"/>
                Zoom to Results
            </td>
        </tr>
        </table>  
        <div class="dijitDialogPaneActionBar right-align">
            <button class="left-align" data-dojo-type="dijit/form/Button" data-dojo-attach-point="resetButton">Reset</button>
            <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="cancelButton">Cancel</button>
            <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="submitButton" type="submit"><b>OK</b></button>
        </div> 
    </div>
</div>