<div class="filterPanel_class">
    <label title="Filter the Source Data and Data Products layers, and populate the BOS Scenarios"><b>Select Region:</b></label><br>
    <div style="width:150px;" data-dojo-type="dijit/form/Select" data-dojo-attach-point="regionSelect"></div><br><br>

    <label disabled><b>Select Phase:</b></label>
    <div style="width:50px;" data-dojo-type="dijit/form/Select" data-dojo-attach-point="phaseSelect">
        <option value="ONE">1</option>
        <option value="TWO">2</option>
        <option value="THREE">3</option>
        <option value="FOUR">4</option>
    </div><br><br>

    <label title="Filter the ECS Products layers"><b>Select BOS Scenario:</b></label>
    <div style="width:230px;" data-dojo-type="dijit/form/FilteringSelect" 
        data-dojo-attach-point="scenarioSelect" data-dojo-props="name: 'scenarioSelect', searchAttr: 'name', value: 0">
    </div>        
</div>
