<div class="layersPanel_class">
    <div id="formulaLinePane" data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Formula Line Products', open: false">
        <input type="checkbox" data-dojo-attach-point="chkFosProfile" data-dojo-type="dijit/form/CheckBox">
        <label for="chkFosProfile">FOS Profile</label><br>

        <input type="checkbox" data-dojo-attach-point="chkFosPoint" data-dojo-type="dijit/form/CheckBox">
        <label for="chkFosPoint">FOS Point</label><br>

        <input type="checkbox" data-dojo-attach-point="chk60mFormulaPoint" data-dojo-type="dijit/form/CheckBox">
        <label for="chk60mFormulaPoint">60 M Formula Point</label><br>

        <input type="checkbox" data-dojo-attach-point="chk60mFormulaLine" data-dojo-type="dijit/form/CheckBox">
        <label for="chk60mFormulaLine">60 M Formula Line</label><br>

        <input type="checkbox" data-dojo-attach-point="chkSedimentThicknessFormula" data-dojo-type="dijit/form/CheckBox">
        <label for="chkSedimentThicknessFormula">Sediment Thickness Formula</label><br>

        <input type="checkbox" data-dojo-attach-point="chkFinalFormulaLine" data-dojo-type="dijit/form/CheckBox">
        <label for="chkFinalFormulaLine">Final Formula Line</label><br>
    </div>
    <div id="constraintLinePane" data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Constraint Line Products', open: false">
        <input type="checkbox" data-dojo-attach-point="chkDistanceConstraintLine" data-dojo-type="dijit/form/CheckBox">
        <label for="chkDistanceConstraintLine">Distance Constraint Line</label><br>
        
        <input type="checkbox" data-dojo-attach-point="chk2500mIsobath" data-dojo-type="dijit/form/CheckBox">
        <label for="chk2500mIsobath">2500 m Isobath</label><br>

        <input type="checkbox" data-dojo-attach-point="chkEnvelopeFosPoints" data-dojo-type="dijit/form/CheckBox">
        <label for="chkEnvelopeFosPoints">Envelope of FOS Points</label><br>

        <input type="checkbox" data-dojo-attach-point="chkClipped2500mIsobath" data-dojo-type="dijit/form/CheckBox">
        <label for="chkClipped2500mIsobath">Clipped 2500 m Isobath</label><br>

        <input type="checkbox" data-dojo-attach-point="chkDepthConstraintPoint" data-dojo-type="dijit/form/CheckBox">
        <label for="chkDepthConstraintPoint">Depth Constraint Point</label><br>

        <input type="checkbox" data-dojo-attach-point="chkDepthConstraintLine" data-dojo-type="dijit/form/CheckBox">
        <label for="chkDepthConstraintLine">Depth Constraint Line</label><br>

        <input type="checkbox" data-dojo-attach-point="chkFinalConstraintLine" data-dojo-type="dijit/form/CheckBox">
        <label for="chkFinalConstraintLine">Final Constraint Line</label><br>
    </div>
    <div id="outerLimitPane" data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Outer Limit Products', open: false">
        <input type="checkbox" data-dojo-attach-point="chkOuterLimitPoint" data-dojo-type="dijit/form/CheckBox">
        <label for="chkOuterLimitPoint">Outer Limit Point</label><br>

        <input type="checkbox" data-dojo-attach-point="chkOuterLimitLine" data-dojo-type="dijit/form/CheckBox">
        <label for="chkOuterLimitLine">Outer Limit Line</label><br>

        <input type="checkbox" data-dojo-attach-point="chkEcsArea" data-dojo-type="dijit/form/CheckBox">
        <label for="chkEcsArea">ECS Area</label><br>
    </div>
    <div id="boundariesPane" data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Boundaries', open: false">
        <input type="checkbox" data-dojo-attach-point="chkBaselinePoints" data-dojo-type="dijit/form/CheckBox">
        <label for="chkBaselinePoints">Baseline Points</label><br>

        <input type="checkbox" data-dojo-attach-point="chkCoastline" data-dojo-type="dijit/form/CheckBox">
        <label for="chkCoastline">Coastline</label><br>

        <input type="checkbox" data-dojo-attach-point="chkInternational" data-dojo-type="dijit/form/CheckBox">
        <label for="chkInternational">International</label><br>
    </div>
    <div id="dataProductsPane" data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Data Products', open: false">
        <input type="checkbox" data-dojo-attach-point="chkSedimentThickness" data-dojo-type="dijit/form/CheckBox">
        <label for="chkSedimentThickness">Sediment Thickness</label><br>

        <input type="checkbox" data-dojo-attach-point="chkBathymetricProduct" data-dojo-type="dijit/form/CheckBox">
        <label for="chkBathymetricProduct">Bathymetric Product</label><br>

        <input type="checkbox" data-dojo-attach-point="chkBathymetricSlopeProduct" data-dojo-type="dijit/form/CheckBox">
        <label for="chkBathymetricSlopeProduct">Bathymetric Slope Product</label><br>

        <input type="checkbox" data-dojo-attach-point="chkBathymetricCurvatureProduct" data-dojo-type="dijit/form/CheckBox">
        <label for="chkBathymetricCurvatureProduct">Bathymetric Curvature Product</label><br>

        <input type="checkbox" data-dojo-attach-point="chkBackscatterProduct" data-dojo-type="dijit/form/CheckBox">
        <label for="chkBackscatterProduct">Backscatter Product</label><br>

        <input type="checkbox" data-dojo-attach-point="chkSeismicProduct" data-dojo-type="dijit/form/CheckBox">
        <label for="chkSeismicProduct">Seismic Product</label><br>

        <input type="checkbox" data-dojo-attach-point="chkVelocityGrid" data-dojo-type="dijit/form/CheckBox">
        <label for="chkVelocityGrid">Velocity Grid</label><br>

        <input type="checkbox" data-dojo-attach-point="chkBasementGeologyProduct" data-dojo-type="dijit/form/CheckBox">
        <label for="chkBasementGeologyProduct">Basement Geology Product</label><br>
    </div>
    <div id="sourceDataPane" data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Source Data', open: false">
        <input type="checkbox" data-dojo-attach-point="chkBathymetryData" data-dojo-type="dijit/form/CheckBox">
        <label for="chkBathymetryData">Bathymetry Data</label><br>

        <input type="checkbox" data-dojo-attach-point="chkBackscatterData" data-dojo-type="dijit/form/CheckBox">
        <label for="chkBackscatterData">Backscatter Data</label><br>

        <input type="checkbox" data-dojo-attach-point="chkSeismicData" data-dojo-type="dijit/form/CheckBox">
        <label for="chkSeismicData">Seismic Data</label><br>

        <input type="checkbox" data-dojo-attach-point="chkCombinedData" data-dojo-type="dijit/form/CheckBox">
        <label for="chkCombinedData">Combined Data</label><br>

        <input type="checkbox" data-dojo-attach-point="chkGravityData" data-dojo-type="dijit/form/CheckBox">
        <label for="chkGravityData">Gravity Data</label><br>

        <input type="checkbox" data-dojo-attach-point="chkMagneticsData" data-dojo-type="dijit/form/CheckBox">
        <label for="chkMagneticsData">Magnetics Data</label><br>

        <input type="checkbox" data-dojo-attach-point="chkGeologicData" data-dojo-type="dijit/form/CheckBox">
        <label for="chkGeologicData">Geologic Data</label><br>
    </div>
    <div id="pre2012Pane" data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Pre-2012 Source Data', open: false">
        <input type="checkbox" data-dojo-attach-point="chkMultibeam" data-dojo-type="dijit/form/CheckBox">
        <label for="chkMultibeam">Multibeam</label><br>

        <input type="checkbox" data-dojo-attach-point="chkTracklineBathymetry" data-dojo-type="dijit/form/CheckBox">
        <label for="chkTracklineBathymetry">Trackline Bathymetry</label><br>

        <input type="checkbox" data-dojo-attach-point="chkTracklineGravity" data-dojo-type="dijit/form/CheckBox">
        <label for="chkTracklineGravity">Trackline Gravity</label><br>

        <input type="checkbox" data-dojo-attach-point="chkTracklineMagnetics" data-dojo-type="dijit/form/CheckBox">
        <label for="chkTracklineMagnetics">Trackline Magnetics</label><br>

        <input type="checkbox" data-dojo-attach-point="chkTracklineMultiChannelSeismics" data-dojo-type="dijit/form/CheckBox">
        <label for="chkTracklineMultiChannelSeismics">Trackline Multi-Channel Seismics</label><br>

        <input type="checkbox" data-dojo-attach-point="chkTracklineSeismicRefraction" data-dojo-type="dijit/form/CheckBox">
        <label for="chkTracklineSeismicRefraction">Trackline Seismic Refraction</label><br>

        <input type="checkbox" data-dojo-attach-point="chkTracklineShotPointNavigation" data-dojo-type="dijit/form/CheckBox">
        <label for="chkTracklineShotPointNavigation">Trackline Shot-Point Navigation</label><br>

        <input type="checkbox" data-dojo-attach-point="chkTracklineSideScanSonar" data-dojo-type="dijit/form/CheckBox">
        <label for="chkTracklineSideScanSonar">Trackline Side Scan Sonar</label><br>

        <input type="checkbox" data-dojo-attach-point="chkTracklineSingleChannelSeismics" data-dojo-type="dijit/form/CheckBox">
        <label for="chkTracklineSingleChannelSeismics">Trackline Single Channel Seismics</label><br>

        <input type="checkbox" data-dojo-attach-point="chkTracklineSubbottomProfile" data-dojo-type="dijit/form/CheckBox">
        <label for="chkTracklineSubbottomProfile">Trackline Subbottom Profile</label><br>

        <input type="checkbox" data-dojo-attach-point="chkGeologicSamples" data-dojo-type="dijit/form/CheckBox">
        <label for="chkGeologicSamples">Geologic Samples</label><br>
    </div>
</div>