<div class="dijitDialog searchDialog" tabindex="-1" waiRole="dialog" waiState="labelledby-${id}_title">
	<div dojoAttachPoint="titleBar" class="dijitDialogTitleBar">
		<span dojoAttachPoint="titleNode" class="dijitDialogTitle" id="${id}_title"></span>
		<span dojoAttachPoint="closeButtonNode" class="dijitDialogCloseIcon" dojoAttachEvent="onclick: onCancel" title="${buttonCancel}"><span dojoAttachPoint="closeText" class="closeText" title="${buttonCancel}">x</span></span>
	</div>
	<div dojoAttachPoint="containerNode" class="dijitDialogPaneContent">
		<table cellpadding="6" cellspacing="3">			
			<tr>				
				<td align="left" colspan="2">					
					<input dojoAttachPoint="checkShowCurrentDarts" dojoType="dijit.form.CheckBox" checked="true" value="true" type="checkbox" name="showCurrentDarts" />
					<label for="checkShowCurrentDarts"><b>Show Current DART Stations</b></label>
				</td>
			</tr>
			<tr>
				<td align="left" colspan="2">		
				<hr>		
				<input dojoAttachPoint="checkShowRetrospectiveDarts" dojoType="dijit.form.CheckBox" checked="true" value="true" type="checkbox" name="showRetrospectiveDarts"  />
					<label for="checkShowRetrospectiveDarts"><b>Show Retrospective DART Stations</b></label>
				</td>
			</tr>
			<tr>
				<td>
					Dates Station Active:<br>
					<label for="startDateInput">Start:</label>
					<input dojoType="dijit.form.DateTextBox" id="startDateInput" dojoAttachPoint="startDateInput" name="startDate" type="text" style="width:8em;">
					<label for="endDateInput">End:</label>
					<input dojoType="dijit.form.DateTextBox" id="endDateInput" dojoAttachPoint="endDateInput" name="endDate" type="text" style="width:8em;"><br>
				</td>
			</tr>						
			<tr>
				<td>
					<button dojoAttachPoint="okButton" dojoType=dijit.form.Button type="submit">OK</button>
					<button dojoAttachPoint="cancelButton" dojoType=dijit.form.Button type="button">Cancel</button>
					<button dojoAttachPoint="resetButton" dojoType=dijit.form.Button type="button">Reset</button>
				</td>
			</tr>
		</table>
	</div>
</div>
