<div class="dijitDialog searchDialog" tabindex="-1" waiRole="dialog" waiState="labelledby-${id}_title">
	<div dojoAttachPoint="titleBar" class="dijitDialogTitleBar">
		<span dojoAttachPoint="titleNode" class="dijitDialogTitle" id="${id}_title"></span>
		<span dojoAttachPoint="closeButtonNode" class="dijitDialogCloseIcon" dojoAttachEvent="onclick: onCancel" title="${buttonCancel}"><span dojoAttachPoint="closeText" class="closeText" title="${buttonCancel}">x</span></span>
	</div>
	<div dojoAttachPoint="containerNode" class="dijitDialogPaneContent">
		<table cellpadding="6" cellspacing="3">
			<tr>
				<td>
					Year (-2150 to present):<br>
					<label for="startYearSpinner">Min:</label>
					<div dojoType="dijit.form.NumberSpinner" dojoAttachPoint="startYearSpinner" intermediateChanges="true" smallDelta="1" constraints="{min:-2150,max:2015,places:0,pattern:'0000'}" name="startYear" style="width: 55px"></div>
					<label for="endYearSpinner">Max:</label>
					<div dojoType="dijit.form.NumberSpinner" dojoAttachPoint="endYearSpinner" intermediateChanges="true" smallDelta="1" constraints="{min:-2000,max:2015,places:0,pattern:'0000'}" name="endYear" style="width: 55px"></div>
				</td>			
			</tr>
			<tr>
				<td align="left" colspan="2">
					<label for="regionSelect">
						Region Name
					</label>
					<select dojoType="dijit.form.FilteringSelect" dojoAttachPoint="regionSelect" maxHeight="200" name="region" style="width: 150px;">
						<option value="none selected" selected>none selected</option>
						<option value="150">North America and Hawaii</option>
						<option value="100">Central America</option>
						<option value="90">Caribbean</option>
						<option value="160">South America</option>
						<option value="70">Atlantic Ocean</option>
						<option value="15">Northern Africa</option>
						<option value="10">Central, Western and S. Africa</option>
						<option value="20">Antarctica</option>
						<option value="120">Northern and Western Europe</option>
						<option value="130">Southern Europe</option>
						<option value="110">Eastern Europe</option>
						<option value="140">Middle East</option>
						<option value="40">Central Asia and Caucasus</option>
						<option value="30">East Asia</option>
						<option value="60">S. and SE. Asia and Indian Ocean</option>
						<option value="170">Central and South Pacific</option>
						<option value="80">Bering Sea</option>
						<option value="50">Kamchatka and Kuril Islands</option>
					</select>
				</td>
			</tr>
			<tr>
				<td align="left" colspan="2">
					<label for="countrySelect">Country</label>
					<select dojoType="dijit.form.FilteringSelect" dojoAttachPoint="countrySelect" name="country" maxHeight="200" style="width: 150px;">
						<option value="none selected" selected></option>
						<option value="AFGHANISTAN">AFGHANISTAN</option>
						<option value="ALBANIA">ALBANIA</option>
						<option value="ALGERIA">ALGERIA</option>
						<option value="ANTARCTICA">ANTARCTICA</option>
						<option value="ANTIGUA AND BARBUDA">ANTIGUA AND BARBUDA</option>
						<option value="ARGENTINA">ARGENTINA</option>
						<option value="ARMENIA">ARMENIA</option>
						<option value="ATLANTIC OCEAN">ATLANTIC OCEAN</option>
						<option value="AUSTRALIA">AUSTRALIA</option>
						<option value="AUSTRIA">AUSTRIA</option>
						<option value="AZERBAIJAN">AZERBAIJAN</option>
						<option value="AZORES (PORTUGAL)">AZORES (PORTUGAL)</option>
						<option value="BANGLADESH">BANGLADESH</option>
						<option value="BARBADOS">BARBADOS</option>
						<option value="BELGIUM">BELGIUM</option>
						<option value="BERING SEA">BERING SEA</option>
						<option value="BHUTAN">BHUTAN</option>
						<option value="BOLIVIA">BOLIVIA</option>
						<option value="BOSNIA-HERZEGOVINA">BOSNIA-HERZEGOVINA</option>
						<option value="BRAZIL">BRAZIL</option>
						<option value="BRITISH VIRGIN ISLANDS">BRITISH VIRGIN ISLANDS</option>
						<option value="BULGARIA">BULGARIA</option>
						<option value="BURUNDI">BURUNDI</option>
						<option value="CAMEROON">CAMEROON</option>
						<option value="CANADA">CANADA</option>
						<option value="CANARY ISLANDS">CANARY ISLANDS</option>
						<option value="CAROLINE ISLANDS">CAROLINE ISLANDS</option>
						<option value="CENTRAL AFRICAN REPUBLIC">CENTRAL AFRICAN REPUBLIC</option>
						<option value="CHILE">CHILE</option>
						<option value="CHINA">CHINA</option>
						<option value="COLOMBIA">COLOMBIA</option>
						<option value="CONGO">CONGO</option>
						<option value="COOK ISLANDS">COOK ISLANDS</option>
						<option value="COSTA RICA">COSTA RICA</option>
						<option value="COTE D'IVOIRE">COTE D'IVOIRE</option>
						<option value="CROATIA">CROATIA</option>
						<option value="CUBA">CUBA</option>
						<option value="CYPRUS">CYPRUS</option>
						<option value="CZECH REPUBLIC">CZECH REPUBLIC</option>
						<option value="DJIBOUTI">DJIBOUTI</option>
						<option value="DOMINICAN REPUBLIC">DOMINICAN REPUBLIC</option>
						<option value="ECUADOR">ECUADOR</option>
						<option value="EGYPT">EGYPT</option>
						<option value="EL SALVADOR">EL SALVADOR</option>
						<option value="ERITREA">ERITREA</option>
						<option value="ETHIOPIA">ETHIOPIA</option>
						<option value="FIJI">FIJI</option>
						<option value="FRANCE">FRANCE</option>
						<option value="FRENCH GUIANA">FRENCH GUIANA</option>
						<option value="FRENCH POLYNESIA">FRENCH POLYNESIA</option>
						<option value="GABON">GABON</option>
						<option value="GEORGIA">GEORGIA</option>
						<option value="GERMANY">GERMANY</option>
						<option value="GHANA">GHANA</option>
						<option value="GREECE">GREECE</option>
						<option value="GRENADA">GRENADA</option>
						<option value="GUADELOUPE">GUADELOUPE</option>
						<option value="GUATEMALA">GUATEMALA</option>
						<option value="GUINEA">GUINEA</option>
						<option value="HAITI">HAITI</option>
						<option value="HONDURAS">HONDURAS</option>
						<option value="HUNGARY">HUNGARY</option>
						<option value="ICELAND">ICELAND</option>
						<option value="INDIA">INDIA</option>
						<option value="INDIAN OCEAN">INDIAN OCEAN</option>
						<option value="INDONESIA">INDONESIA</option>
						<option value="IRAN">IRAN</option>
						<option value="IRAQ">IRAQ</option>
						<option value="ISRAEL">ISRAEL</option>
						<option value="ITALY">ITALY</option>
						<option value="JAMAICA">JAMAICA</option>
						<option value="JAPAN">JAPAN</option>
						<option value="JORDAN">JORDAN</option>
						<option value="KAZAKHSTAN">KAZAKHSTAN</option>
						<option value="KENYA">KENYA</option>
						<option value="KERMADEC ISLANDS (NEW ZEALAND)">KERMADEC ISLANDS (NEW ZEALAND)</option>
						<option value="KIRIBATI">KIRIBATI</option>
						<option value="KYRGYZSTAN">KYRGYZSTAN</option>
						<option value="LAOS">LAOS</option>
						<option value="LEBANON">LEBANON</option>
						<option value="LIBYA">LIBYA</option>
						<option value="MACEDONIA">MACEDONIA</option>
						<option value="MALAWI">MALAWI</option>
						<option value="MALAYSIA">MALAYSIA</option>
						<option value="MARSHALL ISLANDS, REP. OF">MARSHALL ISLANDS, REP. OF</option>
						<option value="MARTINIQUE">MARTINIQUE</option>
						<option value="MEXICO">MEXICO</option>
						<option value="MICRONESIA, FED. STATES OF">MICRONESIA, FED. STATES OF</option>
						<option value="MONGOLIA">MONGOLIA</option>
						<option value="MOROCCO">MOROCCO</option>
						<option value="MOZAMBIQUE">MOZAMBIQUE</option>
						<option value="MYANMAR (BURMA)">MYANMAR (BURMA)</option>
						<option value="NEPAL">NEPAL</option>
						<option value="NETHERLANDS">NETHERLANDS</option>
						<option value="NEW CALEDONIA">NEW CALEDONIA</option>
						<option value="NEW ZEALAND">NEW ZEALAND</option>
						<option value="NICARAGUA">NICARAGUA</option>
						<option value="NORTH KOREA">NORTH KOREA</option>
						<option value="NORWAY">NORWAY</option>
						<option value="PACIFIC OCEAN">PACIFIC OCEAN</option>
						<option value="PAKISTAN">PAKISTAN</option>
						<option value="PANAMA">PANAMA</option>
						<option value="PAPUA NEW GUINEA">PAPUA NEW GUINEA</option>
						<option value="PERU">PERU</option>
						<option value="PHILIPPINES">PHILIPPINES</option>
						<option value="POLAND">POLAND</option>
						<option value="PORTUGAL">PORTUGAL</option>
						<option value="ROMANIA">ROMANIA</option>
						<option value="RUSSIA">RUSSIA</option>
						<option value="RWANDA">RWANDA</option>
						<option value="SAINT LUCIA">SAINT LUCIA</option>
						<option value="SAINT VINCENT AND THE GRENADINES">SAINT VINCENT AND THE GRENADINES</option>
						<option value="SAMOA">SAMOA</option>
						<option value="SAUDI ARABIA">SAUDI ARABIA</option>
						<option value="SERBIA AND MONTENEGRO">SERBIA AND MONTENEGRO</option>
						<option value="SIERRA LEONE">SIERRA LEONE</option>
						<option value="SLOVAKIA">SLOVAKIA</option>
						<option value="SLOVENIA">SLOVENIA</option>
						<option value="SOLOMON ISLANDS">SOLOMON ISLANDS</option>
						<option value="SOLOMON SEA">SOLOMON SEA</option>
						<option value="SOUTH AFRICA">SOUTH AFRICA</option>
						<option value="SOUTH CHINA SEA">SOUTH CHINA SEA</option>
						<option value="SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS">SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS</option>
						<option value="SOUTH KOREA">SOUTH KOREA</option>
						<option value="SPAIN">SPAIN</option>
						<option value="SRI LANKA">SRI LANKA</option>
						<option value="SUDAN">SUDAN</option>
						<option value="SWITZERLAND">SWITZERLAND</option>
						<option value="SYRIA">SYRIA</option>
						<option value="TAIWAN">TAIWAN</option>
						<option value="TAJIKISTAN">TAJIKISTAN</option>
						<option value="TANZANIA">TANZANIA</option>
						<option value="TASMAN SEA">TASMAN SEA</option>
						<option value="THAILAND">THAILAND</option>
						<option value="TIMOR SEA">TIMOR SEA</option>
						<option value="TOGO">TOGO</option>
						<option value="TONGA">TONGA</option>
						<option value="TRINIDAD AND TOBAGO">TRINIDAD AND TOBAGO</option>
						<option value="TUNISIA">TUNISIA</option>
						<option value="TURKEY">TURKEY</option>
						<option value="TURKMENISTAN">TURKMENISTAN</option>
						<option value="UGANDA">UGANDA</option>
						<option value="UK">UK</option>
						<option value="UK TERRITORY">UK TERRITORY</option>
						<option value="UKRAINE">UKRAINE</option>
						<option value="URUGUAY">URUGUAY</option>
						<option value="USA">USA</option>
						<option value="USA TERRITORY">USA TERRITORY</option>
						<option value="UZBEKISTAN">UZBEKISTAN</option>
						<option value="VANUATU">VANUATU</option>
						<option value="VENEZUELA">VENEZUELA</option>
						<option value="VIETNAM">VIETNAM</option>
						<option value="YEMEN">YEMEN</option>
						<option value="ZAMBIA">ZAMBIA</option>
					</select>
				</td>
			<tr>
				<td align="left" colspan="2">
					<label>Earthquake Magnitude:</label>
					<label for="minMagnitudeSpinner">Min</label>
					<div dojoType="dijit.form.NumberSpinner" dojoAttachPoint="minMagnitudeSpinner" intermediateChanges="true" smallDelta="0.1" constraints="{min:0,max:10,pattern:'0.0'}" name="minMagnitude" style="width: 55px"></div>
					<label for="maxMagnitudeSpinner">Max</label>
					<div dojoType="dijit.form.NumberSpinner" dojoAttachPoint="maxMagnitudeSpinner" intermediateChanges="true" smallDelta="0.1" constraints="{min:0,max:10,pattern:'0.0'}" name="maxMagnitude" style="width: 55px"></div>
				</td>
			</tr>
			<tr>
				<td align="left" colspan="2">
					<label>Intensity:</label>
					<label for="minIntensitySpinner">Min</label>
					<div dojoType="dijit.form.NumberSpinner" dojoAttachPoint="minIntensitySpinner" intermediateChanges="true" smallDelta="1" constraints="{min:0,max:12,places:0}" name="minIntensity" style="width: 55px"></div>
					<label for="maxIntensitySpinner">Max</label>
					<div dojoType="dijit.form.NumberSpinner" dojoAttachPoint="maxIntensitySpinner" intermediateChanges="true" smallDelta="1" constraints="{min:0,max:12,places:0}" name="maxIntensity" style="width: 55px"></div>
				</td>
			</tr>
			<tr>
				<td align="left" colspan="2">
					<label>Focal Depth:</label>
					<label for="minDepthSpinner">Min</label>
					<div dojoType="dijit.form.NumberSpinner" dojoAttachPoint="minDepthSpinner" intermediateChanges="true" smallDelta="10" constraints="{min:0,max:700,places:0}" name="minDepth" style="width: 55px"></div>
					<label for="maxDepthSpinner">Max</label>
					<div dojoType="dijit.form.NumberSpinner" dojoAttachPoint="maxDepthSpinner" intermediateChanges="true" smallDelta="10" constraints="{min:0,max:700,places:0}" name="maxDepth" style="width: 55px"></div>
				</td>
			</tr>
			<tr>
				<td>
					Number of Deaths:
					<br>
					<label for="minDeathsSelect">Min:</label>
					<select dojoType="dijit.form.FilteringSelect" dojoAttachPoint="minDeathsSelect" maxHeight="200" name="minDeaths" style="width: 150px;">
						<option value="">none selected</option>
						<option value="1">Few (~1 to 50 deaths)</option>
						<option value="2">Some (~51 to 100 deaths)</option>
						<option value="3">Many (~101 to 1000 deaths)</option>
						<option value="4">Very Many (~1001 or more deaths)</option>
					</select>
					<br>
					<label for="maxDeathsSelect">Max:</label>
					<select dojoType="dijit.form.FilteringSelect" dojoAttachPoint="maxDeathsSelect" maxHeight="200" name="maxDeaths" style="width: 150px;">
						<option value="">none selected</option>
						<option value="1">Few (~1 to 50 deaths)</option>
						<option value="2">Some (~51 to 100 deaths)</option>
						<option value="3">Many (~101 to 1000 deaths)</option>
						<option value="4">Very Many (~1001 or more deaths)</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					Damage in Millions of Dollars:
					<br>
					<label for="minDamageSelect">Min:</label>
					<select dojoType="dijit.form.FilteringSelect" dojoAttachPoint="minDamageSelect" maxHeight="200" name="minDamage" style="width: 150px;">
						<option value="">none selected</option>
						<option value="1">Limited (less than about $1 million) </option>
						<option value="2">Moderate (~$1 to $5 million)</option>
						<option value="3">Severe (~$5 to $24 million)</option>
						<option value="4">Extreme (~$25 million or more)</option>
					</select>
					<br>
					<label for="maxDamageSelect">Max:</label>
					<select dojoType="dijit.form.FilteringSelect" dojoAttachPoint="maxDamageSelect" maxHeight="200" name="maxDamage" style="width: 150px;">
						<option value="">none selected</option>
						<option value="1">Limited (less than about $1 million) </option>
						<option value="2">Moderate (~$1 to $5 million)</option>
						<option value="3">Severe (~$5 to $24 million)</option>
						<option value="4">Extreme (~$25 million or more)</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<label for="tsunamiAssoc">Only show earthquakes associated with a <b>Tsunami</b> or <b>Seiche</b>?</label>
					<input dojoAttachPoint="checkTsunamiAssoc" dojoType="dijit.form.CheckBox" checked="false" value="false" type="checkbox" name="tsunamiAssoc" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="volEventAssoc">Only show earthquakes associated with a <b>Volcanic eruption</b>?</label> 
					<input dojoAttachPoint="checkVolEventAssoc" dojoType="dijit.form.CheckBox" checked="false" value="false" type="checkbox" name="volEventAssoc" />
				</td>
			</tr>
			<tr>
				<td>
					<button dojoAttachPoint="okButton" dojoType=dijit.form.Button type="submit">
						OK
					</button>
					<button dojoAttachPoint="cancelButton" dojoType=dijit.form.Button type="button">
						Cancel
					</button>
					<button dojoAttachPoint="resetButton" dojoType=dijit.form.Button type="button">
						Reset
					</button>
				</td>
			</tr>			
		</table>
	</div>
</div>
