<div class="layersPanel_class">
    <br>
    <b>Passive Acoustic Data</b><br>

    <div data-dojo-type="dijit/form/Button" data-dojo-attach-point="searchButton" data-dojo-props="iconClass:'queryIcon', showLabel:true" id="searchButton"><b>Additional Filters</b></div>
    <div data-dojo-type="dijit/form/Button" data-dojo-attach-point="resetButton" data-dojo-props="iconClass:'clearSelectionIcon', showLabel:true" id="resetButton" disabled><b>Reset</b></div>
    <div id="currentFilter" class="filterText"></div><br><br>

    Passive acoustic monitoring of the ocean is a critical aspect of NOAA’s mandate for ocean and coastal data stewardship. Passive acoustic data are used broadly across NOAA’s National Marine Fisheries Service (NMFS), National Ocean Service (NOS), and Oceanic and Atmospheric Research (OAR) line offices for a wide range of activities central to NOAA’s mission including marine mammal stock assessments, monitoring of earthquake and geological activity, and assessing impacts of anthropogenic noise on marine life.<br><br>

    Information on the archive is available on the <a href="https://www.ngdc.noaa.gov/mgg/pad/" target="_blank">NCEI Passive Acoustic Data Archive</a> page.
</div>