<div class="dijitDialog" role="dialog" aria-labelledby="${id}_title">
    <div data-dojo-attach-point="titleBar" class="dijitDialogTitleBar">
        <span data-dojo-attach-point="titleNode" class="dijitDialogTitle" id="${id}_title"
              role="header" level="1"></span>
        <span style="display: none;" data-dojo-attach-point="closeButtonNode" class="dijitDialogCloseIcon"
              data-dojo-attach-event="ondijitclick: onCancel" title="${buttonCancel}" role="button" tabIndex="-1">
            <span data-dojo-attach-point="closeText" class="closeText" title="${buttonCancel}">x</span>
        </span>
    </div>
    <div data-dojo-attach-point="containerNode" class="dijitDialogPaneContent">
        <table cellpadding="3" cellspacing="1">
            <tr>
                <td colspan="2">
                    Deployment Date:<br>
                    <label for="startDateInput">Start:</label>
                    <input type="text" data-dojo-attach-point='startDateInput' name="startDate" id="startDate" value="" data-dojo-type="dijit/form/DateTextBox" 
                        data-dojo-props="constraints: {datePattern: 'yyyy-MM-dd'}" style="width: 90px;"/>
                    <label for="endDateInput">End:</label>
                    <input type="text" data-dojo-attach-point='endDateInput' name="endDate" id="endDate" value="" data-dojo-type="dijit/form/DateTextBox"
                        data-dojo-props="constraints: {datePattern: 'yyyy-MM-dd'}" style="width: 90px;"/>
                    <img id="dateHelp" class="tooltipButton" src="images/question-button.png">
                    <div data-dojo-type="dijit/Tooltip" data-dojo-props="connectId:'dateHelp'">
                        <div class="tooltipText">Date format: YYYY-MM-DD</div>
                    </div>
                </td>   
            </tr>
            <tr>
                <td>
                    Source Organization:&nbsp;&nbsp;&nbsp;
                    <input data-dojo-attach-point="chkAllSourceOrganizations" data-dojo-type="dijit/form/CheckBox" checked="true" value="true" type="checkbox" name="chkAllSourceOrganizations"/>
                    <label>All</label><br>
                    <select multiple="true" data-dojo-attach-point="sourceOrganizationSelect" class="surveySelect-multiSelect" name="sourceOrganizations" data-dojo-type="dojox/form/CheckedMultiSelect"/>
                </td>
                <td>
                    Funding Organization:&nbsp;&nbsp;&nbsp;
                    <input data-dojo-attach-point="chkAllFundingOrganizations" data-dojo-type="dijit/form/CheckBox" checked="true" value="true" type="checkbox" name="chkAllFundingOrganizations"/>
                    <label>All</label><br>
                    <select multiple="true" data-dojo-attach-point="fundingOrganizationSelect" class="surveySelect-multiSelect" name="fundingOrganizations" data-dojo-type="dojox/form/CheckedMultiSelect"/>
                </td>                
            </tr>
            <tr>
                <td>
                    Instrument:&nbsp;&nbsp;&nbsp;
                    <input data-dojo-attach-point="chkAllInstruments" data-dojo-type="dijit/form/CheckBox" checked="true" value="true" type="checkbox" name="chkAllInstruments"/>
                    <label>All</label><br>
                    <select multiple="true" data-dojo-attach-point="instrumentSelect" class="surveySelect-multiSelect" name="instruments" data-dojo-type="dojox/form/CheckedMultiSelect"/>
                </td>
                <td>
                    Platform Type:&nbsp;&nbsp;&nbsp;
                    <input data-dojo-attach-point="chkAllPlatformTypes" data-dojo-type="dijit/form/CheckBox" checked="true" value="true" type="checkbox" name="chkAllPlatformTypes"/>
                    <label>All</label><br>
                    <select multiple="true" data-dojo-attach-point="platformTypeSelect" class="surveySelect-multiSelect" name="platformTypes" data-dojo-type="dojox/form/CheckedMultiSelect"/>
                </td>
            </tr>
            <tr>
                <td>
                    Project Name:&nbsp;&nbsp;&nbsp;
                    <input data-dojo-attach-point="chkAllProjects" data-dojo-type="dijit/form/CheckBox" checked="true" value="true" type="checkbox" name="chkAllProjects"/>
                    <label>All</label><br>
                    <select multiple="true" data-dojo-attach-point="projectSelect" class="surveySelect-multiSelect" name="projects" data-dojo-type="dojox/form/CheckedMultiSelect"/>
                </td>                
            </tr>
            <tr>
                <td>
                    Sample Rate (kHz):<br>
                    <label for="minSampleRateSpinner">Min:</label>
                    <div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="minSampleRateSpinner" 
                        data-dojo-props="constraints:{min:0}" name="minSampleRate" style="width: 55px"></div>
                    <label for="maxSampleRateSpinner">Max:</label>
                    <div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="maxSampleRateSpinner" 
                        data-dojo-props="constraints:{min:0}" name="maxSampleRate" style="width: 55px"></div><br><br>

                    Sensor Depth (m):<br>
                    <label for="minSensorDepthSpinner">Min:</label>
                    <div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="minSensorDepthSpinner" 
                        data-dojo-props="constraints:{min:0,max:10000}" name="minSensorDepth" style="width: 55px"></div>
                    <label for="maxSensorDepthSpinner">Max:</label>
                    <div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="maxSensorDepthSpinner" 
                        data-dojo-props="constraints:{min:0,max:10000}" name="maxSensorDepth" style="width: 55px"></div><br><br>

                    Bottom Depth (m):<br>
                    <label for="minBottomDepthSpinner">Min:</label>
                    <div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="minBottomDepthSpinner" 
                        data-dojo-props="constraints:{min:0,max:10000}" name="minBottomDepth" style="width: 55px"></div>
                    <label for="maxBottomDepthSpinner">Max:</label>
                    <div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="maxBottomDepthSpinner" 
                        data-dojo-props="constraints:{min:0,max:10000}" name="maxBottomDepth" style="width: 55px"></div>
                </td>
                <td>
                    <!-- Recording Duration:&nbsp;&nbsp;&nbsp;
                    <input data-dojo-attach-point="chkRecordingDurationContinuous" data-dojo-type="dijit/form/CheckBox" checked="true" value="true" type="checkbox" name="chkRecordingDurationContinuous"/>
                    <label>Continuous</label><br> -->
                    Percent of time recording during deployment:<br>
                    <select data-dojo-attach-point="recordingDurationSelect" data-dojo-type="dijit/form/Select" style="width: 100px">
                        <option value="" selected="selected"></option>
                        <option value="100">100% (continuous)</option>
                        <option value="75-100">greater than 75%</option>
                        <option value="50-75" >50-75%</option>
                        <option value="25-50">25-50%</option>
                        <option value="0-25">less than 25%</option>
                    </select><br><br>
                    Number of Channels:&nbsp;&nbsp;&nbsp;
                    <select data-dojo-attach-point="numChannelsSelect" data-dojo-type="dijit/form/Select" style="width: 50px">
                        <option value="" selected="selected"> </option>
                        <option value="1">1</option>
                        <option value="2" >2</option>
                        <option value="3+">3+</option>
                    </select>
                </td>
            </tr> 
            <tr>
                <td>
                    <input disabled data-dojo-attach-point="chkZoomToResults" data-dojo-type="dijit/form/CheckBox" checked="false" value="false" type="checkbox" name="chkZoomToResults"/>
                    Zoom to Results
                </td>                
            </tr>
        </table>

        <div class="dijitDialogPaneActionBar right-align">
            <button class="left-align" data-dojo-type="dijit/form/Button" data-dojo-attach-point="resetButton">Reset</button>
            <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="cancelButton">Cancel</button>
            <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="submitButton" type="submit"><b>OK</b></button>
        </div>
    </div>
</div>