<div class="layersPanel_class">
    <input type="checkbox" id="chkDatasetsReports" data-dojo-attach-point="chkDatasetsReports" data-dojo-type="dijit/form/CheckBox">
    <label for="chkDatasetsReports">Datasets/Reports</label><br>

    <input type="checkbox" id="chkSampleIndex" data-dojo-attach-point="chkSampleIndex" data-dojo-type="dijit/form/CheckBox">
    <label for="chkSampleIndex">Sample Index</label><br>

    <input type="checkbox" id="chkNosSeabed" data-dojo-attach-point="chkNosSeabed" data-dojo-type="dijit/form/CheckBox">
    <label for="chkNosSeabed">NOS Seabed Descriptions</label>    
</div>