<div class="layersPanel_class">
    <input type="checkbox" id="chkMarineGeology" data-dojo-attach-point="chkMarineGeology" data-dojo-type="dijit/form/CheckBox">
    <label for="chkMarineGeology">Marine Geology Data Sets/Reports</label><br>

    <input type="checkbox" id="chkSampleIndex" data-dojo-attach-point="chkSampleIndex" data-dojo-type="dijit/form/CheckBox">
    <label for="chkSampleIndex">Index to Marine and Lacustrine Geological Samples</label><br>

    <input type="checkbox" id="chkNosSeabed" data-dojo-attach-point="chkNosSeabed" data-dojo-type="dijit/form/CheckBox">
    <label for="chkNosSeabed">NOS Seabed Descriptions from Hydrographic Surveys</label>    
</div>