<div>
    <div data-dojo-type="dijit/form/Button" data-dojo-attach-point="contactUsButton" id="contactUsButton">Contact Us</div>
    <br><br>
    <b>Navigating the map</b><br>
    <ul>
        <li>Click and drag or use arrow keys to pan</li>
        <li>Mouse scroll forward or use + key to zoom in</li>
        <li>Mouse scroll backward or use - key to zoom out</li>
    </ul>

    <b>Identifying features</b><br>
    You have several options to identify features 
    within visible layers:
    <ul>
        <li>Single-click on the map</li>
        <li>Or, choose another tool from the "Identify" menu:
        <li>Click on <img src="${identifyRectIconUrl}" alt="Identify with rectangle icon"> to draw a rectangle</li>
        <li>Click on <img src="${identifyPolyIconUrl}" alt="Identify with rectangle icon"> to draw a polygon</li>
        <li>Click on <img src="${identifyCoordsIconUrl}" alt="Identify with coordinates icon"> to enter coordinates for a bounding box</li>
    </ul>
    A popup will appear with a list of the selected features.
    Mouse-over the list of files within an instrument 
    folder to highlight features on the map (blue line).
    Click the magnifying glass icon <img src="${magnifyingGlassIconUrl}" alt="Magnifying glass icon"> to zoom to that feature.
    Click on a row to view attributes for that feature.<br><br>

    <h4>Searching for surveys:</h4>
    <ul>
        <li><i>Search Marine Surveys</i> or <i>Search Airborne Surveys</i>: opens a search dialog where a filter can be applied to the data shown on the map.</li>
        <li>The current search criteria will be displayed in the Layers panel.</li>
        <li><i>Reset Searches</i>: resets the filter for both marine and airborne surveys.</li>
    </ul>

    <h4>Requesting data (3 different options):</h4>
    <ol>
        <li>After identifying surveys, click <i>Get Marine Data for These Surveys</i> in the popup to open a new page where you can request and download the data for the currently-identified set of surveys (marine surveys only).</li>
        <li>Click <i>Get Marine Data</i> in the Layers panel to open a new page and request data that meet the search criteria, without defining a geographic area first (marine surveys only).</li>
        <li>After identifying surveys, click on a row to view the attributes. Click "Get Marine Data for this Survey" in the popup to request and download the data for this survey.</li>
    </ol>
</div>