<div>
    <p>This program creates grids and maps from multibeam data.</p>
    <br/>
    To create a new map, provide the following:
    <ol>
        <li>Your email address</li>
        <li>Area of interest</li>
        <li>Parameters for the grid and map</li>
        <li>Select "Create" button</li>
    </ol>
    <br/>
    <p>Your request is submitted for processing and you will be notified by email when the
        job is complete.  This normally takes less than one hour, but can vary due to the size
        of your request and the number of other users of the system.</p>
    <br/>
    Due to processing capacity, your request must abide by a few limits:
    <ul>
        <li>total number of grid cells must be less than 1,000,000</li>
        <li>total number of survey lines must be less than 3,000</li>
    </ul>
    <br/>
    <p>To select an area of interest, use the "Identify" map tool in the upper right. Either draw a rectangular area on
        map or enter the corner points of a bounding box using decimal degrees.  Longitudes in the
        western hemisphere are specified with negative values as are Latitudes in the southern hemisphere.</p>
    <br/>
    <p>If you have any questions, please email mb.info@noaa.gov</p>
</div>
