<div>
    This program creates grids and map images from multibeam bathymetry data.
    Three grid types are created:
    <ul>
        <li>NetCDF binary grid
        <li>ESRI ASCII Raster grid
        <li>XYZ (lon/lat/depth) grid.
    </ul>
    Map images are produced in postscript, pdf, jpg, png, and gif formats.

    To create a new map, use the interface to provide the following:
    <ul>
    <li>Your email address
    <li>Area of interest
    <li>Parameters for the request using the options tabs below
    <li>Select "Submit Request" button
    </ul>
    To define an area of interest, select either the <i>Draw Rectangle</i> or <i>Define Bounding Box</i> tools in the </i>Area of Interest</i> menu at the upper-right of the map.<br><br>
    <i>Draw Rectangle</i>: click and drag to draw a box (note: not available on the Arctic view).<br>
    <i>Define Bounding Box</i>: define a bounding box by entering the geographic limits in signed decimal degrees. 
    Longitudes in the western hemisphere are specified with negative values, as are latitudes in the southern hemisphere.<br><br>

    Due to processing capacity, your request must abide by a few limits. Your request will not be submitted if the following conditions are not met:
    <ul>
    <li>total number of grid cells must be less than 1,000,000
    <li>total number of survey lines must be less than 3,000
    </ul>

    Selecting "Background Fill" under options will instruct the application to populate data from the ETOPO1 Global Relief Model into any cells that do not contain multibeam bathymetry. You can also adjust the depth contour interval, color palette used, and title of the map to be created for your job.

    Your request is submitted for processing and you will be notified by email when the job is complete. This normally takes less than one hour, but can vary due to the size of your request and the number of other users of the system.

    If you have any questions or suggestions for improvement, please email mb.info@noaa.gov
</div>

