<div>
    <b>Navigating the map</b><br>
    <ul>
        <li>Click and drag or use arrow keys to pan</li>
        <li>Mouse scroll forward or use + key to zoom in</li>
        <li>Mouse scroll backward or use - key to zoom out</li>
    </ul>

    Please send questions or comments about the 
    map to:
    <a href="mailto:ngdc.maps@noaa.gov">ngdc.maps@noaa.gov</a><br>

    For questions specific to multibeam bathymetry data, please contact:
    <p>If you have any questions, please email mb.info@noaa.gov</p>
    <a href="mailto:mb.info@noaa.gov">mb.info@noaa.gov</a>
    <br><br>

    Map viewer version: @application.version@, last update @application.buildDate@
</div>