<div class="creditsPanel_class">
    <p>
        For more information about the data included in this map, please see: <a href="//ngdc.noaa.gov/hazard/geotherm.shtml" target="_blank">Geothermal Energy Information at NCEI</a>.<br><br>
        The locations of thermal springs on this map were originally published in:<br>
        George W. Berry, Paul J. Grimm, and Joy A. Ikelman. <i>Thermal Springs List for the United States</i>. National Oceanic and Atmospheric Administration Key to Geophysical Records Documentation No. 12. Retrieved from <a href="http://www.ngdc.noaa.gov/hazard/data/publications/Kgrd-12.pdf" target="_blank">http://www.ngdc.noaa.gov/hazard/data/publications/Kgrd-12.pdf</a> (3 MB PDF).
    </p>
    <p>
        <b>Basemap/reference layers:</b>
    <ul>
        <li>World Topo Map: <a href="http://www.arcgis.com/home/item.html?id=30e5fe3149c34df1ba922e6f5bbf808f" target="_blank">Esri World Topo Map</a></li>
        <li>USA Topo Maps: <a href="http://www.arcgis.com/home/item.html?id=99cd5fbd98934028802b4f797c4b1732" target="_blank">Esri USA Topo Maps</a></li>
        <li>Light Gray: <a href="http://www.arcgis.com/home/item.html?id=8b3d38c0819547faa83f7b7aca80bd76" target="_blank">Esri Light Gray Canvas</a></li>        
        <li>Dark Gray: <a href="http://www.arcgis.com/home/item.html?id=1970c1995b8f44749f4b9b6e81b5ba45" target="_blank">Esri Dark Gray Canvas</a></li>        
        <li>
            Imagery: <a href="http://www.arcgis.com/home/item.html?id=10df2279f9684e4a9f6a7f08febac2a9" target="_blank">Esri World Imagery</a>
        </li>
        <li>
            Ocean: <a href="http://www.arcgis.com/home/item.html?id=5ae9e138a17842688b0b79283a4353f6" target="_blank">Esri Ocean Basemap</a>
        </li>
        <li>National Geographic: <a href="http://www.arcgis.com/home/item.html?id=d94dcdbe78e141c2b2d3a91d5ca8b9c9" target="_blank">Esri/National Geographic Basemap</a></li>
    </ul>
    </p>
    <p>
        <b>Map projection:</b> WGS84 Web Mercator (Auxiliary Sphere); EPSG:3857
    </p>
    <p>
        <b>Disclaimer:</b>
    <ul>
        <li>
            All international boundaries, maritime boundaries, and placenames are shown for general orientation and reference only; they do not necessarily represent official U.S. policy.
        </li>
    </ul>
    Some icons on this webpage are from the <a href="http://p.yusukekamiyamane.com/" target="_blank">Fugue Icons Collection</a>.
    </p>
    <p>
        <b>Version:</b>
        @application.version@, last updated @application.buildDate@
    </p>
</div>