<div class="creditsPanel_class">
    <p>
        <b>For more information about the data layers included in this map:</b>
    <ul>
        <li>
            <a href="https://ngdc.noaa.gov/mgg/bathymetry/multibeam.html" target="_blank"><b>Multibeam Bathymetric Surveys</b></a><br>
            <i>NOAA GeoPlatform entries:</i>
            <ul>
                <li><a href="https://noaa.maps.arcgis.com/home/item.html?id=db08517a205b48c98a9bc53fece67a46" target="_blank">Multibeam Bathymetric Surveys</a></li>
                <li><a href="https://noaa.maps.arcgis.com/home/item.html?id=0441041574c544dc9b6b8a513cad5e95" target="_blank">Multibeam Bathymetry Mosaic</a></li>
                <li><a href="https://noaa.maps.arcgis.com/home/item.html?id=6b16e66ffd3740b5820875ad0af25042" target="_blank">Multibeam Bathymetry Mosaic: Shaded Relief Visualization</a></li>
            </ul>
        </li>
        <li>
            <a href="https://ngdc.noaa.gov/mgg/geodas/trackline.html" target="_blank"><b>Single-Beam Bathymetric Surveys (Trackline Bathymetry)</b></a><br>
            <i>NOAA GeoPlatform entries:</i>
            <ul>
                <li><a href="https://noaa.maps.arcgis.com/home/item.html?id=9548e62e560d4fcc8183337c54124747" target="_blank">Trackline Geophysical Data</a></li>
                <li><a href="https://noaa.maps.arcgis.com/home/item.html?id=a32b23c4407643f4829e622a295ec5a2" target="_blank">Trackline Bathymetry Density</a></li>
            </ul>
        </li>
        <li>
            <a href="https://ngdc.noaa.gov/mgg/bathymetry/hydro.html" target="_blank"><b>NOS Hydrographic Surveys</b></a><br>
            <i>NOAA GeoPlatform entries:</i>
            <ul>
                <li><a href="https://noaa.maps.arcgis.com/home/item.html?id=f8ca92b0f19a4de3887bdc160f73106e" target="_blank">NOS Hydrographic Survey Data</a></li>
                <li><a href="https://noaa.maps.arcgis.com/home/item.html?id=af0614c88e0d4cad9a72115a944b37ff" target="_blank">Bathymetric Attributed Grid (BAG) Shaded Relief Visualization</a></li>
                <li><a href="https://noaa.maps.arcgis.com/home/item.html?id=2320b46f76c34230a72a70029a970f64" target="_blank">Bathymetric Attributed Grid (BAG) Image Services</a></li>
            </ul>
        </li>
        <li>
            <a href="https://ngdc.noaa.gov/mgg/bathymetry/relief.html" target="_blank"><b>Digital Elevation Models</b></a><br>
            <i>NOAA GeoPlatform entries:</i>
            <ul>
                <li><a href="https://noaa.maps.arcgis.com/home/item.html?id=d41f39c8a6684c54b62c8f1ab731d5ad" target="_blank">DEM Footprints</a></li>
                <li><a href="https://noaa.maps.arcgis.com/home/item.html?id=e9ba2e7afb7d46cd878b34aa3bfce042" target="_blank">DEM Mosaic (Individual DEMs)</a><br /></li>
                <li><a href="https://noaa.maps.arcgis.com/home/item.html?id=c876e3c96a8642ab8557646a3b4fa0ff" target="_blank">DEM Global Mosaic (Elevation Values)</a></li>
                <li><a href="https://noaa.maps.arcgis.com/home/item.html?id=feb3c625dc094112bb5281c17679c769" target="_blank">DEM Global Mosaic (Color Shaded Relief)</a></li>
                <li><a href="https://noaa.maps.arcgis.com/home/item.html?id=bf72d32c6a00407bb67a285845a7fa32" target="_blank">DEM Tiles Mosaic (Newer Tiled DEMs; Elevation Values)</a></li>
                <li><a href="https://noaa.maps.arcgis.com/home/item.html?id=de9cc0c7d2d1462bbac3846b538e0975" target="_blank">DEM Tiles Mosaic (Newer Tiled DEMs; Color Shaded Relief)</a></li>
            </ul>
            Newer NCEI "Tiled" 1/9 and 1/3 arc-second DEMs are hosted at <a href="https://coast.noaa.gov/dataviewer/" target="_blank">NOAA's Office for Coastal Management</a>.
        </li>
        <li>
            <a href="https://coast.noaa.gov/dataviewer" target="_blank"><b>Bathymetric Lidar from NOAA's Office for Coastal Management</b></a>
        </li>        
    </ul>
    </p>
    <p>
        <b>Basemap/reference layers:</b>
    <ul>
        <li>
            GEBCO_2014: A shaded relief visualization of the <a href="https://www.gebco.net/data_and_products/gridded_bathymetry_data" target="_blank">GEBCO_2014 Grid</a>. This visualization of the GEBCO_2014 grid was produced by NOAA/NCEI. <a href="https://noaa.maps.arcgis.com/home/item.html?id=6e95b4468f724a3e926a7e77986fba0d" target="_blank">More information on NOAA's GeoPlatform</a>.
        </li>
        <li>
            GEBCO_2014 Grayscale: A shaded relief visualization of the <a href="https://www.gebco.net/data_and_products/gridded_bathymetry_data" target="_blank">GEBCO_2014 Grid</a>. This visualization of the GEBCO_2014 grid was produced by NOAA/NCEI. <a href="https://noaa.maps.arcgis.com/home/item.html?id=176ff21e3a6843df8562df4ca98ffc06" target="_blank">More information on NOAA's GeoPlatform</a>.
        </li>
        <li>
            <a href="https://www.gmrt.org/" target="_blank">Global Multi-Resolution Topography (GMRT)</a> synthesis, Lamont-Doherty Earth Observatory, Columbia University. Two versions of the basemap are available: masked (highlights high-resolution multibeam swaths and contributed DEMs), and unmasked.
        </li>
        <li>
            Shaded Relief (ETOPO1): A visualization of the <a href="https://www.ngdc.noaa.gov/mgg/global/global.html" target="_blank">ETOPO1 Global Relief Model</a>. <a href="https://noaa.maps.arcgis.com/home/item.html?id=c7cdc62ec1d44297becf264bf67449f9" target="_blank">More information on NOAA's GeoPlatform</a>.
        </li>
        <li>Light Gray: <a href="https://www.arcgis.com/home/item.html?id=8b3d38c0819547faa83f7b7aca80bd76" target="_blank">Esri Light Gray Canvas</a></li>        
        <li>
            Arctic Basemap: A visualization of the <a href="http://www.ibcao.org/" target="_blank">IBCAO</a> and GEBCO_08 grids. <a href="https://noaa.maps.arcgis.com/home/item.html?id=ebcb5d94cc9540cb87abfffbc1f55af5" target="_blank">More information on NOAA's GeoPlatform</a>.
        </li>
        <li>
            Antarctic Basemap: A visualization of the <a href="http://www.ibcso.org/" target="_blank">IBCSO</a> and GEBCO_08 grids. <a href="https://noaa.maps.arcgis.com/home/item.html?id=a4c445faf35b4ba8b6f92fb6e50218cb" target="_blank">More information on NOAA's GeoPlatform</a>.
        </li> 
        <li>
            Imagery: <a href="https://www.arcgis.com/home/item.html?id=10df2279f9684e4a9f6a7f08febac2a9" target="_blank">Esri World Imagery</a>
        </li>
        <li>
            Ocean: <a href="https://www.arcgis.com/home/item.html?id=5ae9e138a17842688b0b79283a4353f6" target="_blank">Esri Ocean Basemap</a>
        </li>
        <li>National Geographic: <a href="https://www.arcgis.com/home/item.html?id=d94dcdbe78e141c2b2d3a91d5ca8b9c9" target="_blank">Esri/National Geographic Basemap</a></li>
        <li>
            <a href="https://www.nauticalcharts.noaa.gov/mcd/Raster/" target="_blank">NOAA Raster Navigational Charts (RNC®)</a>
        </li>
    </ul>
    </p>
    <p>
        <b>Map projections:</b>
    <ul>
        <li>
            Global view: WGS84 Web Mercator (Auxiliary Sphere); EPSG:3857
        </li>
        <li>
            Arctic view: WGS84 Arctic Polar Sterographic; EPSG:3995
        </li>
        <li>
            Antarctic view: WGS84 Antarctic Polar Sterographic; EPSG:3031
        </li>
    </ul>
    </p>
    <p>
        <b>Disclaimer:</b>
    <ul>
        <li>
            All international boundaries, maritime boundaries, and placenames are shown for general orientation and reference only; they do not necessarily represent official U.S. policy.
        </li>
        <li>
            WARNING: These data not to be used for navigation. Although these data are of high quality and useful for planning and modeling purposes, they are not suitable for navigation. For official navigation products, please refer to the U.S. nautical charts available from the NOAA Office of Coast Survey. <a href="https://www.nauticalcharts.noaa.gov/" target="_blank">https://www.nauticalcharts.noaa.gov</a>
        </li>
    </ul>
    Some icons on this webpage are from the <a href="http://p.yusukekamiyamane.com/" target="_blank">Fugue Icons Collection</a>.
    </p>
    <p>
        <b>Version:</b>
        <!--@application.version@, last updated @application.buildDate@-->
        {{version}}, last updated {{buildDate}}
    </p>
</div>