<div class="creditsPanel_class">
    <p>
        <b><i>Magnetic declination</i></b> is an important concept for
        accurate navigation. A compass will always point along the lines of
        magnetic force (which converge on what are called the magnetic poles).
        The angle between the direction of force and the direction of the
        geographic north pole is called the declination. If a compass at your
        location is pointing to the right of true north, declination is
        positive or east, and if it points to the left of true north,
        declination is negative or west. As one moves across the surface of
        the globe, lines of constant magnetic declination are called <i>isogonic
            lines</i>.
    <p>As the earth's magnetic field varies over time, the positions of
        the north and south magnetic poles gradually change. The magnetic
        declination at a given location also changes over time.</p>
    <p>
        This map displays historical isogonic lines and magnetic poles calculated for the years
        1590-2020.<br /> Model description:
    <ul>
        <li>Years 1590-1890: calculated from the <a
            href="http://jupiter.ethz.ch/~cfinlay/gufm1.html" target="_blank">gUFM
                model</a></li>
        <li>Years 1900-2020: calculated from the <a
            href="http://www.ngdc.noaa.gov/IAGA/vmod/igrf.html" target="_blank">IGRF</a></li>
        <li>Years 1890-1900: a smooth transition was imposed between
            models</li>
    </ul>
    </p>
    <p>
        <a href="http://www.ngdc.noaa.gov/geomag/geomag.shtml" target="_blank">More information about geomagnetism at NCEI</a>
    </p>
    <p>
        <a href="http://www.ngdc.noaa.gov/geomag/GeomagneticPoles.shtml" target="_blank">More information about magnetic poles and polar wander at NCEI</a>
    </p>
    <p>
        <b>Instructions for using the map:</b>
    <ul>
        <li>Use the time slider to select a year (1590-2020).</li>
        <li>Click on a line to identify the declination value.</li>
        <li>Zoom in and out using the zoom slider or the + and - keys.</li>
        <li>Toggle the isogonic lines, modeled pole locations, historical modeled pole track, and observed pole locations with the checkboxes on the left.</li>
        <li>View the map in Global Mercator, Arctic, or Antarctic views by clicking the tabs at the right of the screen.</li>
        <li>Using the menus in the upper-right, select various basemaps,
            and toggle boundaries/labels and latitude/longitude lines
            (graticule).</li>
    </ul>
    </p>
    <p>
        <b>Basemap and reference layers:</b>
        <ul>
            <li><a href="http://www.gebco.net/data_and_products/gridded_bathymetry_data" target="_blank">GEBCO_08</a> (30 arc-second grid) shaded-relief map</li>
            <li><a href="http://ngdc.noaa.gov/mgg/global/global.html" target="_blank">ETOPO1 Global Relief Model</a> (1 arc-minute grid) shaded-relief map</li>
            <li><a href="http://www.arcgis.com/home/item.html?id=8b3d38c0819547faa83f7b7aca80bd76" target="_blank">Esri Light Gray Canvas</a></li>
            <li><a href="http://www.arcgis.com/home/item.html?id=1970c1995b8f44749f4b9b6e81b5ba45" target="_blank">Esri Dark Gray Canvas</a></li>            
            <li><a href="http://www.arcgis.com/home/item.html?id=5ae9e138a17842688b0b79283a4353f6" target="_blank">Esri Ocean Basemap</a></li>
            <li>Imagery: <a href="http://www.arcgis.com/home/item.html?id=10df2279f9684e4a9f6a7f08febac2a9" target="_blank">Esri World Imagery</a></li>
            <li><a href="http://www.arcgis.com/home/item.html?id=d94dcdbe78e141c2b2d3a91d5ca8b9c9" target="_blank">National Geographic Basemap (Esri)</a></li>                      
            <li>Boundaries/Labels: <a href="http://arcgis.com/home/item.html?id=a842e359856a4365b1ddf8cc34fde079" target="_blank">ESRI World Boundaries and Places</a></li>
            <li>Arctic Basemap: <a href="http://www.ibcao.org/" target="_blank">IBCAO/GEBCO_08 shaded-relief map</a></li>   
            <li>Antarctic Basemap: <a href="http://www.ibcso.org/" target="_blank">IBCSO/GEBCO_08 shaded-relief map</a></li>                        
        </ul>   
    </p>
    <p>
        <b>Map projections:</b>
        <ul>
            <li>
                Global view: WGS84 Web Mercator (Auxiliary Sphere); EPSG:3857   
            </li>
            <li>
                Arctic view: WGS84 Arctic Polar Stereographic; standard parallel of 71 degrees; EPSG:3995
            </li>
            <li>
                Antarctic view: WGS84 Antarctic Polar Stereographic; standard parallel of -71 degrees; EPSG:3031
            </li>
        </ul>
    </p>    
    <p>
        <b>Version:</b>
        @application.version@, last updated @application.buildDate@
    </p>
</div>
