<div class="layersPanel_class">
    <h3>Bathymetry Surveys</h3>
    <input type="checkbox" data-dojo-attach-point="chkMultibeam" checked data-dojo-type="dijit/form/CheckBox">
    <label for="chkMultibeam">Multibeam Bathymetry Surveys</label><br>

    <input type="checkbox" id="chkTrackline" data-dojo-attach-point="chkTrackline" data-dojo-type="dijit/form/CheckBox">
    <label for="chkTrackline">Single-Beam Bathymetry Surveys</label><br><br>

    <b><i>NOS Hydrographic Surveys:</i></b><br>
    <input type="checkbox" id="chkNosHydro0" data-dojo-attach-point="chkNosHydro0" data-dojo-type="dijit/form/CheckBox">
    <label id="lblNosHydro0" for="chkNosHydro0">Surveys with BAGs</label><br>

    <input type="checkbox" id="chkNosHydro1" data-dojo-attach-point="chkNosHydro1" data-dojo-type="dijit/form/CheckBox">
    <label id="lblNosHydro1"for="chkNosHydro1">Surveys with Digital Sounding Data</label><br>

    <input type="checkbox" id="chkNosHydro2" data-dojo-attach-point="chkNosHydro2" data-dojo-type="dijit/form/CheckBox">
    <label id="lblNosHydro2"for="chkNosHydro2">Surveys without Digital Sounding Data</label><br>

    <input type="checkbox" id="chkBagHillshades" data-dojo-attach-point="chkBagHillshades" data-dojo-type="dijit/form/CheckBox">
    <label id="lblBagHillshades"for="chkBagHillshades">BAG Color Shaded Relief Imagery</label><br><br>

    <div data-dojo-type="dijit/form/Button" data-dojo-attach-point="searchButton" id="searchButton">Filter Surveys</div>
    <div data-dojo-type="dijit/form/Button" data-dojo-attach-point="resetButton" id="resetButton" disabled>Reset</div><br>
    <div id="currentFilter" class="filterText"></div><br>

    <hr>
    <h3>Digital Elevation Models (DEMs)</h3>

    <input type="checkbox" id="chkDems" data-dojo-attach-point="chkDems" data-dojo-type="dijit/form/CheckBox">
    <label for="chkDems">DEM Footprints</label><br>

    <input type="checkbox" id="chkDemHillshades" data-dojo-attach-point="chkDemHillshades" data-dojo-type="dijit/form/CheckBox">
    <label for="chkDemHillshades">DEM Color Shaded Relief Imagery</label>
    <hr>

    <input type="checkbox" id="chkCscLidar" data-dojo-attach-point="chkCscLidar" data-dojo-type="dijit/form/CheckBox">
    <label for="chkCscLidar">CSC Lidar (demo)</label>

    
</div>