<div class="layersPanel_class">
    <h3>Filter Samples:</h3> 
    
    <label>Repository:</label><br/>
    <div data-dojo-attach-point="repositorySelectDiv"></div>
    <br>

    <label>Cruise ID:</label><br/>
    <div data-dojo-attach-point="cruiseSelectDiv"></div>
    <br>
            
    <label>Platform Name:</label><br/>
    <div data-dojo-attach-point="platformSelectDiv"></div>
    <br>
              
    <label>Lake Name:</label><br/>
    <div data-dojo-attach-point="lakeSelectDiv"></div>
    <br>

    <label>Year:</label><br>
    <div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="startYearSpinner" class="searchDialog-spinner" data-dojo-props="intermediateChanges:true, smallDelta:1, constraints:{min:1885,max:2020,places:0,pattern:'0000'}" name="startYear"></div> to
    <div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="endYearSpinner" class="searchDialog-spinner" data-dojo-props="intermediateChanges:true, smallDelta:1, constraints:{min:1885,max:2020,places:0,pattern:'0000'}" name="endYear"></div>
    <br><br>
                        
    <label>Device:</label><br/>
    <div data-dojo-attach-point="deviceSelectDiv"></div>
    <br>
                 
    <label>Water Depth (m):</label><br>
    <div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="minWaterDepthSpinner" class="searchDialog-spinner" data-dojo-props="intermediateChanges:true, smallDelta:100, constraints:{min:0,max:11000,places:0}" name="minWaterDepth"></div> to
    <div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="maxWaterDepthSpinner" class="searchDialog-spinner" data-dojo-props="intermediateChanges:true, smallDelta:100, constraints:{min:0,max:11000,places:0}" name="maxWaterDepth"></div>
    <br><br>

    <div data-dojo-type="dijit/form/Button" data-dojo-attach-point="searchButton" id="searchButton">Filter Samples</div>
    <div data-dojo-type="dijit/form/Button" data-dojo-attach-point="resetButton" id="resetButton">Reset</div><br><br>
    <div id="featureCount" class="filterText"></div><br>

    <div data-dojo-type="dijit/form/Button" data-dojo-attach-point="showHideTableButton" id="showHideTableButton">Show Table</div>
    <img id="tableHelp" class="tooltipButtonMiddle" src="images/question-button.png"><br>
    <div data-dojo-type="dijit/Tooltip" data-dojo-props="connectId:'tableHelp'">
        <div class="tooltipText">The table can display a maximum of 50,000 samples. If the "Show Table" button is disabled, please apply a filter to display a smaller number of samples.</div>
    </div>
    <!-- <i>(Maximum of 50,000 samples for table)</i> -->
</div>