<div class="helpPanel_class">
<b>Help with map navigation using mouse:</b>
<ul>
	<li>Drag to pan</li>
    <li>Click on a feature to do an identify operation</li>
    <li>SHIFT + Click to recenter</li>
    <li>SHIFT + Drag to zoom in</li>
    <li>SHIFT + CTRL + Drag to zoom out</li>
    <li>Mouse Scroll Forward to zoom in</li>
    <li>Mouse Scroll Backward to zoom out</li>
    <li>Use Arrow keys to pan</li>
    <li>+ key to zoom in a level</li>
    <li>- key to zoom out a level</li>
    <li>SHIFT + Double Click to Center and Zoom in</li>
</ul>
</div>