/* positioning goes in calling page */
.basemapToolbar {
    border: solid 1px gray;
    padding: 0px;
    font-size: small;
}

.identifyByRectIcon {
    background-image: url(../images/identify_rect.png);
    width: 16px;
    height: 16px;
}

.identifyByCoordsIcon {
    background-image: url(../images/identify_xy.png);
    width: 16px;
    height: 16px;
}