<div class="layersPanel_class">
    <h3>Multibeam Bathymetry Data Footprints</h3>
    <input type="checkbox" id="chkMultibeam" data-dojo-attach-point="chkMultibeam" data-dojo-type="dijit/form/CheckBox">
    <label for="chkMultibeam">NOAA NCEI</label><br>

    <input type="checkbox" id="chkEmodNetMultibeam" data-dojo-attach-point="chkEmodNetMultibeam" data-dojo-type="dijit/form/CheckBox">
    <label id="lblEmodNetMultibeam" for="chkEmodNetMultibeam"><a href="http://www.emodnet-bathymetry.eu/" target="_blank">EMODNet</a></label><br>

    <input type="checkbox" id="chkNRCanMultibeam" data-dojo-attach-point="chkNRCanMultibeam" data-dojo-type="dijit/form/CheckBox">
    <label id="lblNRCanMultibeam" for="chkNRCanMultibeam">NRCan</label><br>

    <input type="checkbox" id="chkMareanoMultibeam" data-dojo-attach-point="chkMareanoMultibeam" data-dojo-type="dijit/form/CheckBox">
    <label id="lblMareanoMultibeam" for="chkMareanoMultibeam"><a href="http://www.mareano.no/en" target="_blank">MAREANO</a></label><br>

    <h3>Single-Beam Bathymetry Data Footprints</h3>

    <input type="checkbox" id="chkTrackline" data-dojo-attach-point="chkTrackline" data-dojo-type="dijit/form/CheckBox">
    <label for="chkTrackline">NOAA NCEI</label><br>

    <input type="checkbox" id="chkEmodNetSinglebeam" data-dojo-attach-point="chkEmodNetSinglebeam" data-dojo-type="dijit/form/CheckBox">
    <label id="lblEmodNetSinglebeam" for="chkEmodNetSinglebeam"><a href="http://www.emodnet-bathymetry.eu/" target="_blank">EMODNet</a> </label><br>

    <input disabled type="checkbox" id="chkNRCanSinglebeam" data-dojo-attach-point="chkNRCanSinglebeam" data-dojo-type="dijit/form/CheckBox">
    <label id="lblNRCanSinglebeam" for="chkNRCanSinglebeam">NRCan</label><br>

    <input type="checkbox" id="chkMareanoSinglebeam" data-dojo-attach-point="chkMareanoSinglebeam" data-dojo-type="dijit/form/CheckBox">
    <label id="lblMareanoSinglebeam" for="chkMareanoSinglebeam"><a href="http://www.mareano.no/en" target="_blank">MAREANO</a></label><br>

    <!-- <div data-dojo-type="dijit/form/Button" data-dojo-attach-point="searchButton" id="searchButton">Filter Surveys</div> -->
    <!-- <div data-dojo-type="dijit/form/Button" data-dojo-attach-point="resetButton" id="resetButton" disabled>Reset</div><br> -->
    <!-- <div id="currentFilter" class="filterText"></div><br> -->

    <h3>Proprietary Data Footprints</h3>

    <input type="checkbox" id="chkPortugal" data-dojo-attach-point="chkPortugal" data-dojo-type="dijit/form/CheckBox">
    <label id="lblPortugal" for="chkPortugal">Portugal</label><br><br>   


    <!-- <input type="checkbox" id="chkEmodNetDTM" data-dojo-attach-point="chkEmodNetDTM" data-dojo-type="dijit/form/CheckBox"> -->
    <!-- <label id="lblEmodNetDTM" for="chkEmodNetDTM">EMODNet DTM</label><br> -->
    
</div>