<div>
    <div data-dojo-type="dijit/form/Button" data-dojo-attach-point="contactUsButton" id="contactUsButton">Contact Us</div>
    <br><br>
    <b>Navigating the map</b><br>
    <ul>
        <li>Click and drag or use arrow keys to pan</li>
        <li>Mouse scroll forward or use + key to zoom in</li>
        <li>Mouse scroll backward or use - key to zoom out</li>
    </ul>

    <b>Identifying features</b><br>
    You have several options to identify features 
    within visible layers:
    <ul>
        <li>Single-click on the map</li>
        <li>Or, choose another tool from the "Identify" menu:
        <li>Click on <img src="${identifyRectIconUrl}" alt="Identify with rectangle icon"> to draw a rectangle</li>
        <li>Click on <img src="${identifyPolyIconUrl}" alt="Identify with rectangle icon"> to draw a polygon</li>
        <li>Click on <img src="${identifyCoordsIconUrl}" alt="Identify with coordinates icon"> to enter coordinates for a bounding box</li>
    </ul>
    A popup will appear with a list of the selected features.
    Mouse-over the list to highlight features on the map.
    Click the magnifying glass icon <img src="${magnifyingGlassIconUrl}" alt="Magnifying glass icon"> to zoom to that feature.
    Click on a row to view attributes for that feature.<br><br>

    <b>Selecting CARIBE-EWS Tsunami Scenarios</b><br>
    The CARIBE-EWS Tsunami Rupture Planes are color-coded by region. Modeled Tsunami Scenarios can be displayed by choosing the scenario from the drop-down list. This list can be filtered by region.
    A color rendering of the tsunami scenario will be displayed. A legend is available by clicking the legend drop-down button.<br><br>

    <b>Searching NCEI Hazards Data</b><br>
    Each layer (Tsunami Events, Tsunami Observations, and DART Stations) has its own search dialog.
    Click on a "Search" button to choose various criteria that will be used to narrow down the results shown on the map.    
    After clicking "OK", a filter will be applied to the appropriate map layers, displaying only data of interest.
    <b><i>Reset:</i></b> clears the current filter for that layer.<br><br>

    <b>Tsunami Events with Tsunami Observations</b><br>
    After clicking on a tsunami event in the popup, a button will appear "Show this Tsunami Event and Observations".
    Clicking on this button will apply a filter to the Tsunami Events and Tsunami Observations layers (showing only the current event), and will zoom to the results.<br><br>

    After clicking on a tsunami observation in the popup, a button will appear "Show Associated Tsunami Event".
    Clicking on this button will apply a filter to the Tsunami Events layer (showing the current event), and will zoom the map so the current event and observation are showing.<br><br>
</div>