<div class="creditsPanel_class">	
<p>
	<p>
		<b>Marine Geology Data Sets & Reports:</b>
		<br/>
		<br/>
		<a href="http://www.ngdc.noaa.gov/mgg/geology/seadas.html">The Marine Geology Inventory</a>
		provides searches of all marine geologic data, digital and analog, archived by NGDC. Search results include links to download all digital data files for free, and to view most data reports in .PDF form.
		<br/>
		<br/>
		<a href="http://www.ngdc.noaa.gov/mgg/geology/geologydata.html">Selected Static Digital Marine Geology Data Sets</a>
		are also available for direct download, in addition to being available through searches of the marine geology inventory. These data sets include compilations from many sources, including integrated projects and US and non-US academic, commercial, and government agencies.
		<br/>
		<br/>
		Search results also include descriptions of and ordering information for offline analog data, and to the Online Store for purchase of posters and CD-ROM products.
	</p>
	<p>
		<b>Index to Marine & Lacustrine Geological Samples:</b>
		<br/>
		<br/>
		<a href="http://www.ngdc.noaa.gov/mgg/curator/curator.html">The Index to Marine & Lacustrine Geological Samples</a>
		provides searches of sea floor and lakebed cores, grabs, dredges, and drill samples available directly from participating oceanographic institutions.
		<br/>
		<br/>
		The Index also provides links to data and images related to these samples, including direct links to view and download related data at NGDC, at the participating institutons, and external databases like R2R.
	</p>
	<p>
		<b>NOS Seabed Descriptions:</b>
		<br/>
		<br/>
		This database contains surficial sediment descriptions for over 200,000 seafloor samples primarily in U.S. Coastal areas. Descriptions were created during <a href="http://www.ngdc.noaa.gov/mgg/bathymetry/hydro.html">hydrographic surveys</a>
		conducted by the the NOAA National Ocean Service (NOS) and its predecessor, the U.S. Coast and Geodetic Survey (USCGS). Information in this data set was primarily derived from log sheets coded by staff of the Smithsonian Institution, but also contains material abstracted from unpublished data reports by NOS staff and descriptions digitized from survey smooth sheets through various contracts managed by NGDC.
	</p>
	<p>
		<b>Data Sources and Credits:</b>
		<br/>
		<br/>
		Data were created and contributed by a variety of sources.  Please cite the original data source/contributor when using these data.
	</p>
</p>
	<p>
		<b>Basemap/reference layers:</b>
		<ul>
			<li>
				Terrain (GEBCO_08): The <a href="http://www.gebco.net/data_and_products/gridded_bathymetry_data" target="_blank">GEBCO_08 Grid</a>				
			</li>
			<li>
				Terrain (ETOPO1): <a href="http://www.ngdc.noaa.gov/mgg/global/global.html" target="_blank">ETOPO1 Global Relief Model</a>				
			</li>
			<li>Simple background: <a href="http://www.arcgis.com/home/item.html?id=8b3d38c0819547faa83f7b7aca80bd76" target="_blank">Esri Light Gray Canvas</a></li>
			<li>
				Imagery: <a href="http://www.arcgis.com/home/item.html?id=10df2279f9684e4a9f6a7f08febac2a9" target="_blank">Esri World Imagery</a>
			</li>
			<li>
				Ocean: <a href="http://www.arcgis.com/home/item.html?id=5ae9e138a17842688b0b79283a4353f6" target="_blank">Esri Ocean Basemap</a>
			</li>
			<li>National Geographic: <a href="http://www.arcgis.com/home/item.html?id=d94dcdbe78e141c2b2d3a91d5ca8b9c9" target="_blank">Esri/National Geographic Basemap</a></li>
			<li>Boundaries/Labels (Global view): <a href="http://www.arcgis.com/home/item.html?id=a842e359856a4365b1ddf8cc34fde079" target="_blank">World Boundaries and Places (Esri)</a></li>			
		</ul>
	</p>
	<p>
		<b>Map projection:</b> WGS84 Web Mercator (Auxiliary Sphere); EPSG:3857	
	</p>
	<p>
		<b>Disclaimer:</b>
		<ul>
			<li>
				All international boundaries, maritime boundaries, and placenames are shown for general orientation and reference only; they do not necessarily represent official U.S. policy.
			</li>
			<li>
				WARNING: These data not to be used for navigation. Although these data are of high quality and useful for planning and modeling purposes, they are not suitable for navigation. For official navigation products, please refer to the U.S. nautical charts available from the NOAA Office of Coast Survey. <a href="http://www.nauticalcharts.noaa.gov/" target="_blank">http://www.nauticalcharts.noaa.gov</a>
			</li>
		</ul>
	</p>
	<p>
		<b>Version:</b>
		1.4, last updated May 2013
	</p>
</div>
