<div id="nceiFooter" class="${baseClass}">
    <table class="footer" align="center">
        <tr valign="middle" align="center">
            <td>
                <a href="https://www.ncei.noaa.gov/privacy" title="NOAA's Privacy Policy" target="_blank">Privacy Policy</a> |
                <a href="https://www.noaa.gov/foia-freedom-of-information-act" title="Freedom of Information Act" target="_blank">Freedom Of Information Act</a> |
                <a href="https://www.cio.noaa.gov/services_programs/info_quality.html" title="Information Quality" target="_blank">Information Quality</a> |
                <a href="http://www.noaa.gov/disclaimer.html" title="Disclaimer" target="_blank">Disclaimer</a> |
                <a href="https://www.ncdc.noaa.gov/survey" title="Take Our Site Survey" target="_blank">Take Our Survey</a> |
                <a href="https://www.commerce.gov/" title="United States Department of Commerce" target="_blank">Department of Commerce</a> |
                <a href="http://www.noaa.gov/" title="NOAA" target="_blank">NOAA</a> |</font>
                <a href="https://www.nesdis.noaa.gov/" title="NESDIS" target="_blank">NESDIS</a> |
                <a href="mailto:ncei.info@noaa.gov" rel="nofollow" target="_blank">Contact Us</a>
            </td>
        </tr>
    </table>
</div>