<div id="nceiHeader" class="${baseClass}">
    <a href="https://www.ncei.noaa.gov/" title="National Centers for Environmental Information, National Oceanic and Atmospheric Administration" target="_blank">
    <img src="images/map-banner.png" alt="National Centers for Environmental Information, National Oceanic and Atmospheric Administration" height="50px" style="vertical-align:middle; padding:3px 5px; margin-right:100px";></a>
    <a data-dojo-attach-point="bannerTitleUrl" href="" title="" target="_blank"><span data-dojo-attach-point="bannerTitle" style="font-size:20px"></span></a>
    <a data-dojo-attach-point="bannerImageUrl" href="" title="" target="_blank">
    <img data-dojo-attach-point="bannerImage" src="" alt="" height="50px" style="vertical-align:middle; padding:3px 5px; float:right;"></a>
</div>