<div class="layersPanel_class">
    Select Year:<br>
    <select data-dojo-attach-point="selectYear" data-dojo-type="dijit/form/Select" style="width:100px">
        <option value="0">2001</option>
        <option value="1">2002</option>
        <option value="2">2003</option>
        <option value="3">2004</option>
        <option value="4">2005</option>
        <option value="5">2006</option>
        <option value="6">2007</option>
        <option value="7">2008 (Summer)</option>
        <option value="8">2008 (Fall)</option>
        <option value="9">2009</option>
        <option value="10">2010</option>
        <option value="11">2011</option>
        <option value="12">2012</option>
        <option value="13">2013</option>
        <option value="14">2014</option>
        <option value="15">2015</option>
        <option value="16">2016</option>
        <option value="17">2017</option>
        <option selected="selected" value="18">2018</option>
    </select><br><br>

    <input checked type="checkbox" id="chkCtd" data-dojo-attach-point="chkCtd" data-dojo-type="dijit/form/CheckBox">
    <label for="chkCtd">CTD Stations</label>
    <img id="ctdHelp" class="tooltipButtonMiddle" src="images/question-white.png">
    <div data-dojo-type="dijit/Tooltip" data-dojo-props="connectId:'ctdHelp'">
        <div class="tooltipText">
            Help text goes here
        </div>
    </div><br>

    <input checked type="checkbox" data-dojo-attach-point="chkContours" data-dojo-type="dijit/form/CheckBox">
    <label for="chkContours">Dissolved Oxygen Contours</label>
    <img id="contoursHelp" class="tooltipButtonMiddle" src="images/question-white.png">
    <div data-dojo-type="dijit/Tooltip" data-dojo-props="connectId:'contoursHelp'">
        <div class="tooltipText">
            Help text goes here
        </div>
    </div><br>
    <hr>
    <br>
    Download Data:<br>
    <table class="downloadTable">
        <tr>
            <td>CTD Station Locations</td>
            <td><a id="ctdMetadataLink" href="#" target="_blank">Metadata</a></td>
            <td><a id="ctdJpgLink" href="#" target="_blank">JPG Image</a></td>
            <td><a id="ctdShapefileLink" href="#" target="_blank">Shapefile</a></td>
        </tr>
        <tr>
            <td>Bottom Dissolved Oxygen Contours</td>
            <td><a id="ctrMetadataLink" href="#" target="_blank">Metadata</a></td>
            <td><a id="ctrJpgLink" href="#" target="_blank">JPG Image</a></td>
            <td><a id="ctrShapefileLink" href="#" target="_blank">Shapefile</a></td>            
        </tr>
    </table>
</div>