<div>
	<div class="topnav">
		<table border="0" class="topnav" align="center" cellpadding="1" cellspacing="0" width="100%" summary="layout table">
			<tr>
				<td align="left" class="topnav">
					<a href="http://www.noaa.gov" class="topnav">NOAA</a>
					<a href="http://www.nesdis.noaa.gov" class="topnav">&nbsp;NESDIS</a>
					<a href="/" class="topnav">NGDC</a>
				</td>
				<td align="right" class="topnav">
					<a href="/ngdcinfo/privacy.html" class="topnav">Privacy Policy</a>
				</td>
			</tr>
		</table>
	</div>
	<div id="header">
		<div id="ngdcheader">
			<img name="nesdisleft" src="images/nesdisbanner_left2005.gif" usemap="#nesdis" alt="NOAA Logo, National Environmental Satellite, Data, and Information Service." border="0" height="50" width="440" />
			<map name="nesdis" id="nesdis">
				<area shape="circle" coords="26,25, 24" href="http://www.noaa.gov/" title="go to National Oceanic & Atmospheric Administration home" alt="go to National Oceanic & Atmospheric Administration home" /><area shape="rect" coords="55,1,440,45" href="http://www.nesdis.noaa.gov/" title="go to National Environmental Satellite, Data, and Information Service home" alt="go to National Environmental Satellite, Data, and Information Service home" />
			</map>
		</div>
		<div id="rightBanner">
			<img name="mapservicelinks" id="mapserviceImg" src="images/mapservice.gif" width="400" height="50" border="0" alt="map service links" usemap="#mapservicelinks" />
			<map name="mapservicelinks">
				<area id="area2" shape="rect" coords="0,28,400,50" href="http://www.ngdc.noaa.gov/ngdc.html" target="_blank" title="go to the National Geophysical Data Center Home" alt="go to the National Geophysical Data Center Home" /><area id="area3" shape="rect" coords="0,0,400,28" href="" target="_blank" title="find more about these data" alt="find more about these data" onmouseover="self.status=this.title;return true;" onmouseout="self.status='';return true;"/>
			</map>
		</div>
	</div>
</div>