<div>
    <div data-dojo-type="dijit/form/Button" data-dojo-attach-point="contactUsButton" id="contactUsButton">Contact Us</div>
    <br><br>
    <b>Navigating the Map</b><br>
    <ul>
        <li>Click and drag or use arrow keys to pan</li>
        <li>Mouse scroll forward or use + key to zoom in</li>
        <li>Mouse scroll backward or use - key to zoom out</li>
    </ul>

    <b>Time-enabled Imagery</b><br>
    <ul>
        <li>Select the desired month using the time slider.</li>
        <li>Automatically play back the sequence using the play button.</li>
        <li>The data begin in Apr. 2012, but images including stray-light impacted data are only available from Jan. 2014 to the present.</li>
    </ul>

    <b>Querying for Data Values</b><br>
    <ul>
        <li>Click anywhere on the map to retrieve the pixel value and the latitude/longitude at that point.</li>
        <li>Depending on which layer is visible, the value shown either represents average radiance (nanowatts/cm²/sr) or number of cloud-free observations for that pixel.</li>
    </ul>

</div>