<div class="creditsPanel_class">
    <p>
        <b>For more information about the data layers included in this map:</b>
    <ul>
        <li>
            <a href="http://ngdc.noaa.gov/mgg/bathymetry/multibeam.html" target="_blank">Multibeam Bathymetric Surveys</a>
        </li>
        <li>
            <a href="http://ngdc.noaa.gov/mgg/geodas/trackline.html" target="_blank">Single-Beam Bathymetry Surveys (Trackline Bathymetry)</a>
        </li>
        <li>
            <a href="http://ngdc.noaa.gov/mgg/bathymetry/hydro.html" target="_blank">NOS Hydrographic Surveys</a>
        </li>
        <li>
            <a href="http://ngdc.noaa.gov/mgg/bathymetry/relief.html" target="_blank">Digital Elevation Models (and shaded-relief imagery)</a>
        </li>
        <li>
            <a href="http://www.csc.noaa.gov/digitalcoast/data/coastallidar" target="_blank">Bathymetric Lidar from NOAA's Coastal Services Center (CSC)</a>
        </li>        
    </ul>
    </p>
    <p>
        <b>Basemap/reference layers:</b>
    <ul>
        <li>
            Terrain (GEBCO_08): The <a href="http://www.gebco.net/data_and_products/gridded_bathymetry_data" target="_blank">GEBCO_08 Grid</a>
        </li>
        <li>
            Terrain (ETOPO1): <a href="http://www.ngdc.noaa.gov/mgg/global/global.html" target="_blank">ETOPO1 Global Relief Model</a>
        </li>
        <li>Light Gray: <a href="http://www.arcgis.com/home/item.html?id=8b3d38c0819547faa83f7b7aca80bd76" target="_blank">Esri Light Gray Canvas</a></li>        
        <li>
            Shaded Relief (Arctic view): Composite of <a href="http://ibcao.org/" target="_blank">IBCAO version 3.0</a> and <a href="http://www.gebco.net/data_and_products/gridded_bathymetry_data" target="_blank">GEBCO_08</a>.
        </li>
        <li>
            Shaded Relief (Antarctic view): Composite of <a href="http://www.ibcso.org/" target="_blank">IBCSO version 1.0</a> and <a href="http://www.gebco.net/data_and_products/gridded_bathymetry_data" target="_blank">GEBCO_08</a>.
        </li>
        <li>
            Imagery: <a href="http://www.arcgis.com/home/item.html?id=10df2279f9684e4a9f6a7f08febac2a9" target="_blank">Esri World Imagery</a>
        </li>
        <li>
            Ocean: <a href="http://www.arcgis.com/home/item.html?id=5ae9e138a17842688b0b79283a4353f6" target="_blank">Esri Ocean Basemap</a>
        </li>
        <li>National Geographic: <a href="http://www.arcgis.com/home/item.html?id=d94dcdbe78e141c2b2d3a91d5ca8b9c9" target="_blank">Esri/National Geographic Basemap</a></li>
        <li>
            <a href="http://www.nauticalcharts.noaa.gov/mcd/Raster/" target="_blank">NOAA Raster Navigational Charts (RNC®)</a>
        </li>
    </ul>
    </p>
    <p>
        <b>Map projections:</b>
    <ul>
        <li>
            Global view: WGS84 Web Mercator (Auxiliary Sphere); EPSG:3857
        </li>
        <li>
            Arctic view: WGS84 Arctic Polar Sterographic; EPSG:3995
        </li>
        <li>
            Antarctic view: WGS84 Antarctic Polar Sterographic; EPSG:3031
        </li>
    </ul>
    </p>
    <p>
        <b>Disclaimer:</b>
    <ul>
        <li>
            All international boundaries, maritime boundaries, and placenames are shown for general orientation and reference only; they do not necessarily represent official U.S. policy.
        </li>
        <li>
            WARNING: These data not to be used for navigation. Although these data are of high quality and useful for planning and modeling purposes, they are not suitable for navigation. For official navigation products, please refer to the U.S. nautical charts available from the NOAA Office of Coast Survey. <a href="http://www.nauticalcharts.noaa.gov/" target="_blank">http://www.nauticalcharts.noaa.gov</a>
        </li>
    </ul>
    Some icons on this webpage are from the <a href="http://p.yusukekamiyamane.com/" target="_blank">Fugue Icons Collection</a>.
    </p>
    <p>
        <b>Version:</b>
        @application.version@, last updated @application.buildDate@
    </p>
</div>