<div class="creditsPanel_class">
    <p>
        The NOAA National Centers for Environmental Information (NCEI) is the official distribution point for National Ocean Service (NOS) bathymetric maps, bathymetric/fishing maps, regional maps, geophysical maps, and preliminary maps. These legacy maps have largely been 
        For more information, please visit: <a href="http://ngdc.noaa.gov/mgg/bathymetry/maps/nos_intro.html" target="_blank">http://ngdc.noaa.gov/mgg/bathymetry/maps/nos_intro.html</a>.<br><br>

        <a href="http://ngdc.noaa.gov/mgg/bathymetry/hydro.html" target="_blank">NOS Hydrographic Database</a></br>
        <a href="http://ngdc.noaa.gov/mgg/bathymetry/relief.html" target="_blank">Bathymetry and Topography</a></br><br>

        <a href="http://nauticalcharts.noaa.gov/" target="_blank">NOAA National Ocean Service Office of Coast Survey</a></br>
        <a href="http://www.nauticalcharts.noaa.gov/csdl/ctp/abstract.htm" target="_blank">Office of Coast Survey Historical Map and Chart Collection</a><br>
        <a href="http://www.nauticalcharts.noaa.gov/hsd/awois.html" target="_blank">Office of Coast Survey Wrecks and Obstructions Database</a>
    </p>
    <p>
        <b>Basemap/reference layers:</b>
    <ul>
        <li><a href="http://www.gebco.net/data_and_products/gridded_bathymetry_data" target="_blank">GEBCO_08</a> (30 arc-second grid) shaded-relief map</li>
        <li><a href="http://ngdc.noaa.gov/mgg/global/global.html" target="_blank">ETOPO1 Global Relief Model</a> (1 arc-minute grid) shaded-relief map</li>
        <li><a href="http://www.arcgis.com/home/item.html?id=8b3d38c0819547faa83f7b7aca80bd76" target="_blank">Esri Light Gray Canvas</a></li>
        <li><a href="http://www.arcgis.com/home/item.html?id=1970c1995b8f44749f4b9b6e81b5ba45" target="_blank">Esri Dark Gray Canvas</a></li>            
        <li><a href="http://www.arcgis.com/home/item.html?id=5ae9e138a17842688b0b79283a4353f6" target="_blank">Esri Ocean Basemap</a></li>
        <li>Imagery: <a href="http://www.arcgis.com/home/item.html?id=10df2279f9684e4a9f6a7f08febac2a9" target="_blank">Esri World Imagery</a></li>
        <li><a href="http://www.arcgis.com/home/item.html?id=d94dcdbe78e141c2b2d3a91d5ca8b9c9" target="_blank">National Geographic Basemap (Esri)</a></li>                      
        <li>Boundaries/Labels: <a href="http://arcgis.com/home/item.html?id=a842e359856a4365b1ddf8cc34fde079" target="_blank">ESRI World Boundaries and Places</a></li>
    </ul>
    </p>
    <p>
        <b>Map projection:</b> WGS84 Web Mercator (Auxiliary Sphere); EPSG:3857
    </p>
    <p>
        <b>Disclaimer:</b>
    <ul>
        <li>
            All international boundaries, maritime boundaries, and placenames are shown for general orientation and reference only; they do not necessarily represent official U.S. policy.
        </li>
    </ul>
    Some icons on this webpage are from the <a href="http://p.yusukekamiyamane.com/" target="_blank">Fugue Icons Collection</a>.
    </p>
    <p>
        <b>Version:</b>
        {{version}}, last updated {{buildDate}}
    </p>
</div>