<div class="layersPanel_class">
    <input checked type="checkbox" id="chkFishingMaps" data-dojo-attach-point="chkFishingMaps" data-dojo-type="dijit/form/CheckBox">
    <label for="chkDatasetsReports">Fishing Maps</label><br>

    <input checked type="checkbox" id="chkTopoBathyMaps" data-dojo-attach-point="chkTopoBathyMaps" data-dojo-type="dijit/form/CheckBox">
    <label for="chkSampleIndex">Topo/Bathy Maps</label><br>

    <input checked type="checkbox" id="chkBathyMaps" data-dojo-attach-point="chkBathyMaps" data-dojo-type="dijit/form/CheckBox">
    <label for="chkNosSeabed">Bathymetry Maps</label><br>

    <input checked type="checkbox" id="chkPreliminaryMaps" data-dojo-attach-point="chkPreliminaryMaps" data-dojo-type="dijit/form/CheckBox">
    <label for="chkNosSeabed">Preliminary Maps</label>  
</div>