<div class="creditsPanel_class">
    <p>
        <b>What is the Index to Marine and Lacustrine Geological Samples?</b>
        <br/>
        <br/>
        The <a href="http://www.ngdc.noaa.gov/mgg/curator/" target="_blank">Index to Marine and Lacustrine Geological Samples</a>
        is a tool to help scientists locate and obtain geologic material from sea floor and lakebed cores, grabs, and dredges archived by <a href="http://www.ngdc.noaa.gov/mgg/curator/participants.HTML" target="_blank">participating institutions</a>. Before proposing research on any sample, please contact the curator for sample condition and availability.
        <br/>
        <br/>
        The Index includes basic collection and storage information. Descriptions and additional information are available for some samples, as well as links to view and download related data and images at participating institutions and NGDC. An <a href="http://www.ngdc.noaa.gov/geosamples/" target="_blank">alternative text interface</a>
        is available. <a href="http://www.ngdc.noaa.gov/geosamples/metadata.jsp" target="_blank">View metadata</a>
        <br/>
        <br/>
    </p>
    <p>
        <b>Data Sources and Credits:</b>
        <br/>
        <br/>
        Data are contributed by the sample repositories.  Several repositories receive funding from the National Science Foundation (NSF) to prepare data for the Index. NGDC maintains the Index on behalf of the participating institutions. For more information, please see <a href="http://www.ngdc.noaa.gov/mgg/curator/" target="_blank">http://www.ngdc.noaa.gov/mgg/curator/</a>
    </p>
    <p>
        <b>Basemap and reference layers:</b>
        <ul>
            <li><a href="http://www.gebco.net/data_and_products/gridded_bathymetry_data" target="_blank">GEBCO_08</a> (30 arc-second grid) shaded-relief map</li>
            <li><a href="http://ngdc.noaa.gov/mgg/global/global.html" target="_blank">ETOPO1 Global Relief Model</a> (1 arc-minute grid) shaded-relief map</li>
            <li><a href="http://arcgis.com/home/item.html?id=8b3d38c0819547faa83f7b7aca80bd76" target="_blank">Esri Light Gray Canvas</li>
            <li><a href="http://www.arcgis.com/home/item.html?id=5ae9e138a17842688b0b79283a4353f6" target="_blank">Esri Ocean Basemap</a></li>
            <li>Imagery: <a href="http://www.arcgis.com/home/item.html?id=10df2279f9684e4a9f6a7f08febac2a9" target="_blank">Esri World Imagery</a></li>
            <li><a href="http://www.arcgis.com/home/item.html?id=d94dcdbe78e141c2b2d3a91d5ca8b9c9" target="_blank">National Geographic Basemap (Esri)</a></li>                      
            <li>Boundaries/Labels: <a href="http://arcgis.com/home/item.html?id=a842e359856a4365b1ddf8cc34fde079" target="_blank">ESRI World Boundaries and Places</a></li>     
            <li>Arctic Basemap: <a href="http://www.ibcao.org/" target="_blank">IBCAO/GEBCO_08 shaded-relief map</a></li>   
            <li>Antarctic Basemap: <a href="http://www.ibcso.org/" target="_blank">IBCSO/GEBCO_08 shaded-relief map</a></li>            
        </ul>   
    </p>
    <p>
        <b>Map projections:</b>
        <ul>
            <li>
                Global view: WGS84 Web Mercator (Auxiliary Sphere); EPSG:3857   
            </li>
            <li>
                Arctic view: WGS84 Arctic Polar Stereographic; standard parallel of 71 degrees; EPSG:3995
            </li>
            <li>
                Antarctic view: WGS84 Antarctic Polar Stereographic; standard parallel of -71 degrees; EPSG:3031
            </li>
        </ul>
    </p>
    <p>
        <b>Disclaimer:</b>
    <ul>
        <li>
            All international boundaries, maritime boundaries, and placenames are shown for general orientation and reference only; they do not necessarily represent official U.S. policy.
        </li>
        <li>
            WARNING: These data not to be used for navigation. Although these data are of high quality and useful for planning and modeling purposes, they are not suitable for navigation. For official navigation products, please refer to the U.S. nautical charts available from the NOAA Office of Coast Survey. <a href="http://www.nauticalcharts.noaa.gov/" target="_blank">http://www.nauticalcharts.noaa.gov</a>
        </li>
    </ul>
    Some icons on this webpage are from the <a href="http://p.yusukekamiyamane.com/" target="_blank">Fugue Icons Collection</a>.
    </p>
    <p>
        <b>Version:</b>
        @application.version@, last updated @application.buildDate@
    </p>
</div>