<div class="layersPanel_class">
    <h3>Select Repository:</h3> 
                                                                
    <input type="radio" name="selectInst" id="AllInst" data-dojo-type="dijit/form/RadioButton"checked />
    <label for="AllInst">All Samples by Institution</label><br/>
    
    <input type="radio" name="selectInst" id="None" data-dojo-type="dijit/form/RadioButton"/>
    <label for="None">None</label><br/>                 
    
    <div class="instDiv" id="AOML_div"> 
        <input type="radio" name="selectInst" id="AOML" data-dojo-type="dijit/form/RadioButton"/>
        <label for="AOML"><img class="inst_icon" src="images/AOML_symbol.png"> AOML</label><br/>
        <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'AOML_div'">NOAA Atlantic Oceanographic and Meteorological Lab</div>
    </div>
    <div class="instDiv" id="AWI_div">
        <input type="radio" name="selectInst" id="AWI" data-dojo-type="dijit/form/RadioButton"/>
        <label for="AWI"><img class="inst_icon" src="images/AWI_symbol.png"> AWI</label><br/>
        <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'AWI_div'">Alfred Wegener Institute, Germany</div>
    </div>
    <div class="instDiv" id="BOSCORF_div">
        <input type="radio" name="selectInst" id="BOSCORF" data-dojo-type="dijit/form/RadioButton"/>
        <label for="BOSCORF"><img class="inst_icon" src="images/BOSCORF_symbol.png"> BOSCORF</label><br/>
        <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'BOSCORF_div'">British Ocean Sediment Core Research Facility, UK</div>
    </div>
    <div class="instDiv" id="BPRC_div"> 
        <input type="radio" name="selectInst" id="BPRC" data-dojo-type="dijit/form/RadioButton"/>
        <label for="BPRC"><img class="inst_icon" src="images/BPRC_symbol.png"> BPRC</label><br/>
        <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'BPRC_div'">Byrd Polar Research Facility</div>
    </div>
    <div class="instDiv" id="Canada_div">   
        <input type="radio" name="selectInst" id="Canada" data-dojo-type="dijit/form/RadioButton"/>                
        <label for="Canada"><img class="inst_icon" src="images/Canada_symbol.png"> Canada</label><br/>
        <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'Canada_div'">Geological Survey of Canada</div>
    </div>
    <div class="instDiv" id="DSDP_div"> 
        <input type="radio" name="selectInst" id="DSDP" data-dojo-type="dijit/form/RadioButton"/>
        <label for="DSDP"><img class="inst_icon" src="images/DSDP_symbol.png"></img> DSDP</label><br/>
        <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'DSDP_div'">Deep Sea Drilling Project, IODP</div>
    </div>
    <div class="instDiv" id="ECS_div">              
        <input type="radio" name="selectInst" id="ECS" data-dojo-type="dijit/form/RadioButton"/>
        <label for="ECS"><img class="inst_icon" src="images/ECS_symbol.png"> ECS</label><br/>
        <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'ECS_div'">Extended Continental Shelf Project</div>
    </div>
    <div class="instDiv" id="FSU_div">  
        <input type="radio" name="selectInst" id="FSU" data-dojo-type="dijit/form/RadioButton"/>
        <label for="FSU"><img class="inst_icon" src="images/FSU_symbol.png"> FSU</label><br/>
        <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'FSU_div'">Antarctic Research Facility, Florida State</div>
    </div>
    <div class="instDiv" id="GEOMAR_div">   
        <input type="radio" name="selectInst" id="GEOMAR" data-dojo-type="dijit/form/RadioButton"/>
        <label for="GEOMAR"><img class="inst_icon" src="images/GEOMAR_symbol.png"> GEOMAR</label><br/>
        <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'GEOMAR_div'">IFM-GEOMAR, Germany</div>
    </div>
    <div class="instDiv" id="IODP_div"> 
        <input type="radio" name="selectInst" id="IODP" data-dojo-type="dijit/form/RadioButton"/>
        <label for="IODP"><img class="inst_icon" src="images/IODP_symbol.png"> IODP</label><br/>
        <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'IODP_div'">Integrated Ocean Drilling Program</div>                    
    </div>
    <div class="instDiv" id="LDEO_div"> 
        <input type="radio" name="selectInst" id="LDEO" data-dojo-type="dijit/form/RadioButton"/>
        <label for="LDEO"><img class="inst_icon" src="images/LDEO_symbol.png"> LDEO</label><br/>
        <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'LDEO_div'">Lamont-Doherty Earth Observatory</div>
    </div>
    <div class="instDiv" id="LacCore_div">  
        <input type="radio" name="selectInst" id="LacCore" data-dojo-type="dijit/form/RadioButton"/>
        <label for="LacCore"><img class="inst_icon" src="images/LacCore_symbol.png"> LacCore</label><br/>
        <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'LacCore_div'">National Lacustrine Core Repository, U Minn</div>
    </div>
    <div class="instDiv" id="ODP_div">  
        <input type="radio" name="selectInst" id="ODP" data-dojo-type="dijit/form/RadioButton"/>
        <label for="ODP"><img class="inst_icon" src="images/ODP_symbol.png"> ODP</label><br/>
        <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'ODP_div'">Ocean Drilling Program, IODP</div>
    </div>
    <div class="instDiv" id="OSU_div">                                          
        <input type="radio" name="selectInst" id="OSU" data-dojo-type="dijit/form/RadioButton"/>
        <label for="OSU"><img class="inst_icon" src="images/OSU_symbol.png"> OSU</label><br/>
        <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'OSU_div'">Oregon State University</div>
    </div>
    <div class="instDiv" id="PMEL_div"> 
        <input type="radio" name="selectInst" id="PMEL" data-dojo-type="dijit/form/RadioButton"/>
        <label for="PMEL"><img class="inst_icon" src="images/PMEL_symbol.png"> PMEL</label><br/>
        <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'PMEL_div'">NOAA Pacific Marine Environmental Lab</div>
    </div>
    <div class="instDiv" id="RSMAS_div">                    
        <input type="radio" name="selectInst" id="RSMAS" data-dojo-type="dijit/form/RadioButton"/>
        <label for="RSMAS"><img class="inst_icon" src="images/RSMAS_symbol.png"> RSMAS</label><br/>
        <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'RSMAS_div'">Rosenstiel School of Marine and Atmos Sciences</div>
    </div>  
    <div class="instDiv" id="SIO_div">  
        <input type="radio" name="selectInst" id="SIO" data-dojo-type="dijit/form/RadioButton"/>
        <label for="SIO"><img class="inst_icon" src="images/SIO_symbol.png"> SIO</label><br/>
        <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'SIO_div'">Scripps Institution of Oceanography</div>
    </div>  
    <div class="instDiv" id="SOEST_div">    
        <input type="radio" name="selectInst" id="SOEST" data-dojo-type="dijit/form/RadioButton"/>
        <label for="SOEST"><img class="inst_icon" src="images/SOEST_symbol.png"> SOEST</label><br/>
        <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'SOEST_div'">University of Hawaii</div>
    </div>
    <div class="instDiv" id="URI_div">  
        <input type="radio" name="selectInst" id="URI" data-dojo-type="dijit/form/RadioButton"/>
        <label for="URI"><img class="inst_icon" src="images/URI_symbol.png"> URI</label><br/>
        <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'URI_div'">University of Rhode Island</div>
    </div>
    <div class="instDiv" id="USC_div">  
        <input type="radio" name="selectInst" id="USC" data-dojo-type="dijit/form/RadioButton"/>
        <label for="USC"><img class="inst_icon" src="images/USC_symbol.png"> USC</label><br/>
        <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'USC_div'">University of Southern California</div>
    </div>
    <div class="instDiv" id="USGSMP_div">   
        <input type="radio" name="selectInst" id="USGSMP" data-dojo-type="dijit/form/RadioButton"/>
        <label for="USGSMP"><img class="inst_icon" src="images/USGS_symbol.png"> USGSMP</label><br/>
        <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'USGSMP_div'">USGS West Coast Repository</div>
    </div>
    <div class="instDiv" id="USGSWH_div">   
        <input type="radio" name="selectInst" id="USGSWH" data-dojo-type="dijit/form/RadioButton"/>
        <label for="USGSWH"><img class="inst_icon" src="images/USGS_symbol.png"> USGSWH</label><br/>
        <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'USGSWH_div'">USGS East Coast Repository</div>             
    </div>
    <div class="instDiv" id="USGSSP_div">   
        <input type="radio" name="selectInst" id="USGSSP" data-dojo-type="dijit/form/RadioButton"/>
        <label for="USGSSP"><img class="inst_icon" src="images/USGS_symbol.png"> USGSSP</label><br/>
        <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'USGSSP_div'">USGS Southeast Repository</div>              
    </div>
    <div class="instDiv" id="UT_div">                                       
        <input type="radio" name="selectInst" id="UT" data-dojo-type="dijit/form/RadioButton"/>
        <label for="UT"><img class="inst_icon" src="images/UT_symbol.png"> UT</label><br/>
        <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'UT_div'">University of Texas Institute of Geophysics</div>
    </div>
    <div class="instDiv" id="WHOI_div"> 
        <input type="radio" name="selectInst" id="WHOI" data-dojo-type="dijit/form/RadioButton"/>
        <label for="WHOI"><img class="inst_icon" src="images/WHOI_symbol.png"> WHOI</label><br/>
        <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'WHOI_div'">Woods Hole Oceanographic Institution</div>
    </div>
    <div class="instDiv" id="WISC_div">                 
        <input type="radio" name="selectInst" id="WISC" data-dojo-type="dijit/form/RadioButton"/>
        <label for="WISC"><img class="inst_icon" src="images/UWISC_symbol.png"> WISC</label><br/>
        <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'WISC_div'">University of Wisconsin</div>
    </div>
    <div class="instDiv" id="NMNH_div"> 
        <input type="radio" name="selectInst" id="NMNH" data-dojo-type="dijit/form/RadioButton"/>
        <label for="NMNH"><img class="inst_icon" src="images/NMNH_symbol.png"> NMNH</label><br/>
        <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'NMNH_div'">Smithsonian Institution Museum of Natural History</div>
    </div>  
    
    <!-- div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'AOML">NOAA Atlantic Oceanographic and Meteorological Lab</div>
    <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'AWI">Alfred Wegener Institute, Germany</div>
    <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'BOSCORF">British Ocean Sediment Core Research Facility, UK</div>
    <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'BPRC">Byrd Polar Research Facility</div>
    <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'Canada">Geological Survey of Canada</div>
    <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'DSDP">Deep Sea Drilling Project, IODP</div>
    <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'ECS">Extended Continental Shelf Project</div>
    <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'ARFFSU">Antarctic Research Facility, Florida State</div>
    <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'GEOMAR">IFM-GEOMAR, Germany</div>
    <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'IODP">Integrated Ocean Drilling Program</div>                    
    <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'LDEO">Lamont-Doherty Earth Observatory</div>
    <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'LacCore">National Lacustrine Core Repository, U Minn</div>
    <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'ODP">Ocean Drilling Program, IODP</div>
    <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'OSU">Oregon State University</div>
    <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'PMEL">NOAA Pacific Marine Environmental Lab</div>
    <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'RSMAS">Rosenstiel School of Marine and Atmos Sciences</div>
    <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'SIO">Scripps Institution of Oceanography</div>
    <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'SOEST">University of Hawaii</div>
    <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'URI">University of Rhode Island</div>
    <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'USC">University of Southern California</div>
    <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'USGSMP">USGS West Coast Repository</div>
    <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'USGSWH">USGS East Coast Repository</div>             
    <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'UT">University of Texas Institute of Geophysics</div>
    <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'WHOI">Woods Hole Oceanographic Institution</div>
    <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'WISC">University of Wisconsin</div>
    <div data-dojo-type="dijit/Tooltip" data-dojo-props="showDelay:100, position:['after'], connectId:'NMNH">Smithsonian Institution Museum of Natural History</div> -->

    
</div>