<div class="${baseClass}">
    <map id="noaangdc">
        <area shape="rect" coords="0,0,165,50" href="http://www.noaa.gov/" title="go to National Oceanic &amp; Atmospheric Administration home" alt="go to National Oceanic &amp; Atmospheric Administration home" target="blank"/>
        <area shape="rect" coords="165,0,440,50" href="http://www.ngdc.noaa.gov/" title="go to National Geophysical Data Center home" alt="go to National Geophysical Data Center home" target="blank"/>
    </map>
    <table border="0" class="banner" cellpadding="1" cellspacing="0">
        <tr class="banner-upper">
            <td align="left">
                <img name="nesdisleft" src="http://www.ngdc.noaa.gov/image/nesdisngdcleft.gif" usemap="#noaangdc" border="0" height="50" width="440" alt="NOAA Logo, National Geophysical Data Center." />
            </td>
            <td align="right">
                <a data-dojo-attach-point="bannerDataUrl" href="" target="_blank"><img name="mapservicelinks" id="mapserviceImg" src="${image}" width="400" height="50" border="0" alt="map service links" /></a>
            </td>
        </tr>
        <tr class="banner-lower">
            <td data-dojo-attach-point="breadcrumbsCell" align="left">
            </td>
            <td align="right">
                <a href="http://www.ngdc.noaa.gov/ngdcinfo/privacy.html" target="_blank" class="banner">Privacy Policy</a>
            </td>
        </tr>
    </table>
</div>