<div class="dijitDialog" role="dialog" aria-labelledby="${id}_title">
    <div data-dojo-attach-point="titleBar" class="dijitDialogTitleBar">
        <span data-dojo-attach-point="titleNode" class="dijitDialogTitle" id="${id}_title"
              role="header" level="1"></span>
        <span style="display: none;" data-dojo-attach-point="closeButtonNode" class="dijitDialogCloseIcon"
              data-dojo-attach-event="ondijitclick: onCancel" title="${buttonCancel}" role="button" tabIndex="-1">
            <span data-dojo-attach-point="closeText" class="closeText" title="${buttonCancel}">x</span>
        </span>
    </div>
    <div data-dojo-attach-point="containerNode" class="dijitDialogPaneContent">
        <table cellpadding="6" cellspacing="3">
        <tr>
            <td align="left">                       
                <label>Date of Survey:</label><br>
                <label for="startDateInput">Start:</label>
                <input data-dojo-type="dijit/form/DateTextBox" class="surveySelect-dateTextBox" data-dojo-attach-point="startDateInput" name="startDate" type="text">
                <label for="endDateInput">End:</label>
                <input data-dojo-type="dijit/form/DateTextBox" class="surveySelect-dateTextBox" data-dojo-attach-point="endDateInput" name="endDate" type="text">                
            </td>           
        </tr>
        <!-- <tr>
            <td align="left" colspan="2">               
                <label>Survey ID <span class="wildcardLabel">(wildcards accepted: *)</span>:</label><br/>
                <div data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="surveyNameText" name="survey" 
                     style="width: 200px;" required="false">                 
                </div>
            </td>
        </tr> -->
        <tr>
            <td align="left" colspan="2">               
                <label>Platform Name <span class="wildcardLabel">(wildcards accepted: *)</span></label><br/>
                <div data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="platformNameText" name="platform" 
                     style="width: 200px;" required="false">                 
                </div>
            </td>
        </tr> 
        <tr>
            <td>
                <input data-dojo-attach-point="chkZoomToResults" data-dojo-type="dijit/form/CheckBox" checked="true" value="false" type="checkbox" name="chkZoomToResults"/>
                Zoom to Results
            </td>
        </tr>
        </table>  
        <div class="dijitDialogPaneActionBar right-align">
            <button class="left-align" data-dojo-type="dijit/form/Button" data-dojo-attach-point="resetButton">Reset</button>
            <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="cancelButton">Cancel</button>
            <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="submitButton" type="submit"><b>OK</b></button>
        </div> 
    </div>
</div>