<div class="layersPanel_class">
    <h2>Historical Magnetic Declination</h2>

    <input checked type="checkbox" data-dojo-attach-point="chkIsogonicLines" data-dojo-type="dijit/form/CheckBox">
    <label for="chkIsogonicLines"><b>Isogonic Lines</b></label><br>
    &nbsp;&nbsp;&nbsp;<img class="legendGraphic" src="images/pos_symbol.png"></img><span class="legendText">Positive (east of north)</span><br>
    &nbsp;&nbsp;&nbsp;<img class="legendGraphic" src="images/neg_symbol.png"></img><span class="legendText">Negative (west of north)</span><br>
    &nbsp;&nbsp;&nbsp;<img class="legendGraphic" src="images/zero_symbol.png"></img><span class="legendText">Line of zero declination (agonic line)</span><br>

    <input checked type="checkbox" data-dojo-attach-point="chkPoles" data-dojo-type="dijit/form/CheckBox">
    <label for="chkPoles"><b>Modeled Magnetic Poles (Dip Poles)</b></label>&nbsp;&nbsp;<img class="legendGraphic" src="images/dip_poles_symbol.png"></img><br>

    <input type="checkbox" data-dojo-attach-point="chkPolesTrack" data-dojo-type="dijit/form/CheckBox">
    <label for="chkPolesTrack"><b>Modeled Historical Track of Poles</b></label><br>
    &nbsp;&nbsp;&nbsp;<img src="images/pole_track_legend.png"></img><br>

    <input type="checkbox" data-dojo-attach-point="chkObservedPoles" data-dojo-type="dijit/form/CheckBox">
    <label for="chkObservedPoles"><b>Observed Pole Locations</b></label>&nbsp;&nbsp;<img src="images/observed_pole_symbol.png"></img><br>

</div>
