<div class="creditsPanel_class">              
    <p>
        For more information about Natural Hazards data at NCEI, see <a href="http://ngdc.noaa.gov/hazard/hazards.shtml" target="_blank">http://ngdc.noaa.gov/hazard/hazards.shtml</a>.
    </p>
    <p>
        More information about the Natural Hazards ArcGIS map service on <a href="http://noaa.maps.arcgis.com/home/item.html?id=b146357d106e4cbfa9e9c41fd0f362b3" target="_blank">NOAA's GeoPlatform</a>.
    </p>
    <p>
        <b>Basemap/reference layers:</b>
    <ul>
        <li>
            Shaded Relief (GEBCO_2014): A shaded-relief visualization of the <a href="http://www.gebco.net/data_and_products/gridded_bathymetry_data" target="_blank">GEBCO_2014 Grid</a>. This visualization of the GEBCO_2014 grid was produced by NOAA/NCEI. <a href="http://noaa.maps.arcgis.com/home/item.html?id=479a229eee9c471881c86afe1b2e80cf" target="_blank">More information on NOAA's GeoPlatform</a>.
        </li>
        <li>
            Shaded Relief (ETOPO1): A visualization of the <a href="http://www.ngdc.noaa.gov/mgg/global/global.html" target="_blank">ETOPO1 Global Relief Model</a>. <a href="http://noaa.maps.arcgis.com/home/item.html?id=c7cdc62ec1d44297becf264bf67449f9" target="_blank">More information on NOAA's GeoPlatform</a>.
        </li>
        <li><a href="http://www.arcgis.com/home/item.html?id=8b3d38c0819547faa83f7b7aca80bd76" target="_blank">Esri Light Gray Canvas</a></li>
        <li><a href="http://www.arcgis.com/home/item.html?id=1970c1995b8f44749f4b9b6e81b5ba45" target="_blank">Esri Dark Gray Canvas</a></li>      
        <li>
            Imagery: <a href="http://www.arcgis.com/home/item.html?id=10df2279f9684e4a9f6a7f08febac2a9" target="_blank">Esri World Imagery</a>
        </li>
        <li>
            Ocean: <a href="http://www.arcgis.com/home/item.html?id=5ae9e138a17842688b0b79283a4353f6" target="_blank">Esri Ocean Basemap</a>
        </li>
        <li>National Geographic: <a href="http://www.arcgis.com/home/item.html?id=d94dcdbe78e141c2b2d3a91d5ca8b9c9" target="_blank">Esri/National Geographic Basemap</a></li>
        <li>Boundaries/Labels: <a href="http://www.arcgis.com/home/item.html?id=a842e359856a4365b1ddf8cc34fde079" target="_blank">World Boundaries and Places (Esri)</a>
        </li> 
    </ul>
    </p>
    <p>
    <p><b>Map projection:</b>WGS84 Web Mercator (Auxiliary Sphere); EPSG:3857.</p>
    <p>
        <b>Disclaimer:</b> All international boundaries, maritime boundaries, and placenames are shown for general orientation and reference only; they do not necessarily represent official U.S. policy.
    </p>
    <p>
        <b>Version:</b>
        @application.version@, last updated @application.buildDate@
    </p>          
</div>