<div class="layersPanel_class">
    <input id="checkTsEvents" type="checkBox" data-dojo-type="dijit/form/CheckBox" checked></input>                          
    <label id="labelTsEvents" for="checkTsEvents">
        <a href="http://ngdc.noaa.gov/hazard/tsu_db.shtml" target="_blank"><b>Tsunami Events</b></a>
    </label><br>
    <span id="tsEventsFlag"></span>
    &nbsp;
    <div data-dojo-type="dijit/form/Button" id="tsEventSearchButton">Search</div>
    <div data-dojo-type="dijit/form/Button" id="tsEventResetButton" disabled>Reset Filter</div><br>
    &nbsp;&nbsp;
    <span>Show as:</span><br>&nbsp;&nbsp;
    <input type="radio" name="radioTsEvents" id="radioTsEvents1" data-dojo-type="dijit/form/RadioButton" checked>
    <label for="radioTsEvents1" id="labelRadioTsEvents1">Symbols for Cause/Fatalities (<a id="tsEventLegendLink" href="#"><i>Legend</i></a>)</label>
    <br>&nbsp;&nbsp;
    <input type="radio" name="radioTsEvents" id="radioTsEvents2" data-dojo-type="dijit/form/RadioButton">
    <label for="radioTsEvents2" id="labelRadioTsEvents2">Green Squares <img src="images/green_square.png"/></label><br>            

    <hr>    
    <input id="checkTsObs" type="checkBox" data-dojo-type="dijit/form/CheckBox">
    <label id="labelTsObs" for="checkTsObs">
        <a href="http://ngdc.noaa.gov/hazard/tsu_db.shtml" target="_blank"><b>Tsunami Observations</b></a>
    </label><br>
    <span id="tsObsFlag"></span>
    &nbsp;
    <div data-dojo-type="dijit/form/Button" id="tsObsSearchButton">Search</div>
    <div data-dojo-type="dijit/form/Button" id="tsObsResetButton" disabled>Reset Filter</div><br>                                             
    <span>Show as:</span><br>
    &nbsp;&nbsp;
    <input type="radio" name="radioTsObs" id="radioTsObs1" data-dojo-type="dijit/form/RadioButton" checked disabled>
    <label for="radioTsObs1">Vertical Bars for Water Height (<a id="tsObsLegendLink1" href="#"><i>Legend</i></a>)</label><br>                                   
    &nbsp;&nbsp;
    <input type="radio" name="radioTsObs" id="radioTsObs2" data-dojo-type="dijit/form/RadioButton" disabled>
    <label for="radioTsObs2">Color-Coded by Measurement Type (<a id="tsObsLegendLink2" href="#"><i>Legend</i></a>)</label><br>                                       
    
    <hr>    
    <input id="checkSignifEqs" type="checkBox" data-dojo-type="dijit/form/CheckBox">
    <label id="labelSignifEqs" for="checkSignifEqs">
        <a href="http://www.ngdc.noaa.gov/nndc/struts/form?t=101650&amp;s=1&amp;d=1" target="_blank"><b>Significant Earthquakes</b></a> 
        (<a  id="signifEqLegendLink" href="#"><i>Legend</i></a>)
    </label><br>   
    <span id="signifEqFlag"></span>                  
    &nbsp;
    <div data-dojo-type="dijit/form/Button" id="signifEqSearchButton">Search</div>
    <div data-dojo-type="dijit/form/Button" id="signifEqResetButton" disabled>Reset Filter</div><br>
    <hr>                                                                                            
    
    <input id="checkVolEvents" type="checkBox" data-dojo-type="dijit/form/CheckBox">
    <label id="labelVolEvents" for="checkVolEvents">
        <a href="http://www.ngdc.noaa.gov/nndc/servlet/ShowDatasets?dataset=102557&amp;search_look=50&amp;display_look=50" target="_blank"><b>Significant Volcanic Eruptions</b></a> 
        (<a id="volEventLegendLink" href="#"><i>Legend</i></a>)
    </label><br>
    <span id="volEventFlag"></span>
    &nbsp;
    <div data-dojo-type="dijit/form/Button" id="volEventSearchButton">Search</div>                                                
    <div data-dojo-type="dijit/form/Button" id="volEventResetButton" disabled>Reset Filter</div><br><br>
    <input id="checkVolcanoes" type="checkBox" data-dojo-type="dijit/form/CheckBox">
    <label id="labelVolcanoes" for="checkVolcanoes"><b>Volcanoes</b> <img src="images/tan_triangle.png"/><br>(<a href="http://www.volcano.si.edu/" target="_blank">from Smithsonian Institution</a>)</label><br>
    <hr>            

    <input id="checkDarts" type="checkBox" data-dojo-type="dijit/form/CheckBox">
    <label id="labelDarts" for="checkDarts">
        <a href="http://ngdc.noaa.gov/hazard/DARTData.shtml" target="_blank"><b>DART Stations</b></a> 
        (<a id="dartLegendLink" href="#"><i>Legend</i></a>)
    </label><br>
    <span id="dartFlag"></span>                     
    &nbsp;
    <div data-dojo-type="dijit/form/Button" id="dartSearchButton">Search</div>                                                
    <div data-dojo-type="dijit/form/Button" id="dartResetButton" disabled>Reset Filter</div><br>
    
    <hr>
    <input id="checkTideGauges" type="checkBox" data-dojo-type="dijit/form/CheckBox">
    <label id="labelTideGauges" for="checkTideGauges">
        <a href="http://ngdc.noaa.gov/hazard/tide.shtml" target="_blank"><b>NOS/COOPS Tsunami Tide Gauges</b></a> <img src="images/blue_square.png"/>
    </label><br>

    <hr>
    <input id="checkPlateBoundaries" type="checkBox" data-dojo-type="dijit/form/CheckBox" checked>
    <label id="labelPlateBoundaries" for="checkPlateBoundaries">
        <a href="http://www.ig.utexas.edu/research/projects/plates/" target="_blank"><b>Plate Boundaries</b> (UTIG)</a>
        (<a id="plateBoundariesLegendLink" href="#"><i>Legend</i></a>)
    </label><br>
</div>