<div class="dijitDialog searchDialog" role="dialog" aria-labelledby="${id}_title">
    <div data-dojo-attach-point="titleBar" class="dijitDialogTitleBar">
        <span data-dojo-attach-point="titleNode" class="dijitDialogTitle" id="${id}_title"
              role="header" level="1"></span>
        <span style="display: none;" data-dojo-attach-point="closeButtonNode" class="dijitDialogCloseIcon"
              data-dojo-attach-event="ondijitclick: onCancel" title="${buttonCancel}" role="button" tabIndex="-1">
            <span data-dojo-attach-point="closeText" class="closeText" title="${buttonCancel}">x</span>
        </span>
    </div>
    <div data-dojo-attach-point="containerNode" class="dijitDialogPaneContent">
        <table cellpadding="6" cellspacing="3">
            <tr>
                <td>
                    Year (-2150 to present):<br>
                    <label for="startYearSpinner">Min:</label>
                    <div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="startYearSpinner" 
                        data-dojo-props="intermediateChanges:true, smallDelta:1, constraints:{min:-2150,max:2015,places:0,pattern:'0000'}" name="startYear" style="width: 55px"></div>
                    <label for="endYearSpinner">Max:</label>
                    <div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="endYearSpinner" 
                        data-dojo-props="intermediateChanges:true, smallDelta:1, constraints:{min:-2000,max:2015,places:0,pattern:'0000'}" name="endYear" style="width: 55px"></div>
                </td>           
            </tr>
            <tr>
                <td align="left" colspan="2">
                    <label for="regionSelect">
                        Region Name
                    </label>
                    <select data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="regionSelect" data-dojo-props="maxHeight:200, required:false" name="region" style="width: 250px;">
                    </select>
                </td>
            </tr>
            <tr>
                <td align="left" colspan="2">
                    <label for="countrySelect">Country</label>
                    <select data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="countrySelect" name="country" data-dojo-props="maxHeight:200, required:false" style="width: 250px;">
                    </select>
                </td>
            <tr>
                <td align="left" colspan="2">
                    <label>Earthquake Magnitude:</label>
                    <label for="minMagnitudeSpinner">Min</label>
                    <div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="minMagnitudeSpinner" 
                        data-dojo-props="intermediateChanges:true, smallDelta:0.1, constraints:{min:0,max:10,pattern:'0.0'}" name="minMagnitude" style="width: 55px"></div>
                    <label for="maxMagnitudeSpinner">Max</label>
                    <div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="maxMagnitudeSpinner" 
                        data-dojo-props="intermediateChanges:true, smallDelta:0.1, constraints:{min:0,max:10,pattern:'0.0'}" name="maxMagnitude" style="width: 55px"></div>
                </td>
            </tr>
            <tr>
                <td align="left" colspan="2">
                    <label>Intensity:</label>
                    <label for="minIntensitySpinner">Min</label>
                    <div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="minIntensitySpinner" 
                        data-dojo-props="intermediateChanges:true, smallDelta:1, constraints:{min:0,max:12,places:0}" name="minIntensity" style="width: 55px"></div>
                    <label for="maxIntensitySpinner">Max</label>
                    <div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="maxIntensitySpinner" 
                        data-dojo-props="intermediateChanges:true, smallDelta:1, constraints:{min:0,max:12,places:0}" name="maxIntensity" style="width: 55px"></div>
                </td>
            </tr>
            <tr>
                <td align="left" colspan="2">
                    <label>Focal Depth:</label>
                    <label for="minDepthSpinner">Min</label>
                    <div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="minDepthSpinner" 
                        data-dojo-props="intermediateChanges:true, smallDelta:10, constraints:{min:0,max:700,places:0}" name="minDepth" style="width: 55px"></div>
                    <label for="maxDepthSpinner">Max</label>
                    <div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="maxDepthSpinner" 
                        data-dojo-props="intermediateChanges:true, smallDelta:10, constraints:{min:0,max:700,places:0}" name="maxDepth" style="width: 55px"></div>
                </td>
            </tr>
            <tr>
                <td>
                    Number of Deaths:
                    <br>
                    <label for="minDeathsSelect">Min:</label>
                    <select data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="minDeathsSelect" data-dojo-props="maxHeight:200" name="minDeaths" style="width: 250px;">
                        <option value=""></option>
                        <option value="1">Few (~1 to 50 deaths)</option>
                        <option value="2">Some (~51 to 100 deaths)</option>
                        <option value="3">Many (~101 to 1000 deaths)</option>
                        <option value="4">Very Many (~1001 or more deaths)</option>
                    </select>
                    <br>
                    <label for="maxDeathsSelect">Max:</label>
                    <select data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="maxDeathsSelect" data-dojo-props="maxHeight:200" name="maxDeaths" style="width: 250px;">
                        <option value=""></option>
                        <option value="1">Few (~1 to 50 deaths)</option>
                        <option value="2">Some (~51 to 100 deaths)</option>
                        <option value="3">Many (~101 to 1000 deaths)</option>
                        <option value="4">Very Many (~1001 or more deaths)</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Damage in Millions of Dollars:
                    <br>
                    <label for="minDamageSelect">Min:</label>
                    <select data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="minDamageSelect" data-dojo-props="maxHeight:200" name="minDamage" style="width: 250px;">
                        <option value=""></option>
                        <option value="1">Limited (less than about $1 million) </option>
                        <option value="2">Moderate (~$1 to $5 million)</option>
                        <option value="3">Severe (~$5 to $24 million)</option>
                        <option value="4">Extreme (~$25 million or more)</option>
                    </select>
                    <br>
                    <label for="maxDamageSelect">Max:</label>
                    <select data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="maxDamageSelect" data-dojo-props="maxHeight:200" name="maxDamage" style="width: 250px;">
                        <option value=""></option>
                        <option value="1">Limited (less than about $1 million) </option>
                        <option value="2">Moderate (~$1 to $5 million)</option>
                        <option value="3">Severe (~$5 to $24 million)</option>
                        <option value="4">Extreme (~$25 million or more)</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="tsunamiAssoc">Only show earthquakes associated with a <b>Tsunami</b> or <b>Seiche</b>?</label>
                    <input data-dojo-attach-point="checkTsunamiAssoc" data-dojo-type="dijit/form/CheckBox" type="checkbox" name="tsunamiAssoc" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="volEventAssoc">Only show earthquakes associated with a <b>Volcanic eruption</b>?</label> 
                    <input data-dojo-attach-point="checkVolEventAssoc" data-dojo-type="dijit/form/CheckBox" type="checkbox" name="volEventAssoc" />
                </td>
            </tr>
        </table>
        <div class="dijitDialogPaneActionBar right-align">
            <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="submitButton" type="submit">OK</button>
            <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="cancelButton">Cancel</button>
            <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="resetButton">Reset</button>
        </div>
    </div>
</div>
