<div class="dijitDialog searchDialog" role="dialog" aria-labelledby="${id}_title">
    <div data-dojo-attach-point="titleBar" class="dijitDialogTitleBar">
        <span data-dojo-attach-point="titleNode" class="dijitDialogTitle" id="${id}_title"
              role="header" level="1"></span>
        <span style="display: none;" data-dojo-attach-point="closeButtonNode" class="dijitDialogCloseIcon"
              data-dojo-attach-event="ondijitclick: onCancel" title="${buttonCancel}" role="button" tabIndex="-1">
            <span data-dojo-attach-point="closeText" class="closeText" title="${buttonCancel}">x</span>
        </span>
    </div>
    <div data-dojo-attach-point="containerNode" class="dijitDialogPaneContent">
        <table cellpadding="6" cellspacing="3">
        <tr>
            <td>
                Source Year (-2000 to present):<br>
                <label for="startYearSpinner">Min:</label>
                <div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="startYearSpinner" 
                    data-dojo-props="intermediateChanges:true, smallDelta:1, constraints:{min:-2000,max:2015,places:0,pattern:'0000'}" name="startYear" style="width: 55px"></div>
                <label for="endYearSpinner">Max:</label>
                <div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="endYearSpinner" 
                    data-dojo-props="intermediateChanges:true, smallDelta:1, constraints:{min:-2000,max:2015,places:0,pattern:'0000'}" name="endYear" style="width: 55px"></div>
            </td>           
        </tr>
        <tr>
            <td>
                <label for="sourceRegionSelect"><b>Source</b> Region Name:</label>
                <select data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="sourceRegionSelect" data-dojo-props="maxHeight:200" name="sourceRegion" style="width: 250px;">
                    <option value="" selected></option>
                    <option value="77">West coast of Africa</option>
                    <option value="78">Central Africa</option>
                    <option value="73">Northeast Atlantic Ocean</option>
                    <option value="72">Northwest Atlantic Ocean</option>
                    <option value="70">Southeast Atlantic Ocean</option>
                    <option value="71">Southwest Atlantic Ocean</option>
                    <option value="75">East Coast of United States and Canada</option>
                    <option value="76">Gulf of Mexico</option>
                    <option value="74">Caribbean Sea</option>
                    <option value="40">Black Sea</option>
                    <option value="50">Mediterranean Sea</option>
                    <option value="30">Red Sea</option>
                    <option value="60">Indian Ocean (including W. Australia and W. Indonesia)</option>
                    <option value="87">Alaska (including Aleutian Islands)</option>
                    <option value="84">China, North and South Korea, Philippines, Taiwan</option>
                    <option value="81">E. Australia, New Zealand, South Pacific Is.</option>
                    <option value="80">Hawaii, Johnston Atoll, Midway I</option>
                    <option value="83">E. Indonesia and Malaysia</option>
                    <option value="82">New Caledonia, New Guinea, Solomon Is., Vanuatu</option>
                    <option value="85">Japan</option>
                    <option value="86">Kamchatka and Kuril Islands</option>
                    <option value="88">West Coast of North and Central America</option>
                    <option value="89">West Coast of South America </option>
                </select>                               
            </td>
        </tr>
        <tr>
            <td>
                <label for="observationLocationText"><b>Observation</b> Location Name includes:</label>
                <input data-dojo-type="dijit/form/TextBox" type="text" name="observationLocationText" data-dojo-attach-point="observationLocationText" style="width: 350px;">
            </td>
        </tr>
        <tr>
            <td>
                <label for="observationRegionSelect"><b>Observation</b> Region Name:</label>
                <select data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="observationRegionSelect" data-dojo-props="maxHeight:200" name="observationRegion" style="width: 350px;">
                    <option value=""></option>
                    <option value="77">West coast of Africa</option>
                    <option value="78">Central Africa</option>
                    <option value="73">Northeast Atlantic Ocean</option>
                    <option value="72">Northwest Atlantic Ocean</option>
                    <option value="70">Southeast Atlantic Ocean</option>
                    <option value="71">Southwest Atlantic Ocean</option>
                    <option value="75">East Coast of United States and Canada</option>
                    <option value="76">Gulf of Mexico</option>
                    <option value="74">Caribbean Sea</option>
                    <option value="40">Black Sea</option>
                    <option value="50">Mediterranean Sea</option>
                    <option value="30">Red Sea</option>
                    <option value="60">Indian Ocean (including W. Australia and W. Indonesia)</option>
                    <option value="87">Alaska (including Aleutian Islands)</option>
                    <option value="84">China, North and South Korea, Philippines, Taiwan</option>
                    <option value="81">E. Australia, New Zealand, South Pacific Is.</option>
                    <option value="80">Hawaii, Johnston Atoll, Midway I</option>
                    <option value="83">E. Indonesia and Malaysia</option>
                    <option value="82">New Caledonia, New Guinea, Solomon Is., Vanuatu</option>
                    <option value="85">Japan</option>
                    <option value="86">Kamchatka and Kuril Islands</option>
                    <option value="88">West Coast of North and Central America</option>
                    <option value="89">West Coast of South America </option>
                </select>                               
            </td>
        </tr>   
        <tr>
        <td>
            <label for="countrySelect"><b>Observation</b> Country:</label>
            <select data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="countrySelect" data-dojo-props="maxHeight:200" name="country" style="width: 350px;">
                <option value=""></option>
                <option value="AFRICA, NORTH COAST">AFRICA, NORTH COAST</option>
                <option value="ALBANIA">ALBANIA</option>
                <option value="ALGERIA">ALGERIA</option>
                <option value="ANGOLA">ANGOLA</option>
                <option value="ANTARCTICA">ANTARCTICA</option>
                <option value="ANTIGUA AND BARBUDA">ANTIGUA AND BARBUDA</option>
                <option value="ARGENTINA">ARGENTINA</option>
                <option value="AUSTRALIA">AUSTRALIA</option>
                <option value="AZORES (PORTUGAL)">AZORES (PORTUGAL)</option>
                <option value="BANGLADESH">BANGLADESH</option>
                <option value="BARBADOS">BARBADOS</option>
                <option value="BELGIUM">BELGIUM</option>
                <option value="BENIN">BENIN</option>
                <option value="BERMUDA (UK TERRITORY)">BERMUDA (UK TERRITORY)</option>
                <option value="BRAZIL">BRAZIL</option>
                <option value="BRITISH VIRGIN ISLANDS (UK TERRITORY)">BRITISH VIRGIN ISLANDS (UK TERRITORY)</option>
                <option value="BULGARIA">BULGARIA</option>
                <option value="CANADA">CANADA</option>
                <option value="CHILE">CHILE</option>
                <option value="CHINA">CHINA</option>
                <option value="COLOMBIA">COLOMBIA</option>
                <option value="CONGO">CONGO</option>
                <option value="COOK ISLANDS">COOK ISLANDS</option>
                <option value="COSTA RICA">COSTA RICA</option>
                <option value="CROATIA">CROATIA</option>
                <option value="CUBA">CUBA</option>
                <option value="CYPRUS">CYPRUS</option>
                <option value="DENMARK">DENMARK</option>
                <option value="DOMINICA">DOMINICA</option>
                <option value="DOMINICAN REPUBLIC">DOMINICAN REPUBLIC</option>
                <option value="EAST TIMOR">EAST TIMOR</option>
                <option value="ECUADOR">ECUADOR</option>
                <option value="EGYPT">EGYPT</option>
                <option value="EL SALVADOR">EL SALVADOR</option>
                <option value="ERITREA">ERITREA</option>
                <option value="FIJI">FIJI</option>
                <option value="FINLAND">FINLAND</option>
                <option value="FRANCE">FRANCE</option>
                <option value="FRENCH POLYNESIA">FRENCH POLYNESIA</option>
                <option value="FRENCH SOUTHERN AND ATLANTIC TERRITORIES">FRENCH SOUTHERN AND ATLANTIC TERRITORIES</option>
                <option value="GEORGIA">GEORGIA</option>
                <option value="GHANA">GHANA</option>
                <option value="GREECE">GREECE</option>
                <option value="GREENLAND">GREENLAND</option>
                <option value="GRENADA">GRENADA</option>
                <option value="GUADELOUPE (FRENCH TERRITORY)">GUADELOUPE (FRENCH TERRITORY)</option>
                <option value="GUATEMALA">GUATEMALA</option>
                <option value="GUYANA">GUYANA</option>
                <option value="HAITI">HAITI</option>
                <option value="HONDURAS">HONDURAS</option>
                <option value="INDIA">INDIA</option>
                <option value="INDONESIA">INDONESIA</option>
                <option value="IRAN">IRAN</option>
                <option value="IRELAND">IRELAND</option>
                <option value="ISRAEL">ISRAEL</option>
                <option value="ITALY">ITALY</option>
                <option value="JAMAICA">JAMAICA</option>
                <option value="JAPAN">JAPAN</option>
                <option value="JORDAN">JORDAN</option>
                <option value="KENYA">KENYA</option>
                <option value="KIRIBATI">KIRIBATI</option>
                <option value="LEBANON">LEBANON</option>
                <option value="LIBYA">LIBYA</option>
                <option value="MADAGASCAR">MADAGASCAR</option>
                <option value="MALAYSIA">MALAYSIA</option>
                <option value="MALDIVES">MALDIVES</option>
                <option value="MALTA">MALTA</option>
                <option value="MARSHALL ISLANDS, REP. OF">MARSHALL ISLANDS, REP. OF</option>
                <option value="MARTINIQUE (FRENCH TERRITORY)">MARTINIQUE (FRENCH TERRITORY)</option>
                <option value="MAURITIUS">MAURITIUS</option>
                <option value="MEXICO">MEXICO</option>
                <option value="MICRONESIA, FED. STATES OF">MICRONESIA, FED. STATES OF</option>
                <option value="MONTSERRAT">MONTSERRAT</option>
                <option value="MOROCCO">MOROCCO</option>
                <option value="MOZAMBIQUE">MOZAMBIQUE</option>
                <option value="MYANMAR (BURMA)">MYANMAR (BURMA)</option>
                <option value="NAURU">NAURU</option>
                <option value="NETHERLANDS">NETHERLANDS</option>
                <option value="NEW CALEDONIA">NEW CALEDONIA</option>
                <option value="NEW ZEALAND">NEW ZEALAND</option>
                <option value="NICARAGUA">NICARAGUA</option>
                <option value="NIUE">NIUE</option>
                <option value="NORTH KOREA">NORTH KOREA</option>
                <option value="NORWAY">NORWAY</option>
                <option value="OMAN">OMAN</option>
                <option value="PAKISTAN">PAKISTAN</option>
                <option value="PALAU">PALAU</option>
                <option value="PANAMA">PANAMA</option>
                <option value="PAPUA NEW GUINEA">PAPUA NEW GUINEA</option>
                <option value="PERU">PERU</option>
                <option value="PHILIPPINES">PHILIPPINES</option>
                <option value="PORTUGAL">PORTUGAL</option>
                <option value="REUNION (FRENCH TERRITORY)">REUNION (FRENCH TERRITORY)</option>
                <option value="RUSSIA">RUSSIA</option>
                <option value="SABA (DUTCH TERRITORY)">SABA (DUTCH TERRITORY)</option>
                <option value="SAINT BARTHELEMY (FRENCH TERRITORY)">SAINT BARTHELEMY (FRENCH TERRITORY)</option>
                <option value="SAINT KITTS AND NEVIS">SAINT KITTS AND NEVIS</option>
                <option value="SAINT LUCIA">SAINT LUCIA</option>
                <option value="SAINT MARTIN (FRENCH AND DUTCH TERRITORIES)">SAINT MARTIN (FRENCH AND DUTCH TERRITORIES)</option>
                <option value="SAINT PIERRE AND MIQUELON">SAINT PIERRE AND MIQUELON</option>
                <option value="SAINT VINCENT AND THE GRENADINES">SAINT VINCENT AND THE GRENADINES</option>
                <option value="SAMOA">SAMOA</option>
                <option value="SERBIA AND MONTENEGRO">SERBIA AND MONTENEGRO</option>
                <option value="SEYCHELLES">SEYCHELLES</option>
                <option value="SINGAPORE">SINGAPORE</option>
                <option value="SINT EUSTATIUS (DUTCH TERRITORY)">SINT EUSTATIUS (DUTCH TERRITORY)</option>
                <option value="SOLOMON ISLANDS">SOLOMON ISLANDS</option>
                <option value="SOMALIA">SOMALIA</option>
                <option value="SOUTH AFRICA">SOUTH AFRICA</option>
                <option value="SOUTH KOREA">SOUTH KOREA</option>
                <option value="SPAIN">SPAIN</option>
                <option value="SRI LANKA">SRI LANKA</option>
                <option value="SWEDEN">SWEDEN</option>
                <option value="SYRIA">SYRIA</option>
                <option value="TAIWAN">TAIWAN</option>
                <option value="TANZANIA">TANZANIA</option>
                <option value="THAILAND">THAILAND</option>
                <option value="TOGO">TOGO</option>
                <option value="TONGA">TONGA</option>
                <option value="TRINIDAD AND TOBAGO">TRINIDAD AND TOBAGO</option>
                <option value="TUNISIA">TUNISIA</option>
                <option value="TURKEY">TURKEY</option>
                <option value="TURKMENISTAN">TURKMENISTAN</option>
                <option value="TUVALU">TUVALU</option>
                <option value="UA">UA</option>
                <option value="UK TERRITORY">UK TERRITORY</option>
                <option value="UK">UK</option>
                <option value="UKRAINE">UKRAINE</option>
                <option value="URUGUAY">URUGUAY</option>
                <option value="USA TERRITORY">USA TERRITORY</option>
                <option value="USA">USA</option>
                <option value="VANUATU">VANUATU</option>
                <option value="VENEZUELA">VENEZUELA</option>
                <option value="VIETNAM">VIETNAM</option>
                <option value="WALLIS AND FUTUNA (FRENCH TERRITORY)">WALLIS AND FUTUNA (FRENCH TERRITORY)</option>
                <option value="YEMEN">YEMEN</option>
            </select>
        </td>
        </tr> 
        <tr>
            <td>
            <label for="areaSelect"><b>Observation</b> Area (state, province, prefecture, etc.):</label>
            <select data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="areaSelect" data-dojo-props="required:false" name="area" style="width: 350px;"></select>
            </td>
        </tr>  
        <tr>
            <td>
                Type of Measurement (shift-click to select multiple):<br>
                <select data-dojo-type="dijit/form/MultiSelect" data-dojo-attach-point="measurementTypeSelect" data-dojo-props="size:6" name="measurementType" style="width: 350px;">
                    <option VALUE="1">Eyewitness measurement</option>
                    <option VALUE="4">Water Height, post-tsunami survey measurement</option>
                    <option VALUE="5">Runup Height, post-tsunami survey measurement</option>                    
                    <option VALUE="2">Tide-gauge measurement</option>
                    <option VALUE="3">Deep ocean gauge</option>
                    <option VALUE="6">Atmospheric pressure wave</option>
                    <option VALUE="7">Seiche</option>
                    <option VALUE="8">Height in harbor, post-tsunami survey measurement</option>
                    <option VALUE="9">Splash mark, post-tsunami survey measurement</option>
                    <option VALUE="10">Flow depth, post-tsunami survey measurement</option>
                </select>
            </td>
        </tr>
        <tr>
            <td align="left">
                Water Height (m):
                <label for="minWaterHeightText">Min:</label>
                <div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="minWaterHeightText" name="minWaterHeight" 
                    data-dojo-props="intermediateChanges:true, smallDelta:0.1, constraints:{min:0,max:600}" style="width: 55px"></div>
                <label for="maxWaterHeightText">Max:</label>
                <div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="maxWaterHeightText" name="maxWaterHeight" 
                    data-dojo-props="intermediateChanges:true, smallDelta:0.1, constraints:{min:0,max:600}" style="width: 55px"></div>
            </td>
        </tr>
        <tr>
            <td align="left">
                Distance from Source (km):
                <label for="minDistText">Min:</label>
                <div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="minDistText" name="minDist" 
                    data-dojo-props="intermediateChanges:true, smallDelta:1, constraints:{min:0,max:20000,places:0}" style="width: 55px"></div>
                <label for="maxDistText">Max:</label>
                <div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="maxDistText" name="maxDist" 
                    data-dojo-props="intermediateChanges:true, smallDelta:1, constraints:{min:0,max:20000,places:0}" style="width: 55px"></div>
            </td>
        </tr>
        <tr>
            <td>
                Number of Deaths at Observation Location:<br>
                <label for="minDeathsSelect">Min:</label>
                <select data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="minDeathsSelect" data-dojo-props="maxHeight:200" name="minDeaths" style="width: 250px;">
                    <option value=""></option>
                    <option value="1">Few (~1 to 50 deaths)</option>
                    <option value="2">Some (~51 to 100 deaths)</option>
                    <option value="3">Many (~101 to 1000 deaths)</option>
                    <option value="4">Very Many (~1001 or more deaths)</option>
                </select>
                <label for="maxDeathsSelect">Max:</label>
                <select data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="maxDeathsSelect" data-dojo-props="maxHeight:200" name="maxDeaths" style="width: 250px;">
                    <option value=""></option>
                    <option value="1">Few (~1 to 50 deaths)</option>
                    <option value="2">Some (~51 to 100 deaths)</option>
                    <option value="3">Many (~101 to 1000 deaths)</option>
                    <option value="4">Very Many (~1001 or more deaths)</option>
                </select>               
            </td>
        </tr>
        <tr>
            <td>
                Damage in Millions of Dollars at Observation Location:<br>
                <label for="minDamageSelect">Min:</label>
                <select data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="minDamageSelect" data-dojo-props="maxHeight:200" name="minDamage" style="width: 250px;">
                    <option value=""></option>
                    <option value="1">Limited (less than about $1 million) </option>
                    <option value="2">Moderate (~$1 to $5 million)</option>
                    <option value="3">Severe (~$5 to $24 million)</option>
                    <option value="4">Extreme (~$25 million or more)</option>
                </select>
                <label for="maxDamageSelect">Max:</label>
                <select data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="maxDamageSelect" data-dojo-props="maxHeight:200" name="maxDamage" style="width: 250px;">
                    <option value=""></option>
                    <option value="1">Limited (less than about $1 million) </option>
                    <option value="2">Moderate (~$1 to $5 million)</option>
                    <option value="3">Severe (~$5 to $24 million)</option>
                    <option value="4">Extreme (~$25 million or more)</option>
                </select>               
            </td>
        </tr>       
        </table>
        <div class="dijitDialogPaneActionBar right-align">
            <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="submitButton" type="submit">OK</button>
            <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="cancelButton">Cancel</button>
            <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="resetButton">Reset</button>
        </div>
    </div>
</div>
