<div class="creditsPanel_class">	
	<p>
		The National Geophysical Data Center is the official distribution point for NOS bathymetric maps, bathymetric/fishing maps, regional maps, geophysical maps, and preliminary maps. 
	</p>
	<p>
		For more information, please visit: <a href="http://ngdc.noaa.gov/mgg/bathymetry/maps/nos_intro.html" targe="_blank">http://ngdc.noaa.gov/mgg/bathymetry/maps/nos_intro.html</a>.
	</p>
	<p>
		<b>Basemap/reference layers:</b>
		<ul>
			<li>
				Terrain (GEBCO_08): The <a href="http://www.gebco.net/data_and_products/gridded_bathymetry_data" target="_blank">GEBCO_08 Grid</a>				
			</li>
			<li>
				Terrain (ETOPO1): <a href="http://www.ngdc.noaa.gov/mgg/global/global.html" target="_blank">ETOPO1 Global Relief Model</a>				
			</li>
			<li>Simple background: <a href="http://www.arcgis.com/home/item.html?id=8b3d38c0819547faa83f7b7aca80bd76" target="_blank">Esri Light Gray Canvas</a></li>					
			<li>
				Imagery: <a href="http://www.arcgis.com/home/item.html?id=10df2279f9684e4a9f6a7f08febac2a9" target="_blank">Esri World Imagery</a>
			</li>
			<li>
				Ocean: <a href="http://www.arcgis.com/home/item.html?id=5ae9e138a17842688b0b79283a4353f6" target="_blank">Esri Ocean Basemap</a>
			</li>
			<li>National Geographic: <a href="http://www.arcgis.com/home/item.html?id=d94dcdbe78e141c2b2d3a91d5ca8b9c9" target="_blank">Esri/National Geographic Basemap</a></li>
			<li>Boundaries/Labels: <a href="http://www.arcgis.com/home/item.html?id=a842e359856a4365b1ddf8cc34fde079" target="_blank">World Boundaries and Places (Esri)</a></li>						
		</ul>
	</p>
	<p>
		<b>Map projection:</b>
		<ul>
			<li>
				Global view: WGS84 Web Mercator (Auxiliary Sphere); EPSG:3857	
			</li>			
		</ul>
	</p>
	<p>
		<b>Disclaimer:</b>
		<ul>
			<li>
				All international boundaries, maritime boundaries, and placenames are shown for general orientation and reference only; they do not necessarily represent official U.S. policy.
			</li>
			<li>
				WARNING: These data not to be used for navigation. Although these data are of high quality and useful for planning and modeling purposes, they are not suitable for navigation. For official navigation products, please refer to the U.S. nautical charts available from the NOAA Office of Coast Survey. <a href="http://www.nauticalcharts.noaa.gov/" target="_blank">http://www.nauticalcharts.noaa.gov</a>
			</li>
		</ul>
	</p>
	<p>
		<b>Version:</b>
		1.1, last updated November 2012
	</p>
</div>
