<div class="referencePanel_class">
<b>Additional References:</b>
<ul>
	<li><a target="_blank" href="http://www.ngdc.noaa.gov/hazard/data/Kgrd-12.pdf" title="Thermal Springs List for the United States(1980, 3MB PDF file)">NOAA KGRD 12</a></li>
	<li><a target="_blank" href="http://www.ngdc.noaa.gov/hazard/data/pp492.pdf" title="Thermal Springs of the United States and Other Countries of the Wold - A Summary (1965, 21MB PDF file)">USGS Professional Paper 492</a></li>
	<li><a target="_blank" href="http://www.ngdc.noaa.gov/hazard/data/circular790.pdf" title="Assessment of Geothermal Resources of the United States (1978, 5MB PDF file)">USGS Circular 790 </a></li>
	<li><a target="_blank" href="http://www.ngdc.noaa.gov/nndc/struts/results?op_0=eq&v_0=&op_1=l&v_1=&op_2=l&v_2=&t=100006&s=1&d=1">Text Report of Thermal Springs</a></li>
</ul>
</div>
