<div class="dijitDialog" role="dialog" aria-labelledby="${id}_title">
    <div data-dojo-attach-point="titleBar" class="dijitDialogTitleBar">
        <span data-dojo-attach-point="titleNode" class="dijitDialogTitle" id="${id}_title"
              role="header" level="1"></span>
        <span style="display: none;" data-dojo-attach-point="closeButtonNode" class="dijitDialogCloseIcon"
              data-dojo-attach-event="ondijitclick: onCancel" title="${buttonCancel}" role="button" tabIndex="-1">
            <span data-dojo-attach-point="closeText" class="closeText" title="${buttonCancel}">x</span>
        </span>
    </div>
    <div data-dojo-attach-point="containerNode" class="dijitDialogPaneContent">
        <table cellpadding="6" cellspacing="3">
        <tr>
            <td align="left">                       
                <label>Date:</label><br>
                <label for="startDateInput">Start:</label>
                <input data-dojo-type="dijit/form/DateTextBox" class="surveySelect-dateTextBox" data-dojo-attach-point="startDateInput" name="startDate" type="text">
                <label for="endDateInput">End:</label>
                <input data-dojo-type="dijit/form/DateTextBox" class="surveySelect-dateTextBox" data-dojo-attach-point="endDateInput" name="endDate" type="text">                
            </td>           
        </tr>        
        <tr>
            <td colspan="2">
                Sample Rate (kHz):<br>
                <label for="minSampleRateSpinner">Min:</label>
                <div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="minSampleRateSpinner" 
                    data-dojo-props="intermediateChanges:true, smallDelta:1, constraints:{min:0,places:0}" name="minSampleRate" style="width: 55px"></div>
                <label for="maxSampleRateSpinner">Max:</label>
                <div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="maxSampleRateSpinner" 
                    data-dojo-props="intermediateChanges:true, smallDelta:1, constraints:{min:0,places:0}" name="maxSampleRate" style="width: 55px"></div>
            </td>
        </tr>
        <tr>
            <td align="left" colspan="2">               
                <label>Source Organization:</label><br/>                
                <div data-dojo-attach-point="institutionSelectDiv"></div>
            </td>
        </tr>
        <tr>
            <td align="left" colspan="2">               
                <label>Instrument Name:</label><br/>                
                <div data-dojo-attach-point="instrumentSelectDiv"></div>
            </td>
        </tr>
        <tr>
            <td align="left" colspan="2">               
                <label>Platform Type:</label><br/>                
                <div data-dojo-attach-point="platformTypeSelectDiv"></div>
            </td>
        </tr>
        <!--
        <tr>
            <td>
                <input data-dojo-attach-point="chkZoomToResults" data-dojo-type="dijit/form/CheckBox" checked="true" value="false" type="checkbox" name="chkZoomToResults"/>
                Zoom to Results
            </td>
        </tr>
        -->
        </table>  
        <div class="dijitDialogPaneActionBar right-align">
            <button class="left-align" data-dojo-type="dijit/form/Button" data-dojo-attach-point="resetButton">Reset</button>
            <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="cancelButton">Cancel</button>
            <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="submitButton" type="submit"><b>OK</b></button>
        </div> 
    </div>
</div>