<div class="creditsPanel_class">	
	<p>
		<b>For more information about the data layers included in this map:</b>
		<ul>
			<li>
				<a href="http://ngdc.noaa.gov/mgg/bathymetry/multibeam.html" target="_blank">Multibeam Bathymetry Surveys</a>
			</li>
			<li>
				<a href="http://ngdc.noaa.gov/mgg/geodas/trackline.html" target="_blank">Trackline Bathymetry Surveys</a>
			</li>			
			<li>
				<a href="http://ngdc.noaa.gov/mgg/bathymetry/hydro.html" target="_blank">NOS Hydrographic Surveys</a>
			</li>
			<li>
				<a href="http://ngdc.noaa.gov/mgg/bathymetry/relief.html" target="_blank">Digital Elevation Models (and shaded-relief imagery)</a>
			</li>
		</ul>
	</p>
	<p>
		<b>Basemap/reference layers:</b>
		<ul>
			<li>
				Terrain (GEBCO_08): The <a href="http://www.gebco.net/data_and_products/gridded_bathymetry_data" target="_blank">GEBCO_08 Grid</a>				
			</li>
			<li>
				Terrain (ETOPO1): <a href="http://www.ngdc.noaa.gov/mgg/global/global.html" target="_blank">ETOPO1 Global Relief Model</a>				
			</li>
			<li>Simple background: <a href="http://www.arcgis.com/home/item.html?id=8b3d38c0819547faa83f7b7aca80bd76" target="_blank">Esri Light Gray Canvas</a></li>
			<li>
				Simple background (Arctic view): <a href="http://www.ngdc.noaa.gov/mgg/shorelines/gshhs.html" target="_blank">GSHHS version 2.0</a>
				(Global Self-consistent, Hierarchical, High-resolution Shoreline Database)
			</li>
			<li>
				Shaded Relief (Arctic view): Composite of <a href="http://ibcao.org/" target="_blank">IBCAO version 2.0</a> and <a href="http://www.gebco.net/data_and_products/gridded_bathymetry_data" target="_blank">GEBCO_08</a>.			
			</li>
			<li>
				Imagery: <a href="http://www.arcgis.com/home/item.html?id=10df2279f9684e4a9f6a7f08febac2a9" target="_blank">Esri World Imagery</a>
			</li>
			<li>
				Ocean: <a href="http://www.arcgis.com/home/item.html?id=5ae9e138a17842688b0b79283a4353f6" target="_blank">Esri Ocean Basemap</a>
			</li>
			<li>National Geographic: <a href="http://www.arcgis.com/home/item.html?id=d94dcdbe78e141c2b2d3a91d5ca8b9c9" target="_blank">Esri/National Geographic Basemap</a></li>
			<li>Boundaries/Labels (Global view): <a href="http://www.arcgis.com/home/item.html?id=a842e359856a4365b1ddf8cc34fde079" target="_blank">World Boundaries and Places (Esri)</a></li>
			<li>
				Boundaries/Labels (Arctic view):
			</li>
			<ul>
				<li>
					World Maritime Boundaries: <a href="http://www.vliz.be/vmdcdata/marbound/" target="_blank">VLIZ Maritime Boundaries Geodatabase (version 5.0, 2009)</a>
				</li>
				<li>
					U.S. Exclusive Economic Zone: <a href="http://www.nauticalcharts.noaa.gov/csdl/mbound.htm" target="_blank">NOAA Office of Coast Survey</a>
				</li>
				<li>
					World City Locations: <a href="http://www.esri.com/data/data-maps/data-and-maps-dvd.html" target="_blank">ESRI Data and Maps DVDs</a>
				</li>
				<li>
					Geographic/marine region labels, country boundaries, state/province boundaries, rivers, lakes: <a href="http://www.naturalearthdata.com/" target="_blank">Natural Earth Data</a>
				</li>
			</ul>
		</ul>
	</p>
	<p>
		<b>Map projections:</b>
		<ul>
			<li>
				Global view: WGS84 Web Mercator (Auxiliary Sphere); EPSG:3857	
			</li>
			<li>
				Arctic view: WGS84 Lambert Azimuthal Equal Area; central meridian of -150 degrees; EPSG:3572
			</li>
		</ul>
	</p>
	<p>
		<b>Disclaimer:</b>
		<ul>
			<li>
				All international boundaries, maritime boundaries, and placenames are shown for general orientation and reference only; they do not necessarily represent official U.S. policy.
			</li>
			<li>
				WARNING: These data not to be used for navigation. Although these data are of high quality and useful for planning and modeling purposes, they are not suitable for navigation. For official navigation products, please refer to the U.S. nautical charts available from the NOAA Office of Coast Survey. <a href="http://www.nauticalcharts.noaa.gov/" target="_blank">http://www.nauticalcharts.noaa.gov</a>
			</li>
		</ul>
	</p>
	<p>
		<b>Version:</b>
		1.6, last updated October 2012
	</p>
</div>
