<div dojoAttachPoint="basemapToolbarDiv" class="simpleBasemapToolbar">
	<div dojoAttachPoint="basemapToolbar" dojoType="dijit.Toolbar">
		<div dojoType="dijit.form.DropDownButton">
			<span>Select Basemap</span>		
			<div dojoType="dijit.Menu" dojoAttachPoint="_basemapMenu"></div>			
		</div>		
		<span dojoType="dijit.ToolbarSeparator"></span>
		<button dojoType="dijit.form.DropDownButton">
			<span>More...</span>
			<div dojoType="dijit.Menu" dojoAttachPoint="_overlayMenu"></div>
		</button>

	</div>
</div>
