.genid-container        { width: 370px; height: 400px; z-index: 99; position: absolute; border: 1px solid #F2F5F9; background-color: #666666; color: #FFFFFF; font-family: Verdana,Arial,Helvetica,sans-serif; }
.genid-border-container { width: 100%; height: 100%; }
.genid-top-region       { cursor: move; font-weight:bold;}
.genid-top-div          { padding: 5px; height: 1em; overflow: hidden; }
.genid-left-corner      { float: left; font-size: 12px; }
.genid-right-corner     { float: right; }
.genid-icons            { cursor: pointer; }
.genid-bottom-region    { height: 30px; padding-left: 13px !important; padding-top: 2px !important; overflow: hidden; cursor: move; }
.genid-right-region     { width:  15px; cursor: move;}
.genid-left-region      { width: 15px; text-align: center; font-weight: bolder; font-size: 20px; color: #FFFFFF; background-color: #666666; cursor: move; }
.genid-stack-container  { background-color: #FFFFFF; color: #000000; }
.genid-options-div      { padding: 5px; font-size: 12px; }
.genid-summary-div      { padding: 5px; font-size: 10px; }
.genid-summary-text		{ width: 100% !important; height: 300px !important; font-size: small; }
.genid-opt-tolerance    { width: 60px; }
.genid-attr-name, .genid-layer-name        
                        { height: 12px; float: right; font-size: 80%; color: #666666; }
.genid-focus-link       { color: #FF0000; }
.genid-grid-row         { float: left; display: none; font-size: 75%; color: #FF0000; }

/* rounded corners don't work in Internet Explorer */
.genid-rounded-corner   {
  -o-border-radius: 10px; -moz-border-radius: 12px; -webkit-border-radius: 10px; border-radius: 10px;
  -moz-box-sizing: border-box; -opera-sizing: border-box; -webkit-box-sizing: border-box; -khtml-box-sizing: border-box; box-sizing: border-box; 
  overflow: hidden;
}

.genid-featuregrid, .genid-infogrid {
	width: 100%;
	height: 325px !important;
}

.identifyWindow html * {
    margin-top: 0pt;
    margin-right: 0pt;
    margin-bottom: 0pt;
    margin-left: 0pt;
}

.identifyWindow td th {
    font-family: verdana, arial, helvetica, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 11px;
    font-size-adjust: none;
    font-stretch: normal;
    -x-system-font: none;
    line-height: 12px;
    padding-top: 5px;
    padding-right: 6px;
    padding-bottom: 5px;
    padding-left: 6px;
    text-align: left;
    vertical-align: top;
}

.identifyWindow a:link a:visited a:hover {
    color: #000066;
    font-weight: bold;
    text-decoration: underline;
}

.dojoxGrid-header { display:none; }

.tundra .dojoxGridMasterHeader { display:none !important; }

.tundra .dijitContentPane {
	text-align: left;
}

.genid-button { font-family: arial, helvetica, sans-serif; font-size: 12px; color: #000000; }

.genid-featuregrid-header, .genid-infogrid-header {
	font-size: 11px;
	font-weight: bold;
	padding-left: 5px !important;
	border: 1px solid;
}

.genid-featurePane, .genid-infoPane {
	overflow: hidden;
}

.identifyWindow table {
	margin: 0px;
	border-style: none;
	font-size: 10px;
}







