<div class="layersPanel_class">
    <h4>Water Column Sonar Data</h4>
    <table cellpadding=-"1" cellspacing="2">
        <tr>
            <td><input data-dojo-attach-point="chkNMFS" id="chkNMFS" type="checkBox" data-dojo-type="dijit/form/CheckBox" checked></input></td>
            <td><label for="chkNMFS" title="NOAA National Marine Fisheries Service">NMFS</label></td>
            <td><img style="vertical-align:middle;" src="images/red_line.png"></img></td>
        </tr>
        
        <tr>
            <td><input data-dojo-attach-point="chkOER" id="chkOER" type="checkBox" data-dojo-type="dijit/form/CheckBox" checked></input></td>                        
            <td><label for="chkOER" title="NOAA's Office of Ocean Exploration and Research">OER</label></td>
            <td><img style="vertical-align:middle;" src="images/blue_line.png"></img></td>
        </tr>

        <tr>
            <td><input data-dojo-attach-point="chkNos" id="chkNos" type="checkBox" data-dojo-type="dijit/form/CheckBox" checked></input></td>                          
            <td><label for="chkNos" title="NOAA's National Ocean Service">NOS</label></td>
            <td><img style="vertical-align:middle;" src="images/purple_line.png"></img></td>
        </tr>

        <tr>
            <td><input data-dojo-attach-point="chkR2R" id="chkR2R" type="checkBox" data-dojo-type="dijit/form/CheckBox" checked></input></td>                          
            <td><label for="chkR2R" title="Rolling Deck to Repository">R2R</label></td>
            <td><img style="vertical-align:middle;" src="images/green_line.png"></img></td>
        </tr>

        <tr>
            <td><input data-dojo-attach-point="chkOther" id="chkOther" type="checkBox" data-dojo-type="dijit/form/CheckBox" checked></input></td>                          
            <td><label for="chkOther">Other Sources</label></td>
            <td><img style="vertical-align:middle;" src="images/orange_line.png"></img></td>
        </tr>

        <tr>
            <td><input data-dojo-attach-point="chkNonUs" id="chkNonUs" type="checkBox" data-dojo-type="dijit/form/CheckBox" checked></input></td>                          
            <td><label for="chkNonUs">Non-U.S.</label></td>
            <td><img style="vertical-align:middle;" src="images/yellow_line.png"></img></td>
        </tr>
    </table>
    <br>
    
    <div data-dojo-type="dijit/form/Button" data-dojo-attach-point="searchButton" data-dojo-props="iconClass:'queryIcon', showLabel:true" id="searchButton"><b>Additional Filters</b></div>
    <div data-dojo-type="dijit/form/Button" data-dojo-attach-point="resetButton" data-dojo-props="iconClass:'clearSelectionIcon', showLabel:true" id="resetButton" disabled><b>Reset</b></div>
    <div id="currentFilter" class="filterText"></div><br>

    <hr>

    <div id="abstractDiv">
    Water column sonar data, the acoustic backscatter from the near-surface to the seafloor, 
    are used to assess physical and biological characteristics of the ocean including the spatial 
    distribution of plankton, fish, methane seeps, and underwater oil plumes.<br><br>

    <b><i>Data Providers:</i></b> NOAA National Marine Fisheries 
    Service (<a href="https://www.fisheries.noaa.gov/" target="_blank">NMFS</a>), NOAA Office of Ocean Exploration 
    and Research (<a href="https://oceanexplorer.noaa.gov/" target="_blank">OER</a>), Rolling Deck to Repository (<a href="http://www.rvdata.us/" target="_blank">R2R</a>), 
    NOAA offices outside of NMFS and OER (Other NOAA), U.S. academic or private 
    institutions (Other), and international groups (Non-U.S.).<br><br>

    <b><i>Data Citation:</i></b> Cruises have unique citations. See <a href="https://www.ngdc.noaa.gov/mgg/wcd/citations.html" target="_blank">Individual Cruises</a> for details.<br><br>

    Information on the archive and the imagery available in this viewer is available on the <a href="https://www.ngdc.noaa.gov/mgg/wcd/" target="_blank">NCEI Water Column Sonar Data Archive</a> page.<br><br>

    <b>Online Resources</b><br>
    <a href="https://www.ngdc.noaa.gov/metadata/published/NOAA/NESDIS/NGDC/MGG/Sonar_Water_Column/iso" target="_blank">Metadata for this archive</a><br>
    <a href="https://noaa.maps.arcgis.com/home/item.html?id=78c7416d9df34a40bf096435d8236baf" target="_blank">NOAA GeoPlatform (ArcGIS Online) entry</a><br>
    NCEI <a href="https://ngdc.noaa.gov/mgg/bathymetry" target="_blank">Bathymetry, Multibeam, and NOS Hydrographic Survey</a> Archives<br>
    NOAA <a href="https://coastwatch.pfeg.noaa.gov/erddap/index.html" target="_blank">ERDDAP</a><br>
    OER <a href="https://www.ncddc.noaa.gov/website/google_maps/OE/mapsOE.htm" target="_blank">Digital Atlas</a><br>
    NCEI <a href="https://gulfatlas.noaa.gov" target="_blank">Gulf of Mexico Data Atlas</a><br>
    NCEI <a href="https://data.nodc.noaa.gov/las/getUI.do" target="_blank">Live Access Server</a><br>
    NCEI <a href="https://www.nodc.noaa.gov/OC5/SELECT/dbsearch/dbsearch.html" target="_blank">World Ocean Database</a><br>
    NOAA <a href="https://www.coris.noaa.gov" target="_blank">Coral Reef Information System</a>
    </div>    
</div>