<div class="dijitDialog" role="dialog" aria-labelledby="${id}_title">
    <div data-dojo-attach-point="titleBar" class="dijitDialogTitleBar">
        <span data-dojo-attach-point="titleNode" class="dijitDialogTitle" id="${id}_title"
              role="header" level="1"></span>
        <span style="display: none;" data-dojo-attach-point="closeButtonNode" class="dijitDialogCloseIcon"
              data-dojo-attach-event="ondijitclick: onCancel" title="${buttonCancel}" role="button" tabIndex="-1">
            <span data-dojo-attach-point="closeText" class="closeText" title="${buttonCancel}">x</span>
        </span>
    </div>
    <div data-dojo-attach-point="containerNode" class="dijitDialogPaneContent">
        <table cellpadding="3" cellspacing="1">
            <tr style="vertical-align: top;">
                <td colspan="2">
                    Cruise Date:<br>
                    <label for="startDate">Start:</label>
                    <input type="text" data-dojo-attach-point='startDate' name="startDate" id="startDate" value="" data-dojo-type="dijit/form/DateTextBox" 
                        data-dojo-props="constraints: {datePattern: 'yyyy-MM-dd'}" style="width: 90px;"/>
                    <label for="startDate">End:</label>
                    <input type="text" data-dojo-attach-point='endDate' name="endDate" id="endDate" value="" data-dojo-type="dijit/form/DateTextBox"
                        data-dojo-props="constraints: {datePattern: 'yyyy-MM-dd'}" style="width: 90px;"/>
                    <img id="dateHelp" class="tooltipButton" src="images/question-button.png">
                    <div data-dojo-type="dijit/Tooltip" data-dojo-props="connectId:'dateHelp'">
                        <div class="tooltipText">Date format: YYYY-MM-DD</div>
                    </div>
                </td>   
            </tr>
            <tr style="vertical-align: top;">
                <td>
                    Survey Ship:&nbsp;&nbsp;&nbsp;
                    <input data-dojo-attach-point="chkAllShips" data-dojo-type="dijit/form/CheckBox" checked="true" value="true" type="checkbox" name="chkAllShips"/>
                    <label>All</label><br>
                    <select multiple="true" data-dojo-attach-point="shipSelect" class="surveySelect-multiSelect" name="ships" data-dojo-type="dojox/form/CheckedMultiSelect"/>
                </td>
                <td>
                    Institution:&nbsp;&nbsp;&nbsp;
                    <input data-dojo-attach-point="chkAllInstitutions" data-dojo-type="dijit/form/CheckBox" checked="true" value="true" type="checkbox" name="chkAllInstitutions"/>
                    <label>All</label><br>
                    <select multiple="true" data-dojo-attach-point="sourceInstSelect" class="surveySelect-multiSelect" name="institutions" data-dojo-type="dojox/form/CheckedMultiSelect"/>
                </td>
            </tr>
            <tr style="vertical-align: top;">
                <td>
                    Instrument:&nbsp;&nbsp;&nbsp;
                    <input data-dojo-attach-point="chkAllInstruments" data-dojo-type="dijit/form/CheckBox" checked="true" value="true" type="checkbox" name="chkAllInstruments"/>
                    <label>All</label><br>
                    <select disabled multiple="true" data-dojo-type="dojox/form/CheckedMultiSelect" data-dojo-attach-point="instrumentSelect" name="instruments">
                        <option value="EK500">EK500 (single-beam)</option>
                        <option value="EK60">EK60 (single-beam)</option>
                        <option value="EK80">EK80 (single-beam)</option>
                        <option value="ES60">ES60 (single-beam)</option>
                        <option value="EM122">EM122 (multibeam)</option>
                        <option value="EM2040">EM2040 (multibeam)</option>
                        <option value="EM3002">EM3002 (multibeam)</option>
                        <option value="EM302">EM302 (multibeam)</option>
                        <option value="EM710">EM710 (multibeam)</option>
                        <option value="ME70">ME70 (multibeam)</option>
                        <option value="Reson7125">Reson7125 (multibeam)</option>
                    </select>
                </td>
                <td>
                    Survey ID:&nbsp;&nbsp;&nbsp;
                    <input data-dojo-attach-point="chkAllSurveys" data-dojo-type="dijit/form/CheckBox" checked="true" value="true" type="checkbox" name="chkAllSurveys"/>
                    <label>All</label><br>
                    <select multiple="true" data-dojo-attach-point="surveyIdSelect" class="surveySelect-multiSelect" name="surveyIds" data-dojo-type="dojox/form/CheckedMultiSelect"/>
                </td>
            </tr> 

            <tr style="vertical-align: top;"">
                <td>
                    Center Frequencies for Single Beam:&nbsp;&nbsp;&nbsp;
                    <input data-dojo-attach-point="chkAllFrequencies" data-dojo-type="dijit/form/CheckBox" checked="true" value="true" type="checkbox" name="chkAllFrequencies"/>
                    <label>All</label><br>
                    <table style="border:1px solid #b3b3b3; text-align: center; border-spacing: 15px 0px;">
                        <tr>
                            <td>kHz</td>
                            <td>Narrowband</td>
                            <td>
                                Broadband                                
                            </td>
                            <td>
                                <img id="broadbandHelp" class="tooltipButton" src="images/question-button.png">
                                <div data-dojo-type="dijit/Tooltip" data-dojo-props="connectId:'broadbandHelp'">
                                    <div class="tooltipText">The EK80 can produce narrowband and broadband data. However, few broadband datasets are currently archived. If no results are returned, try including narrowband frequencies in your search.<br><br>In the cruise/file attributes, broadband frequencies have a "W" appended, e.g. "70WkHz".</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>18</td>
                            <td><input disabled data-dojo-attach-point="chkNarrowband18" data-dojo-type="dijit/form/CheckBox" checked="false" value="false" type="checkbox" name="chkNarrowband18"/></td>
                            <td><input disabled data-dojo-attach-point="chkBroadband18" data-dojo-type="dijit/form/CheckBox" checked="false" value="false" type="checkbox" name="chkBroadband18"/></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>38</td>
                            <td><input disabled data-dojo-attach-point="chkNarrowband38" data-dojo-type="dijit/form/CheckBox" checked="false" value="false" type="checkbox" name="chkNarrowband38"/></td>
                            <td><input disabled data-dojo-attach-point="chkBroadband38" data-dojo-type="dijit/form/CheckBox" checked="false" value="false" type="checkbox" name="chkBroadband38"/></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>70</td>
                            <td><input disabled data-dojo-attach-point="chkNarrowband70" data-dojo-type="dijit/form/CheckBox" checked="false" value="false" type="checkbox" name="chkNarrowband70"/></td>
                            <td><input disabled data-dojo-attach-point="chkBroadband70" data-dojo-type="dijit/form/CheckBox" checked="false" value="false" type="checkbox" name="chkBroadband70"/></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>120</td>
                            <td><input disabled data-dojo-attach-point="chkNarrowband120" data-dojo-type="dijit/form/CheckBox" checked="false" value="false" type="checkbox" name="chkNarrowband120"/></td>
                            <td><input disabled data-dojo-attach-point="chkBroadband120" data-dojo-type="dijit/form/CheckBox" checked="false" value="false" type="checkbox" name="chkBroadband120"/></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>200</td>
                            <td><input disabled data-dojo-attach-point="chkNarrowband200" data-dojo-type="dijit/form/CheckBox" checked="false" value="false" type="checkbox" name="chkNarrowband200"/></td>
                            <td><input disabled data-dojo-attach-point="chkBroadband200" data-dojo-type="dijit/form/CheckBox" checked="false" value="false" type="checkbox" name="chkBroadband200"/></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>710</td>
                            <td><input disabled data-dojo-attach-point="chkNarrowband710" data-dojo-type="dijit/form/CheckBox" checked="false" value="false" type="checkbox" name="chkNarrowband710"/></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </td>
                <td>
                    Calibration State:&nbsp;&nbsp;&nbsp;
                    <input data-dojo-attach-point="chkAllCalibrationStates" data-dojo-type="dijit/form/CheckBox" checked="true" value="true" type="checkbox" name="chkAllCalibrationStates"/>
                    <label>All</label><br>
                    <select disabled multiple="true" data-dojo-type="dojox/form/CheckedMultiSelect" data-dojo-attach-point="calibrationStateSelect" name="calibrationStates">
                        <option value="4">Calibrated with calibration data</option>
                        <option value="3">Calibrated without calibration data</option>
                        <option value="1">Uncalibrated</option>
                        <option value="2">Uncalibrated with calibration data</option>
                        <option value="0">Unknown</option>
                    </select>
                </td>
            </tr>  
            <tr>
                <td colspan="2">                    
                    <input data-dojo-attach-point="chkBottomSoundings" data-dojo-type="dijit/form/CheckBox" checked="false" value="false" type="checkbox" name="chkBottomSoundings"/>
                    Limit to Files with Bottom Soundings<br>

                    <input checked data-dojo-attach-point="chkZoomToResults" data-dojo-type="dijit/form/CheckBox" checked="false" value="false" type="checkbox" name="chkZoomToResults"/>
                    Zoom to Results
                </td>
            </tr>
        </table>

        <div class="dijitDialogPaneActionBar right-align">
            <button class="left-align" data-dojo-type="dijit/form/Button" data-dojo-attach-point="resetButton">Reset</button>
            <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="cancelButton">Cancel</button>
            <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="submitButton" type="submit"><b>OK</b></button>
        </div>
    </div>
</div>