<div>
 	In collaboration with scientists at NOAA's National 
    Marine Fisheries Service (NMFS) and the Joint 
    Hydrographic Center, NGDC initiated a new 
    archive for water column sonar data in 2011. This 
    project entails archiving water column sonar data 
    collected on NOAA, academic and international 
    fleets, and making the data available to 
    researchers and the public around the world.<br><br>
    
    As this is a relatively new endeavor, the amount 
    of data available here will continually increase.<br><br>

    The raw data can be requested through this
    website. Data are available for free, but may
    require the requestor to provide an external hard
    drive. Derived data products processed at NGDC
    will be available in the near future.<br><br>

    <b><i>Data Processing:</i></b> MATLAB, Echoview, Fledermaus
    and Caris are common data processing software. 
    Raw data are used to determine acoustic 
    backscattering volume (Sv), target strength (TS), 
    biological abundance, trophic- and species-level
    identification, and fish school metrics.<br><br>

    For those new to acoustics, especially its 
    application to fisheries research, we recommend 
    Simmonds and MacLennan (2005).<br><br>

    <b>References</b><br>
    Simmonds E.J. and MacLennan, D.N. 2005. 
    Fisheries Acoustics: Theory and practice. 
    Blackwell Science, Oxford. 456pp.<br><br>

    Some icons on this webpage are from the <a href="http://p.yusukekamiyamane.com/" target="_blank">Fugue Icons Collection</a>.
</div>