<div>
    <h3>Help with map navigation using mouse:</h3>
    <ul>
        <li>Click and drag the map to pan</li>
        <li>SHIFT + Click to recenter</li>
        <li>SHIFT + Drag to zoom in to a box</li>
        <li>SHIFT + CTRL + Drag to zoom out</li>
        <li>Mouse Scroll Forward to zoom in</li>
        <li>Mouse Scroll Backward to zoom out</li>
        <li>Use Arrow keys to pan</li>
        <li>+ key to zoom in a level</li>
        <li>- key to zoom out a level</li>
        <li>SHIFT + Double Click to Center and Zoom in</li>
    </ul>
    <h3>Identifying features:</h3>
    <ul>
        <li>Single-click on the map to identify features (operates on visible layers).</li>
        <li>A popup will appear with a list of the features near the click point.</li>
        <li>Mouse-over the list to highlight features on the map.</li>
        <li>Click the magnifying glass icon to zoom to the extent of a feature.</li>
        <li>Click on a row to view attributes for that feature.</li>
        <li><img src="images/identify_rect.png" alt="Select with rectangle">: Identify features by drawing a rectangle on the map.</li>
        <li><img src="images/identify_xy.png" alt="Select with coordinates">: Identify features by entering coordinates to define a bounding box.</li>
    </ul>
    <h3>Searching for Data:</h3>
    <ul>
        <li><b>Search for Data:</b> opens a dialog where you can specify a date range, cruise ID, instrument, number of beams, recording range, and swath width.\
            The lines visible on the map will be filtered based on this input criteria.
        </li>
        <li><b>Reset:</b> clears the current filter.</li>
    </ul>
    <h4>Please send questions or comments about the map to:</h4>
    <a href="mailto:ngdc.maps@noaa.gov">ngdc.maps@noaa.gov</a>
    <h4>For questions specific to Water Column Sonar Data, please contact:</h4>
    <a href="mailto:ngdc.maps@noaa.gov">wcd.info@noaa.gov</a>
</div>