<div>
    <b>Navigating the map</b><br>
    <ul>
        <li>Click and drag or use arrow keys to pan</li>
        <li>Mouse scroll forward or use + key to zoom in</li>
        <li>Mouse scroll backward or use - key to zoom out</li>
    </ul>

    <b>Identifying features</b><br>
    You have several options to identify features 
    within visible layers:
    <ul>
        <li>Single-click on the map</li>
        <li>Click on <img src="images/identify_rect.png" alt="Identify with rectangle icon">Â to draw a rectangle</li>
        <li>Click on <img src="images/identify_xy.png" alt="Identify with coordinates icon">Â to enter coordinates for a bounding box</li>
    </ul>
    A popup will appear with a list of the selected features.
    Mouse-over the list of files within an instrument 
    folder to highlight features on the map (blue line).
    Click the magnifying glass icon <img src="${magnifyingGlassIconUrl}" alt="Magnifying glass icon"> to zoom to that feature.
    Click on a row to view attributes for that feature.<br><br>

    <b>Searching for data</b><br>
    <b><i>Filter Data:</i></b> opens a dialog where you can specify 
    a desired date range, cruise ID, instrument, 
    number of beams, recording range, or swath 
    width. The lines visible on the map will be 
    filtered based on these input criteria.<br>
    <b><i>Reset:</i></b> clears the current filter<br><br>

    <b>Requesting data</b><br>
    Data requests can be made for a group of
    selected files in the Identified Features box
    by clicking "Request These Data Files" or for 
    individual files in the file attributes table by
    clicking "Request This Data File"
    Enter your name and email in the Request Data 
    popup box and a request will be sent directly to 
    NGDC.<br><br>

    Please send questions or comments about the 
    map to:
    <a href="mailto:ngdc.maps@noaa.gov">ngdc.maps@noaa.gov</a><br>

    For questions specific to water column sonar 
    data, please contact:
    <a href="mailto:wcd.info@noaa.gov">wcd.info@noaa.gov</a><br><br>

    Map viewer version: 1.1, last update May 2014
</div>