<div class="layersPanel_class">
    <h4>Water Column Sonar Data</h4>
    <table cellpadding=-"1" cellspacing="2">
        <tr>
            <td><input data-dojo-attach-point="chkNMFS" id="chkNMFS" type="checkBox" data-dojo-type="dijit/form/CheckBox" checked></input></td>
            <td><label for="chkNMFS" title="NOAA National Marine Fisheries Service">NMFS</label></td>
            <td><img style="vertical-align:middle;" src="images/red_line.png"></img></td>
        </tr>
        
        <tr>
            <td><input data-dojo-attach-point="chkOER" id="chkOER" type="checkBox" data-dojo-type="dijit/form/CheckBox" checked></input></td>                        
            <td><label for="chkOER" title="NOAA's Office of Ocean Exploration and Research">OER</label></td>
            <td><img style="vertical-align:middle;" src="images/blue_line.png"></img></td>
        </tr>

        <tr>
            <td><input data-dojo-attach-point="chkUNOLS" id="chkUNOLS" type="checkBox" data-dojo-type="dijit/form/CheckBox" checked></input></td>                          
            <td><label for="chkUNOLS" title="University-National Oceanographic Laboratory System">UNOLS</label></td>
            <td><img style="vertical-align:middle;" src="images/green_line.png"></img></td>
        </tr>

        <tr>
            <td><input data-dojo-attach-point="chkOtherNoaa" id="chkOtherNoaa" type="checkBox" data-dojo-type="dijit/form/CheckBox" checked></input></td>                          
            <td><label for="chkOtherNoaa">Other NOAA</label></td>
            <td><img style="vertical-align:middle;" src="images/purple_line.png"></img></td>
        </tr>

        <tr>
            <td><input data-dojo-attach-point="chkOther" id="chkOther" type="checkBox" data-dojo-type="dijit/form/CheckBox" checked></input></td>                          
            <td><label for="chkOther">Other</label></td>
            <td><img style="vertical-align:middle;" src="images/orange_line.png"></img></td>
        </tr>

        <tr>
            <td><input data-dojo-attach-point="chkNonUs" id="chkNonUs" type="checkBox" data-dojo-type="dijit/form/CheckBox" checked></input></td>                          
            <td><label for="chkNonUs">Non-U.S.</label></td>
            <td><img style="vertical-align:middle;" src="images/yellow_line.png"></img></td>
        </tr>
    </table>
    <br>
    <input type="radio" data-dojo-type="dijit/form/RadioButton" data-dojo-attach-point="radioCruiseView" name="layerMode" id="radioCruiseView" checked value="cruise"/>
    <label for="radioCruiseView"><b>Cruise View:</b> Provides information about the entire cruise. Best for large areas.</label> <br />
    
    <input type="radio" data-dojo-type="dijit/form/RadioButton" data-dojo-attach-point="radioFileView" name="layerMode" id="radioFileView" value="file"/>
    <label for="radioFileView"><b>File View:</b> Provides information about the data files. Best for small areas.</label> <br />
    
    <div data-dojo-type="dijit/form/Button" data-dojo-attach-point="searchButton" id="searchButton">Filter Data</div>
    <div data-dojo-type="dijit/form/Button" data-dojo-attach-point="resetButton" id="resetButton" disabled>Reset</div><br>
    <div id="currentFilter" class="filterText"></div>
    <hr>

    <div id="abstractDiv">
    <b>Abstract</b><br>
    Water column sonar data are collected by active acoustic (or sonar) technology and contain 
    acoustic scattering information from the near-surface to the seafloor. Scientists use these 
    data to assess physical and biological characteristics of the ocean, including the spatial 
    distribution of plankton, fish, methane seeps, and underwater oil plumes.<br><br>

    <b><i>Data Providers:</i></b> NOAA National Marine Fisheries 
    Service (<a href="http://www.nmfs.noaa.gov/" target="_blank">NMFS</a>), NOAA Office of Ocean Exploration 
    and Research (<a href="http://explore.noaa.gov/" target="_blank">OER</a>), University-National
    Oceanographic Laboratory System (<a href="http://www.unols.org/" target="_blank">UNOLS</a>), 
    NOAA offices outside of NMFS and OER (Other NOAA), U.S. academic or private 
    institutions (Other), and international groups (Non-U.S.).<br><br>

    <b><i>Data Collection:</i></b> A variety of sonars are used 
    by the data providers with Kongsberg's EM 122 
    (12 kHz) and EM 302 (30 kHz), Simrad's 
    EK60 (18-710 kHz, split beam), and ME 
    70 (70-120 kHz, can be split beam) 
    being most common. The configuration of each 
    cruise's sonar system (e.g., beam type and angle) 
    can be found in the file metadata.<br><br>

    <b><i>Data Citation:</i></b> This archive should be cited as follows:<br>
    National Geophysical Data Center (2014): Water Column Sonar Data Collection. National Geophysical Data Center, NOAA. 
    <a href="http://dx.doi.org/doi:10.7289/V5HT2M7C" target="_blank">doi: 10.7289/V5HT2M7C</a> [access date].<br>
    Please see the ReadMe file provided during download for citations specific to the cruise and sonar type you requested.<br><br>

    <b>Online Resources</b><br>
    <a href="http://www.ngdc.noaa.gov/mgg/wcd" target="_blank">NGDC Water Column Sonar Data Archive</a><br>
    <a href="http://www.ngdc.noaa.gov/metadata/published/NOAA/NESDIS/NGDC/MGG/Sonar_Water_Column/iso" target="_blank">Metadata for this archive</a><br>
    <a href="http://noaa.maps.arcgis.com/home/item.html?id=78c7416d9df34a40bf096435d8236baf" target="_blank">NOAA GeoPlatform entry</a><br>

    NGDC <a href="http://ngdc.noaa.gov/mgg/bathymetry/" target="_blank">Bathymetry</a>, 
    <a href="http://ngdc.noaa.gov/mgg/bathymetry/multibeam.html" target="_blank">Multibeam</a>, and 
    <a href="http://ngdc.noaa.gov/mgg/bathymetry/hydro.html" target="_blank">NOS Hydrographic Survey</a> Archives
    </div>    
</div>