<div class="dijitDialog" role="dialog" aria-labelledby="${id}_title">
    <div data-dojo-attach-point="titleBar" class="dijitDialogTitleBar">
        <span data-dojo-attach-point="titleNode" class="dijitDialogTitle" id="${id}_title"
              role="header" level="1"></span>
        <span style="display: none;" data-dojo-attach-point="closeButtonNode" class="dijitDialogCloseIcon"
              data-dojo-attach-event="ondijitclick: onCancel" title="${buttonCancel}" role="button" tabIndex="-1">
            <span data-dojo-attach-point="closeText" class="closeText" title="${buttonCancel}">x</span>
        </span>
    </div>
    <div data-dojo-attach-point="containerNode" class="dijitDialogPaneContent">
        <table cellpadding="6" cellspacing="3">
        <tr>
            <td>
                Collection Date:<br>
                <label for="startDate">Start:</label>
                <input type="text" data-dojo-attach-point='startDate' name="startDate" id="startDate" value="" data-dojo-type="dijit/form/DateTextBox" style="width: 90px;"/>
                <label for="startDate">End:</label>
                <input type="text" data-dojo-attach-point='endDate' name="endDate" id="endDate" value="" data-dojo-type="dijit/form/DateTextBox" style="width: 90px;"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="cruiseIdText">Cruise ID:</label>
                <input data-dojo-type="dijit/form/TextBox" type="text" name="cruiseId" data-dojo-attach-point="cruiseIdText" style="width: 200px;">
            </td>
        </tr>
        <tr>
            <td>
                <label for="instrumentSelect">Instrument:</label>
                <select data-dojo-type="dijit/form/MultiSelect" data-dojo-attach-point="instrumentSelect" data-dojo-props="size:3" name="instruments" style="width: 120px;">
                    <option value="EM122">EM122</option>
                    <option value="EM302">EM302</option>
                    <option value="Simrad EK60">Simrad EK60</option>                    
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Number of Beams:
                <label for="minNumBeamsSpinner">Min:</label>
                <div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="minNumBeamsSpinner" 
                    data-dojo-props="intermediateChanges:true, smallDelta:1, constraints:{min:0,max:450,places:0}" name="minNumBeams" style="width: 55px"></div>
                <label for="maxNumBeamsSpinner">Max:</label>
                <div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="maxNumBeamsSpinner" 
                    data-dojo-props="intermediateChanges:true, smallDelta:1, constraints:{min:0,max:450,places:0}" name="maxNumBeams" style="width: 55px"></div>
            </td>
        </tr>
        <tr>
            <td>
                Recording Range (m):
                <label for="minRecordingRangeSpinner">Min:</label>
                <div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="minRecordingRangeSpinner" 
                    data-dojo-props="intermediateChanges:true, smallDelta:100, constraints:{min:0,max:10000,places:0}" name="minRecordingRange" style="width: 55px"></div>
                <label for="maxRecordingRangeSpinner">Max:</label>
                <div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="maxRecordingRangeSpinner" 
                    data-dojo-props="intermediateChanges:true, smallDelta:100, constraints:{min:0,max:10000,places:0}" name="maxRecordingRange" style="width: 55px"></div>
            </td>
        </tr>
        <tr>
            <td>
                Swath Width (degrees):
                <label for="minSwathWidthSpinner">Min:</label>
                <div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="minSwathWidthSpinner" 
                    data-dojo-props="intermediateChanges:true, smallDelta:1, constraints:{min:0,max:180,places:0}" name="minSwathWidth" style="width: 55px"></div>
                <label for="maxSwathWidthSpinner">Max:</label>
                <div data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="maxSwathWidthSpinner" 
                    data-dojo-props="intermediateChanges:true, smallDelta:1, constraints:{min:0,max:180,places:0}" name="maxSwathWidth" style="width: 55px"></div>
            </td>
        </tr>
        <!--
        <tr>
            <td>
                Frequency (kHz):
                <label for="minFrequencySpinner">Min:</label>
                <div disabled data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="minFrequencySpinner" 
                    data-dojo-props="intermediateChanges:true, smallDelta:1, constraints:{min:0,max:710,places:0}" name="minFrequency" style="width: 55px"></div>
                <label for="maxFrequencySpinner">Max:</label>
                <div disabled data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="maxFrequencySpinner" 
                    data-dojo-props="intermediateChanges:true, smallDelta:1, constraints:{min:0,max:710,places:0}" name="maxFrequency" style="width: 55px"></div>
            </td>            
        </tr>
        -->
        </table>
        <div class="dijitDialogPaneActionBar right-align">
            <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="submitButton" type="submit">OK</button>
            <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="cancelButton">Cancel</button>
            <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="resetButton">Reset</button>
        </div>
    </div>
</div>
